<div class="container_perfil">
    <div class="box_perfil">
        <div class="column">
            <div class="card-presentacion">
                <div class="rownamecard">
                    <div class="columncard">
                        <img class="logo text-center" src="../../../content/images/logo_cdt.png">
                        <img class="foto-perfil rounded-circle" [src]="imagen?.archivo || ulrImgDefault">
                        <label for="file-upload" class="custom-file-upload text-center">
                            <fa-icon icon="upload"></fa-icon> {{lblImagenPerfil}}
                        </label>
                        <input id="file-upload" type="file" accept=".png, .jpeg, .jpg"
                            (change)="cargarImagen($event, tipoArchivo.IMAGEN_PERFIL)" />
                    </div>
                    <div class="columncard">
                        <qrcode style="display: none;" class="codigo" *ngIf="qrCard" [qrdata]="qrCard" [width]="81"></qrcode>
                        <div class="titulo_div">
                            <h2 class="titulo" *ngIf="true">{{persona?.nombre}} {{persona?.apellido}}</h2>
                            <label class="label_card" *ngIf="hojaVidaVo?.informacionPersonal?.profesion">Profesión</label>
                            <label class="label_card2" *ngIf="hojaVidaVo?.informacionPersonal?.profesion">{{hojaVidaVo?.informacionPersonal?.profesion}}</label>
                            <br>
                            <label class="label_card">CC</label>
                            <label class='label_card2'> {{persona?.numeroDocumento}}</label>
                            <br>
                            <label class="label_card" *ngIf="hojaVidaVo?.informacionPersonal?.telefono">Celular</label>
                            <label class="label_card2" *ngIf="hojaVidaVo?.informacionPersonal?.telefono">{{hojaVidaVo?.informacionPersonal?.telefono}}</label>
                            <br>
                            <label class="label_card">Email</label>
                            <label class="label_card2">{{persona?.email}}</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column2 hdvCelular">
                <h2 class="titulo color-letra">{{persona?.nombre}} {{persona?.apellido}}</h2>
                <p class="texto-hoja-vida color-letra">{{hojaVidaVo?.informacionPersonal?.perfilProfesional}}</p><br><br>
                <div *ngIf="hojaVidaVo?.experienciaLaboral.length > 0" class="experiencias">
                    <h4 class="titulo-experiencia color-letra">EXPERIENCIA LABORAL</h4><br>
                    <div *ngFor="let item of hojaVidaVo?.experienciaLaboral">
                        <div style="display: flex;">
                            <fa-icon icon="building" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                            <p class="texto-experiencia color-letra">{{item?.nombreEmpresa}}</p>
                        </div>
                        <div style="display: flex;">
                            <fa-icon icon="user-tie" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                            <p class="texto-experiencia color-letra">{{item?.cargo?.cargo}}</p>
                        </div>
                        <div style="display: flex;">
                            <fa-icon icon="thumbtack" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                            <div *ngIf="item?.trabajoActual==true">
                                <p class="texto-experiencia color-letra">{{item?.fechaInicio}} / Actualidad</p>
                            </div>
                            <div *ngIf="item?.trabajoActual==false">
                                <p class="texto-experiencia color-letra">{{item?.fechaInicio}} / {{item?.fechaFin}}</p>
                            </div>
                        </div>
                        <div *ngIf="item?.ciudad || item.ciudadExtranjera" style="display: flex; margin-bottom: 1.3vw;">                        
                            <fa-icon icon="globe-americas" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                            <p class="texto-experiencia color-letra">{{item.ciudad ? this.getCiudad(item.ciudad + '') : item.ciudadExtranjera}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center" style="margin-bottom: 2.601vw; width: 100%;">
                <button (click)="verHojaVida()" class="btn ml-auto shadow-none boton-base boton-ver-hv">{{lblVerHojaVida}}</button>
                <button class="btn ml-auto shadow-none boton-base boton-busca-empleo" style="display: none;">
                    <fa-icon icon="suitcase" style="margin-right: 0.325vw; "></fa-icon>
                    {{lblBuscaEmpleo}}
                </button>
                <button class="btn ml-auto shadow-none boton-base boton-ver-ofertas" style="display: none;">
                    <fa-icon icon="bell" style="margin-right: 0.325vw; display: none;"></fa-icon>
                    {{lblVerOfertas}}
                </button>
                <button (click)="editarHojaVida()" class="btn ml-auto shadow-none boton-base boton-busca-empleo">
                    <fa-icon icon="id-card" style="margin-right: 0.325vw;"></fa-icon>
                    {{lblEditarHojaVida}}
                </button>
            </div>
            <div class="row rowIAS" style="justify-content: space-around; width: 80%;">
                <a href="https://www.procuraduria.gov.co/portal/" target="_blank" class="procuraduria"><img style="width: 100%;" src="../../../content/images/Image 29.png"/></a>
                <a href="https://www.contraloria.gov.co/" target="_blank" class="contraloria"><img style="width: 100%;" src="../../../content/images/Image 30.png"/></a>
                <a href="https://www.policia.gov.co/" target="_blank" class="policia"><img style="width: 100%;" src="../../../content/images/Image 31.png"/></a>
            </div>
            <div class="row rowIAS" style="justify-content: space-around; width: 60%;">
                <a href="https://srvcnpc.policia.gov.co/PSC/frm_cnp_consulta.aspx" target="_blank" class="srvcpolicia"><img style="width: 100%;" src="../../../content/images/medidas-correctivas.jpg"/></a>
                <a href="https://consulta2.simit.org.co/Simit/indexA.jsp" target="_blank" class="simit"><img style="width: 100%;" src="../../../content/images/sim.jpg"/></a>
            </div>
        </div>
        <div class="column2 hdvDesktop">
            <h2 class="titulo color-letra" style="text-align: center; font-size: 2.601vw;">{{persona?.nombre}} {{persona?.apellido}}</h2>
            <p class="texto-hoja-vida color-letra">{{hojaVidaVo?.informacionPersonal?.perfilProfesional}}</p><br><br>
            <div *ngIf="hojaVidaVo?.experienciaLaboral.length > 0" class="experiencias">
                <h4 class="titulo-experiencia color-letra" style="font-size: 1.463vw;">EXPERIENCIA LABORAL</h4><br>
                <div *ngFor="let item of hojaVidaVo?.experienciaLaboral">
                    <div style="display: flex;">
                        <fa-icon icon="building" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                        <p class="texto-experiencia color-letra">{{item?.nombreEmpresa}}</p>
                    </div>
                    <div style="display: flex;">
                        <fa-icon icon="user-tie" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                        <p class="texto-experiencia color-letra">{{item?.cargo?.cargo}}</p>
                    </div>
                    <div style="display: flex;">
                        <fa-icon icon="thumbtack" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                        <div *ngIf="item?.trabajoActual==true">
                            <p class="texto-experiencia color-letra">{{item?.fechaInicio}} / Actualidad</p>
                        </div>
                        <div *ngIf="item?.trabajoActual==false">
                            <p class="texto-experiencia color-letra">{{item?.fechaInicio}} / {{item?.fechaFin}}</p>
                        </div>
                    </div>
                    <div *ngIf="item?.ciudad || item.ciudadExtranjera" style="display: flex; margin-bottom: 1.3vw;">                        
                        <fa-icon icon="globe-americas" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                        <p class="texto-experiencia color-letra">{{item.ciudad ? this.getCiudad(item.ciudad + '') : item.ciudadExtranjera}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>