<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card-presentacion">
                <qrcode class="codigo" [qrdata]="qrCard" [width]="81"></qrcode>
                <div class="row">
                    <div class="col-md-6" style="padding-top: 25px;">
                        <img class="logo text-center" src="../../../content/images/logo_cdt.png">
                        <img class="foto-perfil" src="../../../content/images/Image 28.png">
                    </div>
                    <div class="col-md-6" style="margin-top: 110px;">
                        <h2 class="titulo" *ngIf="true">Juan Pérez</h2>
                        <label style="color: #072278; font-weight: bold;">CC</label>
                        <label style="color: #645d5d; font-size: 13px;"> 1234567</label>
                        <br>
                        <label style="color: #072278; font-weight: bold;">Código</label>
                        <label style="color: #645d5d; font-size: 13px;"> 1234567</label>
                    </div>
                </div>
            </div>
            <div class="text-center" style="margin-bottom: 40px; margin-left: 13.5px; width: 100%;">
                <button (click)="verHojaVida()" class="btn ml-auto shadow-none boton-base boton-ver-hv">{{lblVerHojaVida}}</button>
                <button class="btn ml-auto shadow-none boton-base boton-busca-empleo">
                    <fa-icon icon="suitcase" style="margin-right: 5px;"></fa-icon>
                    {{lblBuscaEmpleo}}
                </button>
                <button class="btn ml-auto shadow-none boton-base boton-ver-ofertas">
                    <fa-icon icon="bell" style="margin-right: 5px;"></fa-icon>
                    {{lblVerOfertas}}
                </button>
                <button (click)="editarHojaVida()" class="btn ml-auto shadow-none boton-base boton-editar-hv">
                    <fa-icon icon="id-card" style="margin-right: 5px;"></fa-icon>
                    {{lblEditarHojaVida}}
                </button>
            </div>
            <div class="row" style="justify-content: center; margin-left: 15px;">
                <img class="procuraduria" src="../../../content/images/Image 29.png">
                <img class="contraloria" src="../../../content/images/Image 30.png">
                <img class="policia" src="../../../content/images/Image 31.png">
            </div>
        </div>
        <div class="col-md-4" style="margin-left:30px;">
            <h2 class="titulo">Juan Pérez</h2>
            <p class="texto-hoja-vida">"Sed ut perspiciatis quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
                odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
                in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
                quo voluptas nulla pariatur?"</p>
        </div>
    </div>
</div>