<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="card-presentacion">
                <qrcode class="codigo" [qrdata]="qrCard" [width]="81"></qrcode>
                <div class="row">
                    <div class="col-md-6" style="padding-top: 25px;">
                        <img class="logo text-center" src="../../../content/images/logo_cdt.png">
                        <img class="foto-perfil rounded-circle" [src]="imagen?.archivo || ulrImgDefault">
                        <label for="file-upload" class="custom-file-upload text-center">
                            <fa-icon icon="upload"></fa-icon> {{lblImagenPerfil}}
                        </label>
                        <input id="file-upload" type="file" accept=".png, .jpeg, .jpg"
                            (change)="cargarImagen($event, tipoArchivo.IMAGEN_PERFIL)" />
                    </div>
                    <div class="col-md-6" style="margin-top: 110px;">
                        <h2 class="titulo" *ngIf="true">{{persona?.nombre}} {{persona?.apellido}}</h2>
                        <label style="color: #072278; font-weight: bold;">CC</label>
                        <label style="color: #645d5d; font-size: 13px;"> {{persona?.numeroDocumento}}</label>
                        <br>
                        <label style="color: #072278; font-weight: bold;">Email</label>
                        <label style="color: #645d5d; font-size: 13px;">{{persona?.email}}</label>
                    </div>
                </div>
            </div>
            <div class="text-center" style="margin-bottom: 40px; margin-left: 13.5px; width: 100%;">
                <button (click)="verHojaVida()" class="btn ml-auto shadow-none boton-base boton-ver-hv">{{lblVerHojaVida}}</button>
                <button class="btn ml-auto shadow-none boton-base boton-busca-empleo" style="display: none;">
                    <fa-icon icon="suitcase" style="margin-right: 5px; "></fa-icon>
                    {{lblBuscaEmpleo}}
                </button>
                <button class="btn ml-auto shadow-none boton-base boton-ver-ofertas" style="display: none;">
                    <fa-icon icon="bell" style="margin-right: 5px; display: none;"></fa-icon>
                    {{lblVerOfertas}}
                </button>
                <button (click)="editarHojaVida()" class="btn ml-auto shadow-none boton-base boton-editar-hv">
                    <fa-icon icon="id-card" style="margin-right: 5px;"></fa-icon>
                    {{lblEditarHojaVida}}
                </button>
            </div>
            <div class="row" style="justify-content: center; margin-left: 15px;">
                <a href="https://www.procuraduria.gov.co/portal/" target="_blank"><img class="procuraduria" src="../../../content/images/Image 29.png"></a>
                <a href="https://www.contraloria.gov.co/" target="_blank"><img class="contraloria" src="../../../content/images/Image 30.png"></a>
                <a href="https://www.policia.gov.co/" target="_blank"><img class="policia" src="../../../content/images/Image 31.png"></a>
            </div>
        </div>
        <div class="col-md-5" style="margin-left:30px;">
            <h2 class="titulo">{{persona?.nombre}} {{persona?.apellido}}</h2><br>
            <p class="texto-hoja-vida">{{hojaVidaVo?.informacionPersonal?.perfilProfesional}}</p><br><br>
            <div *ngIf="hojaVidaVo?.experienciaLaboral.length > 0">
                <h4 class="titulo-experiencia">EXPERIENCIA LABORAL</h4><br>
                <div *ngFor="let item of hojaVidaVo?.experienciaLaboral">
                    <div style="display: flex;">
                        <fa-icon icon="building"></fa-icon>
                        <p class="texto-experiencia">{{item?.nombreEmpresa}}</p>
                    </div>
                    <div style="display: flex;">
                        <fa-icon icon="user-tie"></fa-icon>
                        <p class="texto-experiencia">{{item?.cargo.cargo}}</p>
                    </div>
                    <div style="display: flex;">
                        <fa-icon icon="thumbtack"></fa-icon>
                        <p class="texto-experiencia">{{item?.fechaInicio}} / {{item?.fechaFin}}</p>
                    </div>
                    <div *ngIf="item?.ciudad" style="display: flex; margin-bottom: 20px;">
                        <fa-icon icon="globe-americas"></fa-icon>
                        <p class="texto-experiencia">{{item?.ciudad}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>