<div class="app-loading" *ngIf="cmRestaurarContra === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="estilo_home" *ngIf="cmRestaurarContra !== null">
    <img class="logo" src="https://d1jbv8ig3bmrxx.cloudfront.net/logo_cdt_fondo2.png">
    <div class="div_centro">
        <h3 class="titulo1">{{Recupera}}</h3>
        <div class="inputs">
            <label class="label-restaurar" style="color: white;">{{Email}}</label>
            <input type="text" class="estilo_input" [(ngModel)]="nombre">
            <label *ngIf="mensajeNombre" class="text-danger">
                {{mensajeNombre}}
            </label>
        </div>
        <button class="button_iniciar_sesion" (click)="resetPassword()">{{Recuperar}}</button>
        <a class="recoverPassword" (click)="ventanaInicioSesionRegistrado()">{{Recordar}}</a>
    </div>
</div>
