.contenedor {
    display: flex;
    justify-content: center;
  
    .div-center {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: min-content;
  
      .botones-arriba {
        display: flex;
        flex-direction: row;
        width: 783px;
        flex-wrap: wrap;
  
        .boton-clicked {
          @extend .boton-base;
          // background-color: yellow;
          background: #b4e5fe 0% 0% no-repeat padding-box;
        }
  
        .boton-no-clicked {
          @extend .boton-base;
          background: #f7f7f7 0% 0% no-repeat padding-box;
        }
  
        .boton-base {
          width: 261px;
          height: 41px;
          // background: #ffffff 0% 0% no-repeat padding-box;
          // box-shadow: 0px 3px 6px #00000029;
          border-radius: 13px;
          opacity: 1;
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 0rem 1rem;
          margin-top: 5px;
          align-self: flex-start;
  
          .border-icon {
            margin-right: 0.325vw;
            width: 34px;
            height: 34px;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
          }
  
          .div-info-boton {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
  
            .titulo-boton {
              font-size: 14px;
              font-family: Arial, Helvetica, sans-serif;
              color: #6d7184;
              letter-spacing: 0px;
              opacity: 1;
              margin: 0rem;
              text-align: initial;
            }
          }
        }
      }
  
      .ngnum0 {
        width: 61.378vw;
        align-self: center;
        justify-self: center;
        background: transparent linear-gradient(181deg, #edeff2 0%, #edeff2 100%) 0% 0% no-repeat padding-box;
        border-radius: 1.951vw 1.951vw 4.617vw 4.617vw;
        opacity: 1;
        margin-top: 3.121vw;
        margin-bottom: 3.121vw;
        padding: 0rem;
        padding-top: 3.121vw;
        padding-bottom: 3.121vw;
        max-width: none;
  
        .estilo_titulo {
          text-align: left;
          font-size: 1.3vw;
          font-family: 'Open Sans';
          font-weight: bold;
          letter-spacing: 0px;
          color: #1b2455;
          opacity: 1;
          padding-left: 1.7rem;
        }
  
        .estilo_label {
          width: 100%;
          text-align: left;
          font-size: 0.91vw;
          font-family: Arial;
          letter-spacing: 0px;
          color: #1b2455;
          opacity: 1;
          padding-left: 1.04vw;
          margin-bottom: 0.52vw;
        }
  
        .row {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 100%;
          margin: 0rem;
  
          .row-2 {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 2.5%;
            padding-right: 2.5%;
  
            .select-70 {
              @extend .form-group2;
              width: 67.5%;
            }
  
            .select-30 {
              @extend .form-group2;
              width: 27.5%;
            }
  
            .form-group2 {
              display: flex;
              flex-direction: column;
              align-items: center;
              // width: 90%;
  
              .estilo_inputs {
                min-height: 3rem;
                padding-right: 1rem;
                padding-left: 1.5rem;
                font-size: 0.875rem;
                width: 100%;
                border: none;
                border-radius: 23px;
              }
            }
          }
  
          .column {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
  
            .form-group {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 90%;
  
              .estilo_inputs {
                min-height: 3rem;
                padding-right: 1rem;
                padding-left: 1.5rem;
                font-size: 0.875rem;
              }
  
              .no-publicar {
                display: flex;
                flex-direction: row;
                width: 90%;
                margin-top: 1.04vw;
  
                .radioB {
                  margin-top: 0.325vw;
                  margin-right: 0.325vw;
                }
  
                .label-terminos {
                  text-align: center;
                  margin-left: 0rem;
                }
              }
  
              .genero {
                display: flex;
                flex-direction: row;
                align-self: flex-start;
                font-size: 0.91vw;
  
                .radio-inline {
                  margin-left: 1.04vw;
                  display: flex;
  
                  .radio-button {
                    border: 0rem;
                    width: 100%;
                    height: 0.832vw;
                  }
                }
  
                .div_checkbox {
                  width: 1vw;
                  margin-right: 0.26vw;
                }
  
                .div_radiobutton {
                  width: 0.832vw;
                  margin-right: 0.26vw;
                }
  
                .checkbox-estado {
                  height: 1vw;
                  width: 1vw;
                }
              }
            }
  
            .estilo_inputs_idioma {
              min-height: 3rem;
              padding-right: 1rem;
              padding-left: 1.5rem;
              font-size: 0.875rem;
              width: 50%;
              border: none;
              border-radius: 23px;
            }
  
            .estilo_inputs_nivel_idioma {
              min-height: 3rem;
              padding-right: 1rem;
              padding-left: 1.5rem;
              font-size: 0.875rem;
              width: 30%;
              border: none;
              border-radius: 23px;
            }
  
            .btn-success {
              width: 132px;
              height: 31px;
              background: #2699fb 0% 0% no-repeat padding-box;
              border-radius: 24px;
              align-items: center;
  
              .titulo-boton {
                text-align: center;
                font: normal normal normal 10px/12px Roboto;
                letter-spacing: 0px;
                color: #ffffff;
                margin: 0rem;
              }
            }
  
            .boton-volver {
              width: 132px;
              height: 31px;
              background: #e5e5e5 0% 0% no-repeat padding-box;
              border-radius: 24px;
              align-items: center;
  
              .titulo-boton {
                text-align: center;
                font: normal normal normal 10px/12px Roboto;
                letter-spacing: 0px;
                color: #1b2455;
                margin: 0rem;
              }
            }
          }
  
          .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 95%;
  
            .estilo_inputs {
              min-height: 3rem;
              padding-right: 1rem;
              padding-left: 1.5rem;
              font-size: 0.875rem;
              width: 100%;
              border: none;
              border-radius: 23px;
            }
          }
  
          .form-group-descripcion {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            margin-bottom: 1.04vw;
          }
  
          .estilo_campo_requerido {
            text-align: left;
            margin-bottom: 0.52vw;
            font: 1.495vw Arial;
            letter-spacing: 0px;
            color: #fd2b4c;
            opacity: 1;
          }
        }
      }
    }
  }

  .contenedor2 {
  display: flex;
  justify-content: center;

  .div-center2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;

    .ngnum1 {
      width: 767px;
      //align-self: center;
      //justify-self: center;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      opacity: 1;
      margin-top: 25px;
      margin-bottom: 28px;
      //padding: 0rem;
      padding-top: 24px;
      padding-bottom: 28px;
      padding-left: 23px;
      max-width: none;

      .titulo_oferta {
        text-align: left;
        font-size: 12px;
        font-family: 'Roboto';
        font-weight: bold;
        letter-spacing: 0px;
        color:#645D5D;
        opacity: 1;
      }

      .profesion_oferta {
        text-align: left;
        font-size: 1.3vw;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #645d5d;
        opacity: 1;
        margin-left: 1rem;
      }

      .descripcion_profesion {
        text-align: left;
        font-size: 11px;
        font-family: 'Roboto';
        font-weight: bold;
        letter-spacing: 0px;
        color: #7E7474;
        opacity: 1;
        line-height: 17px;
        //margin-left: 1rem;
      }

      .titulo_oferta_previsualizacion {
        text-align: left;
        font-size: 12px;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #1fb9fd;
        opacity: 1;
        margin-left: 1rem;
      }

      .tabla_oferta {
        margin-left: 8%;
        //margin-right: 10rem;
        .des_titulo{
          font-family: 'Roboto';
          font-size: 12px;
          font-weight: normal;
          color: #7E7474;
          letter-spacing: 0px;
        }
      }
    }

    .estilo_titulo2 {
      margin-top: 6%;
      margin-right: 83%;
      font-size: 20px;
      font-family: 'Roboto';
      font-weight: 500;
      letter-spacing: 0px;
      color: #1b2455;
      opacity: 1;
    }
  }
}

.contenedor3 {
    display: flex;
    justify-content: center;
  
    .div-center3 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: min-content;
  
      .titulo_aspirantes {
        font-family: 'Roboto';
        color: #1B2455;
        font-size: 20px;
        margin-bottom: 25px;
        font-weight: bolder;
        margin-right: 52%;
      }
      .cuerpo {
        width: 1071px;
        display: flex;

        .buscador {
          display: flex;
          flex-flow: column;
          background: #f5f5f5 0% 0% no-repeat padding-box;
          height: 640px;
          width: 126px;
          //margin-bottom: 145px;
          //margin-left: 178;
          //margin-right: 24px; //1062
          .input-buscador {
            display: flex;
            margin-top: 23px;
            margin-left: 15px;
            margin-right: 15px;
            background: #ffffff 0% 0% no-repeat padding-box;
            opacity: 1;
            width: 93px;
            height: 15px;
            .form-control {
              width: 93px;
              height: 15px;
              font-size: 9px;
            }
          }
          .empresas {
            margin-top: 19px;
            .titulo {
              display: flex;
              font-family: 'Roboto';
              color: #020d52;
              text-align: left;
              margin-left: 23px;
              margin-bottom: 0px;
              font-size: 9px;
              font-weight: normal;
              opacity: 1;
            }
            .resultado {
              display: flex;
              font-family: 'Roboto';
              font-size: 10px;
              color: #5b5c62;
              opacity: 1;
              margin-top: 4px;
              font-weight: normal;
              text-align: left;
              margin-left: 23px;
            }
          }
          .Sector {
            height: 61px;
            margin-top: 0px;
            .titulo {
              display: flex;
              font-family: 'Roboto';
              color: #020d52;
              text-align: left;
              margin-left: 23px;
              margin-top: 2px;
              font-size: 9px;
              font-weight: normal;
              opacity: 1;
              margin-bottom: 4px;
            }
            .resultado {
              display: flex;
              font-family: 'Roboto';
              font-size: 10px;
              color: #5b5c62;
              opacity: 1;
              margin-top: 4px;
              font-weight: normal;
              text-align: left;
              margin-left: 18px;
              border: none;
              background: none;
            }
          }
        }
        .perfiles {
          display: flex;
          background: #f8f8f8;
          width: 767px;
          height: 85px;
          margin-left: 24px;
          align-items: center;
          margin-bottom: 26px;
          justify-content: space-between;
          .mitad1 {
            width: 272px;
            height: 85px;
            display: flex;
            .imagen {
              display: flex;
              width: 56px;
              height: 56px;
              //background-color: black;
              border-radius: 130px;
              border: none;
              margin-top: 14px;
              margin-left: 43px;
              margin-right: 24px;
              margin-bottom: 15px;
            }
            p.nombre {
              font-size: 15px;
              font-family: 'Roboto';
              font-weight: bold;
              position: relative;
              top: 23%;
              margin-bottom: 20px;
              width: 150px;
              height: min-content;
              color: #020D52;
              line-height: 15px;
            }
            p.carrera{
              font-size: 13px;
              font-family: 'Roboto';
              color: #7E7474;
              opacity: 1;
              font-weight: bold;
              //margin-top: 3px;
            }
          }
          .mitad2 {
            //width: 170px;
            max-width: max-content;
            height: 85px;
            display: flex;
            
            p.resumen {
              font-size: 11px;
              font-family: 'Roboto';
              font-weight: normal;
              text-align: left;
              //margin-left:27px;
              margin-right: 54px;
              //margin-top: 19px;
              margin-bottom: 0px;
            }
          }
          .parte3{
            width: 111px;
            height: 31px;
            .textp3{
              //font-family: 'Roboto';
              font-size: 11px;
              line-height: 16px;
              color: #7E7474;
              font-weight: bold;
              margin-bottom: 0px;
            }
            .textp4{
              font-size: 11px;
              line-height: 16px;
              font-weight: normal;
              color: #7E7474;
            }
          }
          .parte4{
            width: 83px;
            height: 85px;
            background: #1A9FEF;
            text-align: center;
            padding-top: 20px;
            .verhv{
              font-family: 'Roboto';
              font-size: 12px;
              color: #FFFFFF;
              line-height: 24px;
              opacity: 1;

            }
          }
        }
        .controls {
          display: flex;
          font-size: 15px;
          font-family: 'Roboto';

          height: 20px;
          margin-left: 40%;
          margin-bottom: 40px;
          //padding: 5%;
        }
      }
      .ngnum3 {
        width: 61.378vw;
        align-self: center;
        justify-self: center;
        background: #F8F8F8 0% 0% no-repeat padding-box;
        // background: transparent linear-gradient(181deg, #F8F8F8 0%, #71829c 100%) 0% 0% no-repeat padding-box;
        // border-radius: 1.951vw 1.951vw 4.617vw 4.617vw;
        opacity: 1;
        margin-top: 3.121vw;
        margin-bottom: 3.121vw;
        padding: 0rem;
        padding-top: 3.121vw;
        padding-bottom: 3.121vw;
        max-width: none;

        .foto-perfil {
            top: 8.648vw;
            margin-left: 2.536vw;
            width: 10.923vw;
            height: 10.923vw;
            //background: transparent url('../../../content/images/Image\ 28.png') 0% 0% no-repeat padding-box;
            opacity: 1;
            margin-bottom: 0.455vw;
          }
      }
    }
}

.contenedor4{
  display: -ms-inline-grid;
  justify-content: center;
  padding-left: 150px;
  padding-bottom: 119px;
  .titulo5{
    color: #1B2455;
    font-size: 20px;
    opacity: 1;
    font-family: 'Roboto';
    font-weight: bolder;
  }
  .buscar2{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    width: 355px;
    height: 48px;
    opacity: 1;
    border: none;
    //color: #BABABA;
    margin-right: 23px;
    padding-left: 1%;
    font-family: 'Roboto';
  }
  .btn-buscar{
    background: #151D5C;
    width: 95px;
    height: 27px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 15px;
    letter-spacing: 0px;
    opacity: 1;
  }
}