<div class="contenedor">
    <div class="div-center">
        <div class="botones-arriba">
            <button class="btn boton-no-clicked" (click)="crearOferta()">
                <fa-icon [icon]="faCommentDots" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Crear oferta</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="editarPerfil()">
                <fa-icon [icon]="faEllipsisH" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Editar perfil</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="clubEmpresas()">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Club de empresas</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="controlaOferta()">
                <fa-icon icon="eye" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Controla tus ofertas</p>
                </div>
            </button>
            <button class="btn boton-clicked" (click)="membresia()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Membresía</p>
                </div>
            </button>
        </div>
        <div class="ovalo-arriba">
            <div class="circulo-ovalo">
                <p class="texto-circulo">1 oferta</p>
            </div>
            <div class="circulo-ovalo">
                <p class="texto-circulo">3 ofertas</p>
            </div>
            <div class="circulo-ovalo">
                <p class="texto-circulo">5 ofertas</p>
            </div>
            <div class="circulo-ovalo">
                <p class="texto-circulo">Flexi</p>
                <p class="texto-flexi">16 ofertas</p>
                <p class="texto-flexi">85 hojas de vida</p>
            </div>
        </div>
        <div class="botones-comprar">
            <button class="btn boton-comprar" (click)="pagoBronce(longContent)">
                <p class="texto-boton-comprar">Comprar</p>
            </button>
            <button class="btn boton-comprar" (click)="pagoPlata(longContent)">
                <p class="texto-boton-comprar">Comprar</p>
            </button>
            <button class="btn boton-comprar" (click)="pagoOro(longContent)">
                <p class="texto-boton-comprar">Comprar</p>
            </button>
            <button class="btn boton-comprar" (click)="pagoDiamante(longContent)">
                <p class="texto-boton-comprar">Comprar</p>
            </button>
        </div>
        <div class="div-infos">
            <div class="div-bronce">
                <div class="logo-bronce"></div>
                <p class="titulo">Bronce</p>
                <div class="info info-border">
                    <p class="texto-info">Ofertas de empleo ilimitadas</p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas">
                    Ver más
                </button>
            </div>
            <div class="div-bronce">
                <div class="logo-plata"></div>
                <p class="titulo">Plata</p>
                <div class="info info-border">
                    <p class="texto-info">Ofertas de empleo ilimitadas</p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas">
                    Ver más
                </button>
            </div>
            <div class="div-bronce">
                <div class="logo-oro"></div>
                <p class="titulo">Oro</p>
                <div class="info info-border">
                    <p class="texto-info">Ofertas de empleo ilimitadas</p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas">
                    Ver más
                </button>
            </div>
            <div class="div-bronce">
                <div class="logo-diamante"></div>
                <p class="titulo">Diamante</p>
                <div class="info info-border">
                    <p class="texto-info">Ofertas de empleo ilimitadas</p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info">
                    <p class="texto-info">Hojas de vida ilimitadas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas">
                    Ver más
                </button>
            </div>
        </div>
        <button class="btn boton-volver" (click)="backClicked()">
            <fa-icon icon="chevron-left" class="border-icon" ></fa-icon>
            <p class="titulo-boton">Volver</p>
        </button>
    </div>
</div>
<div class="footer">
    <a href="https://instagram.com/clubdeltrabajo?igshid=1m37k1eb9p16a" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" path="fill: currentColor !important;" src="../../../content/images/instagram.png"></a>
    <a href="https://twitter.com/ClubdelTrabajo" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" src="../../../content/images/twitter.png"></a>
    <a href="https://www.facebook.com/Club-del-Trabajo-100955765079986/" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" src="../../../content/images/facebook.png"></a>
</div>

<ng-template #longContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" style="color: #1FB9FD;">Por favor Completa los siguientes datos</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="cuerpo">
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Nombres</p>
                    <input type="text" class="estilo_inputs" formControlName="nombre">
                    
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Apellidos</p>
                    <input type="text" class="estilo_inputs" formControlName="nombre">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Correo</p>
                    <input type="text" class="estilo_inputs" formControlName="nombre">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Teléfono</p>
                    <input type="text" class="estilo_inputs" formControlName="nombre">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Tipo e identificación</p>
                    <input type="text" class="estilo_inputs" formControlName="nombre">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Dirección</p>
                    <input type="text" class="estilo_inputs" formControlName="nombre">
                </div>
            </div>
            <!-- <div class="botones">
                <button (click)="mostrar=!mostrar" class="btn boton-volver"><p class="titulo-boton">Volver</p></button>
                <button (click)="mostrar=!mostrar" type="submit" class="btn boton-finalizar"><p class="titulo-boton">Finalizar</p></button>
            </div> -->
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="navigationUrl()">{{Aceptar}}</button>
    </div>
</ng-template>