<div class="app-loading" *ngIf="cmMembresias === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="contenedor" *ngIf="cmMembresias !== null">
    <div class="div-center">
        <div class="botones-arriba">
            <button class="btn boton-no-clicked" (click)="crearOferta()">
                <fa-icon [icon]="faCommentDots" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{CrearOfertaLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="editarPerfil()">
                <fa-icon [icon]="faEllipsisH" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{EditarPerfilLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="clubEmpresas()">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{ClubEmpresasLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="controlaOferta()">
                <fa-icon icon="eye" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{ControlaOfertasLabel}}</p>
                </div>
            </button>
            <button class="btn boton-clicked" (click)="membresia()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{MembresiaLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="juridica()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{AsesoriaJuridicaLabel}}</p>
                </div>
            </button>
        </div>
        <div class="ovalo-arriba">
            <div class="circulo-ovalo">
                <p class="texto-circulo">{{UnaOferta}}</p>
                <p class="texto-flexi">${{dataMembre[0]?.precioMembresia}} COP</p>
            </div>
            <div class="circulo-ovalo">
                <p class="texto-circulo">{{DosOfertas}}</p>
                <p class="texto-flexi">${{dataMembre[1]?.precioMembresia}} COP</p>
            </div>
            <div class="circulo-ovalo">
                <p class="texto-circulo">{{TresOfertas}}</p>
                <p class="texto-flexi">${{dataMembre[2]?.precioMembresia}} COP</p>
            </div>
            <div class="circulo-ovalo">
                <p class="texto-circulo">{{Flexi}}</p>
                <p class="texto-flexi">{{dataMembre[3]?.ofertas}} ofertas</p>
                <p class="texto-flexi">{{dataMembre[3]?.descargas}} hojas de vida</p>
                <p class="texto-flexi">${{dataMembre[3]?.precioMembresia}} COP</p>
            </div>
        </div>
        <div class="botones-comprar">
            <button class="btn boton-comprar" (click)="pagoUnaOferta(longContent)">
                <p class="texto-boton-comprar">{{Comprar}}</p>
            </button>
            <button class="btn boton-comprar" (click)="pagoDosOferta(longContent)">
                <p class="texto-boton-comprar">{{Comprar}}</p>
            </button>
            <button class="btn boton-comprar" (click)="pagoTresOferta(longContent)">
                <p class="texto-boton-comprar">{{Comprar}}</p>
            </button>
            <button class="btn boton-comprar" (click)="pagoFlexi(longContent)">
                <p class="texto-boton-comprar">{{Comprar}}</p>
            </button>
        </div>
        <div class="div-infos">
            <div class="div-bronce">
                <div class="logo-bronce"></div>
                <p class="titulo">{{BronceTitulo}}</p>
                <div class="info info-border" *ngIf="BronceDescrip1 !== ''">
                    <p class="texto-info">{{BronceDescrip1}}</p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info" *ngIf="BronceDescrip2 !== ''">
                    <p class="texto-info">{{BronceDescrip2}}</p>
                    <fa-icon [icon]="faAddressBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info" *ngIf="BronceDescrip3 !== ''">
                    <p class="texto-info">{{BronceDescrip3}}</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="BronceDescrip4 !== ''">
                    <p class="texto-info">{{BronceDescrip4}}</p>
                    <fa-icon [icon]="faServer" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="BronceDescrip5 !== ''">
                    <p class="texto-info">{{BronceDescrip5}}
                    </p>
                    <fa-icon [icon]="faShareAlt" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info" *ngIf="BronceDescrip6 !== ''">
                    <p class="texto-info">{{BronceDescrip6}}
                    </p>
                    <fa-icon [icon]="faBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas" (click)="pagoBronce(longContent)">
                    {{BronceValorLabel}} $ {{dataMembre[4]?.precioMembresia}} COP
                </button>
            </div>
            <div class="div-bronce">
                <div class="logo-plata"></div>
                <p class="titulo">{{PlataTitulo}}</p>
                <div class="info info-border" *ngIf="PlataDescrip1 !== ''">
                    <p class="texto-info">{{PlataDescrip1}}                        
                    </p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="PlataDescrip2 !== ''">
                    <p class="texto-info">{{PlataDescrip2}}
                    </p>
                    <fa-icon [icon]="faAddressBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="PlataDescrip3 !== ''">
                    <p class="texto-info">{{PlataDescrip3}}
                    </p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="PlataDescrip4 !== ''">
                    <p class="texto-info">{{PlataDescrip4}}</p>
                    <fa-icon [icon]="faServer" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info" *ngIf="PlataDescrip5 !== ''">
                    <p class="texto-info">{{PlataDescrip5}}
                    </p>
                    <fa-icon [icon]="faShareAlt" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info" *ngIf="PlataDescrip6 !== ''">
                    <p class="texto-info">{{PlataDescrip6}}
                    </p>
                    <fa-icon [icon]="faBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas" (click)="pagoPlata(longContent)">
                    {{PlataValorLabel}} $ {{dataMembre[5]?.precioMembresia}} COP
                </button>
            </div>
            <div class="div-bronce">
                <div class="logo-oro"></div>
                <p class="titulo">{{OroTitulo}}</p>
                <div class="info info-border" *ngIf="OroDescrip1 !== ''">
                    <p class="texto-info">{{OroDescrip1}}
                    </p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="OroDescrip2 !== ''">
                    <p class="texto-info">{{OroDescrip2}}</p>
                    <fa-icon [icon]="faAddressBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="OroDescrip3 !== ''">
                    <p class="texto-info">{{OroDescrip3}}</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="OroDescrip4 !== ''">
                    <p class="texto-info">{{OroDescrip4}}</p>
                    <fa-icon [icon]="faServer" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="OroDescrip5 !== ''">
                    <p class="texto-info">{{OroDescrip5}}
                    </p>
                    <fa-icon [icon]="faShareAlt" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info" *ngIf="OroDescrip6 !== ''">
                    <p class="texto-info">{{OroDescrip6}}
                    </p>
                    <fa-icon [icon]="faBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas" (click)="pagoOro(longContent)">
                    {{OroValorLabel}} $ {{dataMembre[6]?.precioMembresia}} COP
                </button>
            </div>
            <div class="div-bronce">
                <div class="logo-diamante"></div>
                <p class="titulo">{{DiamanteTitulo}}</p>
                <div class="info info-border" *ngIf="DiamanteDescrip1 !== ''">
                    <p class="texto-info">{{DiamanteDescrip1}}
                    </p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="DiamanteDescrip2 !== ''">
                    <p class="texto-info">{{DiamanteDescrip2}}</p>
                    <fa-icon [icon]="faAddressBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="DiamanteDescrip3 !== ''">
                    <p class="texto-info">{{DiamanteDescrip3}}
                    </p>
                    <fa-icon [icon]="faAddressBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="DiamanteDescrip4 !== ''">
                    <p class="texto-info">{{DiamanteDescrip4}}</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="DiamanteDescrip5 !== ''">
                    <p class="texto-info">{{DiamanteDescrip5}}</p>
                    <fa-icon [icon]="faServer" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border" *ngIf="DiamanteDescrip6 !== ''">
                    <p class="texto-info">{{DiamanteDescrip6}}
                    </p>
                    <fa-icon [icon]="faBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas" (click)="pagoDiamante(longContent)">
                    {{DiamanteValorLabel}} $ {{dataMembre[7]?.precioMembresia}} COP
                </button>
            </div>
        </div>
        <button class="btn boton-volver" (click)="backClicked()">
            <fa-icon icon="chevron-left" class="border-icon" ></fa-icon>
            <p class="titulo-boton">{{Volver}}</p>
        </button>
    </div>
</div>
<div *ngIf="cmMembresias !== null">
    <router-outlet name="footer"></router-outlet>
</div>

<ng-template #longContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" style="color: #1FB9FD;">{{InfoComprador}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formPayer" (ngSubmit)="onSubmit()">
        <div class="cuerpo">
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">{{Nombres}}</p>
                    <input type="text" class="estilo_inputs" formControlName="nombre">
                    
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">{{Apellidos}}</p>
                    <input type="text" class="estilo_inputs" formControlName="apellidos">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">{{EmailLabel}}</p>
                    <input type="text" class="estilo_inputs" formControlName="correo">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">{{Telefono}}</p>
                    <input type="text" class="estilo_inputs" formControlName="telefono">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">{{TipoDocumento}}</p>
                    <select class='estilo_inputs' formControlName="tipoIdentificacion">
                        <option [ngValue]="null" disabled>{{labels.SELECCIONE_LABEL}}</option>
                        <option
                            [ngValue]="documento"
                            *ngFor="let documento of documentos">
                            {{ documento.nombreTipo }}
                        </option>
                    </select>
                    <!-- <input type="text" class="estilo_inputs" formControlName="identificacion"> -->
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">{{Identificacion}}</p>
                    <input type="text" class="estilo_inputs" formControlName="identificacion">
                </div>
            </div>
            <!-- <div class="botones">
                <button (click)="mostrar=!mostrar" class="btn boton-volver"><p class="titulo-boton">Volver</p></button>
                <button (click)="mostrar=!mostrar" type="submit" class="btn boton-finalizar"><p class="titulo-boton">Finalizar</p></button>
            </div> -->
        </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="navigationUrl()">{{Aceptar}}</button>
    </div>
</ng-template>