<div class="contenedor">
    <div class="div-center">
        <div class="botones-arriba">
            <button class="btn boton-no-clicked" (click)="crearOferta()">
                <fa-icon [icon]="faCommentDots" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Crear oferta</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="editarPerfil()">
                <fa-icon [icon]="faEllipsisH" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Editar perfil</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="clubEmpresas()">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Club de empresas</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="controlaOferta()">
                <fa-icon icon="eye" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Controla tus ofertas</p>
                </div>
            </button>
            <button class="btn boton-clicked" (click)="membresia()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Membresía</p>
                </div>
            </button>
        </div>
        <div class="ovalo-arriba">
            <div class="circulo-ovalo">
                <p class="texto-circulo">1 oferta</p>
                <p class="texto-flexi">$50.000 COP</p>
            </div>
            <div class="circulo-ovalo">
                <p class="texto-circulo">2 ofertas</p>
                <p class="texto-flexi">$140.000 COP</p>
            </div>
            <div class="circulo-ovalo">
                <p class="texto-circulo">3 ofertas</p>
                <p class="texto-flexi">$240.000 COP</p>
            </div>
            <div class="circulo-ovalo">
                <p class="texto-circulo">Flexi</p>
                <p class="texto-flexi">10 ofertas</p>
                <p class="texto-flexi">20 hojas de vida</p>
                <p class="texto-flexi">$640.000 COP</p>
            </div>
        </div>
        <div class="botones-comprar">
            <button class="btn boton-comprar" (click)="pagoUnaOferta(longContent)">
                <p class="texto-boton-comprar">Comprar</p>
            </button>
            <button class="btn boton-comprar" (click)="pagoDosOferta(longContent)">
                <p class="texto-boton-comprar">Comprar</p>
            </button>
            <button class="btn boton-comprar" (click)="pagoTresOferta(longContent)">
                <p class="texto-boton-comprar">Comprar</p>
            </button>
            <button class="btn boton-comprar" (click)="pagoFlexi(longContent)">
                <p class="texto-boton-comprar">Comprar</p>
            </button>
        </div>
        <div class="div-infos">
            <div class="div-bronce">
                <div class="logo-bronce"></div>
                <p class="titulo">Bronce</p>
                <div class="info info-border">
                    <p class="texto-info">Permite la publicación
                        de 18 ofertas con
                        visualización de
                        todos sus aplicantes</p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info">
                    <p class="texto-info">50 descargas de hojas de vida</p>
                    <fa-icon [icon]="faAddressBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info">
                    <p class="texto-info">Membresía para club empresas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas" (click)="pagoBronce(longContent)">
                    Valor anual $ 880.000 COP
                </button>
            </div>
            <div class="div-bronce">
                <div class="logo-plata"></div>
                <p class="titulo">Plata</p>
                <div class="info info-border">
                    <p class="texto-info">Permite la publicación de 25
                        ofertas laborales con
                        visualización de todos sus
                        aplicantes                        
                    </p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">120 descargas de hojas de
                        vida
                    </p>
                    <fa-icon [icon]="faAddressBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Membresía para club
                        empresas
                    </p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info">
                    <p class="texto-info">Replica de 2 ofertas en
                        nuestras redes sociales
                    </p>
                    <fa-icon [icon]="faShareAlt" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas" (click)="pagoPlata(longContent)">
                    Valor anual $ 1.600.000 COP
                </button>
            </div>
            <div class="div-bronce">
                <div class="logo-oro"></div>
                <p class="titulo">Oro</p>
                <div class="info info-border">
                    <p class="texto-info">Permite publicaciones ilimitadas
                        de ofertas laborales
                    </p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">200 descargas de hojas de vida</p>
                    <fa-icon [icon]="faAddressBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Membresía club de empresas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Base de datos</p>
                    <fa-icon [icon]="faServer" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Replica de 4 ofertas en
                        nuestras redes sociales
                    </p>
                    <fa-icon [icon]="faShareAlt" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info">
                    <p class="texto-info">Asesoría jurídica en
                        contratación
                    </p>
                    <fa-icon [icon]="faBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas" (click)="pagoOro(longContent)">
                    valor anual $ 3.300.000 COP
                </button>
            </div>
            <div class="div-bronce">
                <div class="logo-diamante"></div>
                <p class="titulo">Diamante</p>
                <div class="info info-border">
                    <p class="texto-info">Publicación de ofertas
                        laborales ilimitadas
                    </p>
                    <fa-icon icon="suitcase" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Descarga ilimitada de
                        hojas de vida
                    </p>
                    <fa-icon [icon]="faAddressBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Membresía club empresas</p>
                    <fa-icon [icon]="faAddressCard" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Base de datos</p>
                    <fa-icon [icon]="faServer" class="icon" transform="grow-14"></fa-icon>
                </div>
                <div class="info info-border">
                    <p class="texto-info">Asesoría jurídica en
                        contratación
                    </p>
                    <fa-icon [icon]="faBook" class="icon" transform="grow-14"></fa-icon>
                </div>
                <button class="btn boton-ver-mas" (click)="pagoDiamante(longContent)">
                    valor anual $ 7.000.000 COP
                </button>
            </div>
        </div>
        <button class="btn boton-volver" (click)="backClicked()">
            <fa-icon icon="chevron-left" class="border-icon" ></fa-icon>
            <p class="titulo-boton">Volver</p>
        </button>
    </div>
</div>
<div class="footer">
    <a href="https://instagram.com/clubdeltrabajo?igshid=1m37k1eb9p16a" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" path="fill: currentColor !important;" src="../../../content/images/instagram.png"></a>
    <a href="https://twitter.com/ClubdelTrabajo" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" src="../../../content/images/twitter.png"></a>
    <a href="https://www.facebook.com/Club-del-Trabajo-100955765079986/" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" src="../../../content/images/facebook.png"></a>
</div>

<ng-template #longContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" style="color: #1FB9FD;">Por favor completa los siguientes datos para aumentar tu probabilidad de pago</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formPayer" (ngSubmit)="onSubmit()">
        <div class="cuerpo">
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Nombres</p>
                    <input type="text" class="estilo_inputs" formControlName="nombre">
                    
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Apellidos</p>
                    <input type="text" class="estilo_inputs" formControlName="apellidos">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Correo</p>
                    <input type="text" class="estilo_inputs" formControlName="correo">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Teléfono</p>
                    <input type="text" class="estilo_inputs" formControlName="telefono">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Tipo de documento</p>
                    <select class='estilo_inputs' formControlName="tipoIdentificacion">
                        <option [ngValue]="null" disabled>{{labels.SELECCIONE_LABEL}}</option>
                        <option
                            [ngValue]="documento"
                            *ngFor="let documento of documentos">
                            {{ documento.nombreTipo }}
                        </option>
                    </select>
                    <!-- <input type="text" class="estilo_inputs" formControlName="identificacion"> -->
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Identificación</p>
                    <input type="text" class="estilo_inputs" formControlName="identificacion">
                </div>
            </div>
            <!-- <div class="botones">
                <button (click)="mostrar=!mostrar" class="btn boton-volver"><p class="titulo-boton">Volver</p></button>
                <button (click)="mostrar=!mostrar" type="submit" class="btn boton-finalizar"><p class="titulo-boton">Finalizar</p></button>
            </div> -->
        </div>
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="navigationUrl()">{{Aceptar}}</button>
    </div>
</ng-template>