<div class="footer">
    <a href="https://www.facebook.com/Club-del-Trabajo-100955765079986/" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" src="https://d1jbv8ig3bmrxx.cloudfront.net/facebook.png"></a>
    <a href="https://instagram.com/clubdeltrabajo?igshid=1m37k1eb9p16a" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" path="fill: currentColor !important;" src="https://d1jbv8ig3bmrxx.cloudfront.net/instagram.png"></a>
    <a href="https://twitter.com/ClubdelTrabajo" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" src="https://d1jbv8ig3bmrxx.cloudfront.net/twitter.png"></a>
</div>