.contenedor {
  display: flex;
  flex-direction: column;

  .estilo_body {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 5rem;

    .left {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      border-right-width: thin;
      border-right-color: grey;
      border-right-style: solid;

      .foto-perfil {
        width: 10.923vw;
        height: 10.923vw;
        opacity: 1;
        margin-bottom: 0.455vw;
        box-shadow: 0px 3px 6px #00000029;
      }

      .boton-base {
        width: 261px;
        height: 41px;
        text-align: center;
        letter-spacing: 0px;
        color: #6d7184;
        font-size: 0.78vw;
        font-family: 'Arial';
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 13px;
        opacity: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem 1rem;
        margin-top: 5px;

        .border-icon {
          margin-right: 0.325vw;
          width: 34px;
          height: 34px;
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }

        .div-info-boton {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;

          .titulo-boton {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            color: #6d7184;
            letter-spacing: 0px;
            opacity: 1;
            margin: 0rem;
            text-align: initial;
          }

          .texto-boton {
            font-size: 7px;
            font-family: Arial, Helvetica, sans-serif;
            color: #6d7184;
            letter-spacing: 0px;
            opacity: 1;
            margin: 0rem;
            text-align: initial;
          }
        }
      }
    }

    .right {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 4rem;

      .titulo {
        text-align: left;
        font: normal normal 600 28px/38px Open Sans;
        letter-spacing: 0px;
        color: #020d52;
        opacity: 1;
      }

      .texto {
        text-align: left;
        font: normal normal normal 14px/22px Roboto;
        letter-spacing: 0px;
        color: #645d5d;
        opacity: 1;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #9ba0af;
    height: 118px;
    width: 100%;

    .icono {
      width: 1.248vw;
      height: 1.248vw;
    }
  }
}

::ng-deep svg:not(:root).svg-inline--fa {
  width: 18px;
  height: 17px;
}
