<div class="contenedor">
    <div class="estilo_body">
        <div class="left">
            <img class="foto-perfil rounded-circle" [src]="imagen?.archivo || ulrImgDefault">
            <button (click)="crearOferta()" class="btn boton-base">
                <fa-icon [icon]="faCommentDots" class="border-icon" style="
                background: #D0D4F0 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Crear Oferta</p>
                    <p class="texto-boton">Ingresa detalles y requisitos para tu oferta.</p>
                </div>
            </button>
            <button (click)="verOferta()" class="btn boton-base">
                <fa-icon icon="eye" class="border-icon" style="
                background: #BCFAF3 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Controla tus ofertas</p>
                    <p class="texto-boton">Controla todas tus ofertas</p>
                </div>
            </button>
            <button (click)="membresia()" class="btn boton-base">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Membresia Club del Trabajo</p>
                    <p class="texto-boton">Activa tu membresía</p>
                </div>
            </button>
            <button (click)="editarPerfil()" class="btn boton-base">
                <fa-icon [icon]="faEllipsisH" class="border-icon" style="
                background: #D5D0E8 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Editar Perfil</p>
                </div>
            </button>
            <button (click)="clubEmpresas()" class="btn boton-base">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #D5D0E8 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Club de empresas</p>
                </div>
            </button>
        </div>
        <div class="right">
            <p class="titulo">{{empresaEnSesion.razonSocial}}</p>
            <p class="texto">{{empresaEnSesion.descripcionEmpresa}}</p>
        </div>
    </div>
    <div class="footer">
        <a href="https://www.facebook.com/Club-del-Trabajo-100955765079986/" target="_blank" style="margin-right: 1.52vw;">
            <img class="icono" src="../../../content/images/facebook.png"></a>
        <a href="https://instagram.com/clubdeltrabajo?igshid=1m37k1eb9p16a" target="_blank" style="margin-right: 1.52vw;">
            <img class="icono" path="fill: currentColor !important;" src="../../../content/images/instagram.png"></a>
        <a href="https://twitter.com/ClubdelTrabajo" target="_blank" style="margin-right: 1.52vw;">
            <img class="icono" src="../../../content/images/twitter.png"></a>
    </div>
</div>