<div class="app-loading" *ngIf="cmPerfilEmpresa === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="contenedor" *ngIf="cmPerfilEmpresa !== null">
    <div class="estilo_body">
        <div class="left" *ngIf="showButton; else usuario">
            <img class="foto-perfil rounded-circle" [src]="imagen?.archivo || urlImgDefault">
            <button (click)="crearOferta()" class="btn boton-base">
                <fa-icon [icon]="faCommentDots" class="border-icon" style="
                background: #D0D4F0 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{Crear_Oferta}}</p>
                    <p class="texto-boton">{{Requisitos_Oferta}}</p>
                </div>
            </button>
            <button (click)="verOferta()" class="btn boton-base">
                <fa-icon icon="eye" class="border-icon" style="
                background: #BCFAF3 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{Controla_Ofertas}}</p>
                    <p class="texto-boton">{{Controla_Todas_Ofertas}}</p>
                </div>
            </button>
            <button (click)="membresia()" class="btn boton-base">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{MembresiaLabel}}</p>
                    <!-- <p class="texto-boton">Activa tu membresía</p> -->
                </div>
            </button>
            <button (click)="editarPerfil()" class="btn boton-base">
                <fa-icon [icon]="faEllipsisH" class="border-icon" style="
                background: #D5D0E8 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{Editar_Perfil}}</p>
                </div>
            </button>
            <button (click)="clubEmpresas()" class="btn boton-base">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #D5D0E8 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{Club_Empresas}}</p>
                </div>
            </button>
            <button (click)="juridica()" class="btn boton-base">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #D5D0E8 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{AsesoriaJuridicaLabel}}</p>
                </div>
            </button>
        </div>
        <ng-template #usuario>
            <div class="left">
                <img class="foto-perfil rounded-circle" [src]="imagen?.archivo || urlImgDefault">
                <div class="info-empresa">
                    <p class="titulo-text">{{Correo_Electronico}}</p>
                    <p class="texto-text">{{empresaEnSesion.email}}</p>
                </div>
            </div>
          </ng-template>
        <div class="right">
            <p class="titulo">{{empresaEnSesion.razonSocial}}</p>
            <p class="texto">{{empresaEnSesion.descripcionEmpresa}}</p>
        </div>
    </div>
    <div>
        <router-outlet name="footer"></router-outlet>
    </div>
</div>