<div class="contenedor" *ngIf="showBtnArriba">
    <div class="div-center">
        <div class="botones-arriba">
            <button class="btn boton-no-clicked" (click)="crearOferta()">
                <fa-icon [icon]="faCommentDots" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Crear oferta</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="editarPerfil()">
                <fa-icon [icon]="faEllipsisH" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Editar perfil</p>
                </div>
            </button>
            <!-- <button class="btn boton-no-clicked" (click)="clubEmpresas()">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Club de empresas</p>
                </div>
            </button> -->
            <button class="btn boton-clicked" (click)="verOferta()">
                <fa-icon icon="eye" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Controla tus ofertas</p>
                </div>
            </button>
            <!-- <button class="btn boton-no-clicked" (click)="membresia()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Membresía</p>
                </div>
            </button> -->
        </div>
    </div>
</div>
    <div class="contenedor2">
        <div class="div-center2">
            <ng-container>
                <p class="estilo_titulo2">Oferta</p>
                <div class="ngnum1">
                    <ng-container>
                        <p class="titulo_oferta">{{listaResultadoOfertas[0].titulo}}</p>
                        <!--<p class="profesion_oferta">profesionOferta</p>-->
                        <p class="descripcion_profesion">{{listaResultadoOfertas[0].descripcion}}</p>
                        <table class="tabla_oferta">
                            <tr>
                              <th class="titulo_oferta_previsualizacion">Titulo:</th>
                              <th class="titulo_oferta_previsualizacion">Tipo de contrato:</th>
                              <th class="titulo_oferta_previsualizacion">Publicado:</th>
                            </tr>
                            <tr>
                              <td class="des_titulo" style="width: 30%;">{{listaResultadoOfertas[0].titulo}}</td>
                              <td class="des_titulo" style="width: 40%;">{{listaResultadoOfertas[0].tipoContrato}}</td>
                              <td class="des_titulo" style="width: 30%;">{{listaResultadoOfertas[0].publicado}}</td>
                            </tr>
                        </table>
                        <table class="tabla_oferta">
                            <tr>
                              <th class="titulo_oferta_previsualizacion">Experiencia:</th>
                              <th class="titulo_oferta_previsualizacion">Ciudad:</th>
                              <th class="titulo_oferta_previsualizacion">Salario:</th>
                            </tr>
                            <tr>
                              <td class="des_titulo" style="width: 30%;">{{listaResultadoOfertas[0].experiencia}}</td>
                              <td class="des_titulo" style="width: 40%;">{{listaResultadoOfertas[0].ciudad}}</td>
                              <td class="des_titulo" style="width: 30%;">{{listaResultadoOfertas[0].salario}}</td>
                            </tr>
                        </table>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="contenedor3">
        <div class="div-center3">
            <p class="titulo_aspirantes">Perfiles aspirantes</p>
            <div class="cuerpo">
                <div class="buscador">
                <div class="input-buscador">
                    <button class="btnBuscar" (click)="cargarAspirantes()">
                        <fa-icon [icon]="faSearch" class="border-icon2" style="
                        background: transparent; color: #0a0a0a;">
                        </fa-icon>
                    </button>
                    <input matInput class="form-control" [(ngModel)]="valorBusqueda">
                </div>
                <div class="empresas">
                    <p class="titulo">Perfiles</p>
                    <p class="resultado">{{totalAspirantes}} resultados</p>
                </div>
                <div class="filtros" *ngIf = "filtrosOn">
                <div class="Sector">
                    <p class="titulo">Edad</p>
                    <select class="resultado" [(ngModel)]="edadValue" (change)="cargarAspirantes()">
                        <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                        <option *ngFor="let edad of edades" 
                        [ngValue]="edad.codigo" >
                            {{ edad.nombre }}
                        </option>
                    </select>
                </div>
                <div class="Sector">
                    <p class="titulo">Ciudad</p>
                    <select class="resultado" [(ngModel)]="municipioValue" (change)="cargarAspirantes()">
                        <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                        <option
                        [ngValue]="municipio.codigo"
                            *ngFor="let municipio of municipiosPersonal">
                            {{ municipio.nombre }}
                        </option>
                    </select>
                </div>
                <div class="Sector">
                    <p class="titulo">Género</p>
                    <select class="resultado" [(ngModel)]="generoValue" (change)="cargarAspirantes()">
                        <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                        <option value="M" >Masculino</option>
                        <option value="F" >Femenino</option>
                    </select>
                </div>
                <div class="Sector">
                    <p class="titulo">Experiencia</p>
                    <select class="resultado" [(ngModel)]="experienciaValue" (change)="cargarAspirantes()">
                        <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                        <option *ngFor="let experiencia of experienciasLaborales" 
                        [ngValue]="experiencia.codigo" >
                            {{ experiencia.nombre }}
                        </option>
                    </select>
                </div>
                <div class="Sector">
                    <p class="titulo">Salario</p>
                    <select class="resultado" [(ngModel)]="salarioValue" (change)="cargarAspirantes()">
                        <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                        <option *ngFor="let aspiracion of aspiracionesSalariales" 
                        [ngValue]="aspiracion.codigo" >
                            {{ aspiracion.nombre }}
                        </option>
                    </select>
                </div>
                </div>                        
                
                <div *ngIf= "!showBtnArriba" class="btnVerOcultar">
                    <button *ngIf= "!filtrosOn" class="btn shadow-nonte button-filtros" (click)="filtrosOn = !filtrosOn">Ver Filtros</button>
                    <button *ngIf= "filtrosOn" class="btn shadow-nonte button-filtros" (click)="filtrosOn = !filtrosOn">Ocultar Filtros</button>
                </div>
                </div> 
                <div class="perfil">
                    <div *ngFor="let item of listaResultadoBusquedaAspirantes | paginate: { itemsPerPage: 6, currentPage: page }" class="contngfor">
                    <a class="perfiles" (click)="verAspirante(item)" [style.background]="item.color">
                        <div class="mitad1">
                            <div class="imagen">
                                 <img [src]="item?.imagen?  item?.imagen : urlImageDefault" alt="">
                            </div>
                            <div class="contenedornc">
                            <!-- <p class="nombre">Bavaria</p> -->
                            <p class="nombre">{{item.nombre}} {{ item.apellido}}</p>
                            <p class="carrera">{{item.profesion}}</p>
                            </div>
                        </div>
                        <div class="mitad2" style="padding-top: 10px;">
                            <div>
                                <p class="resumen">Edad: {{item.edad}}</p>
                                <p class="resumen">Ciudad: {{item.ciudad}}</p>
                                <p class="resumen">Experiencia: {{item.experiencia}}</p>
                                <p class="resumen">Titulo: {{item.titulo}}</p>
                            </div>
                        </div>
                        <div class="parte3">
                            <p class="textp4">Fecha de postulación</p>
                            <p class="textp4">{{item.fechaPostulacion}}</p>
                        </div>
                        <div class="parte4" style="justify-content: center;" *ngIf="item.verh">
                            <fa-icon [icon]="faUserCircle" class="border-icon" style="color: #FFFFFF; margin-top: 20px;"></fa-icon>
                            <p class="verhv">Ver H.V.</p>
                        </div>
                        <div class="parte4" style="justify-content: center; background: #BAFFE3;" *ngIf="item.verche">
                            <fa-icon [icon]="faCheck" class="border-icon" style="color: #151D5C; margin-top: 20px;"></fa-icon>
                            <p class="verhv" style="color: #151D5C;">Seleccionado</p>
                        </div>
                        <div class="parte4" style="justify-content: center; background: #FFC1C1;" *ngIf="item.verno">
                            <fa-icon [icon]="faTimes" class="border-icon" style="color: #151D5C; margin-top: 20px;"></fa-icon>
                            <p class="verhv" style="color: #151D5C;"> Descartado</p>
                        </div>
                    </a>
                    <div class="btn-seleccionado" *ngIf="item.btnestado">
                        <input class="mensajeEmail" type="text" [(ngModel)]="mensajeEmail" placeholder="Ingrese cuerpo de email">
                        <button *ngIf="cargando" class="btn1" (click)="enviarEmail(item)"> <fa-icon [icon]="faPaperPlane" class="border-icon" style="color: #FFFFFF; margin-top: 20px;"></fa-icon> Enviar Mail</button>
                        <span *ngIf="!cargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <button class="btn2" (click)="getHojaVida(item)"> <fa-icon [icon]="faArrowDown" class="border-icon" style="color: #FFFFFF; margin-top: 20px;"></fa-icon> Descargar H.V</button>
                    </div>
                    </div>
                    <pagination-controls (pageChange)="page = $event" class="controls" 
                    previousLabel=""
                    nextLabel=""
                    autoHide="true"
                    maxSize="6">
                    </pagination-controls>
                </div>
                
            </div>
        </div>
    </div>    
    <!-- <div class="contenedor4">
        <p class="titulo5">Buscar más perfiles</p>
        <div style="display: flex;">
        <input type="text" placeholder="Escribe un cargo" class="buscar2">
        <input type="text" placeholder="Escribe una ciudad" class="buscar2">
        </div>
        <button class="btn-buscar">Buscar</button>
    </div> -->

    <kendo-pdf-export *ngIf="showElement" #pdf>
        <div class="container-pdf">
            <div class="box-left">
                <img class="foto-perfilVH" [src]="imagen?.archivo || urlImageDefault">
                <h4 class="title">SOBRE MI</h4>
                <div class='linea-base'></div>
                <p class="text" style="margin-top: 0.325vw;">{{hojaVidaVo?.informacionPersonal?.perfilProfesional}}</p>
                <h4 class="title">CONTACTO</h4>
                <div class='linea-base'></div>
                <div class="contacto-icons">
                    <img class="icono" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABJ0lEQVRIidXVLUsEURTG8Z+OICgYNBq0GQSjwaLB7bYtJpufwuQnEBYMgmhQq80iBi2CBhGLQRG2GBRsirqGuwt3x9mF2ZlFfODCnbmH5885577w3zUQzStYwVAqZgeXZcDe0MgYe0VMB6P5a4eYmSKAWGeyM/jERK+mcQZXHWISoT+FAd0audQrINY4Pvwu0TsWywDAccr8C6tlmcNyCrBZpjnh4F1EgFuMlA2ZF0rTguwXMUsy/tUxhoXm95zQ/PMioLSGca29Hxva7y7CNl8Tss6tSTylIAcYba4n2I3WnnGCLTnOzaxQshjyiCqOZF8tDdznyWQKd13MskY9D4DQ9G189wvQUgU3/QQQdk4Vpzpn9FAEEGsa6zgUGvsivB+1sgB/rx/ir3ZmFWUVPQAAAABJRU5ErkJggg=="/>
                    <p class="text" >{{hojaVidaVo?.informacionPersonal?.telefono}}</p>
                </div>
                <div class="contacto-icons">
                    <img class="icono" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABMElEQVRIidWUvUoDURCFP3VhmygExMYHEGzTpsuTxCIp1EBeY0ms43PkIUxgIXa2Qto0SSSg4k+RWfZ6M/uT2cYcOLDMnD3n7p17F/4BQqAHTIA34QS4l14lXALPwE8GZ6IxISwwd0NMX9JTzFZCv35nCZh6JkPgBAiAB6/3ZAlYeysPnF6g9FUc5wS877GYD0vAi/N8CkRsVx4AA6CWoS2NPrvDXPN3axL2LQEXwEYx87kRrQnDEgEDqznAObDIMV+IphJucgLaVc0BjoCxYj6W3t7oOCaR1OrAq1Ofk25N5NQ7ZQJi54UvoCX1JvApbEqtJZpEHxeZN0iHp/0hb4U+QtLD0MgLeMR+9JIjPcoS1ICliK4NAVfAN9ubfqYJuhRfqrJUhx0bzTQWDvtw8AvwsLAXmzPv8wAAAABJRU5ErkJggg=="/>
                    <p class="text">{{hojaVidaVo?.informacionPersonal?.direccionResidencia}}</p>
                </div>
                <div class="contacto-icons">
                    <img class="icono" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA/klEQVRIie3TIUsEURQF4G9HiyzYDBbFLgbDRoOIKCx2sZisRqvRatxqtBr0D2jZZDWpaxZEi6KMwTfwVmaHhzOCyB44Yd6595zLe3cY4y9hHbfIa/IOa4VpFgVsYb6BQeewUiZk2MNTjekfg0eraoJZnPzA/BQzVcbn6EbfXWlvcoPVqG8H/bKAouHM1z3CFA7xWmL8hmO0Q+0CLiJ9ZECOFxxgImhLuIr0SywGbRL7eP7mURlQsI/loGfYDiy2r4PrEb1JATk+0MN0VNvGEd4r+pIDCt5jN3CQUI/hfS1NrYEWw3/yr+B/BTw06DsoO9yUth0p27bR4LBj1MQnwB2aS1VuVgwAAAAASUVORK5CYII="/>
                    <p class="text">{{hojaVidaVo?.informacionPersonal?.usuario?.email}}</p>
                </div>
            </div>
            <div class="box-right">
                <h1><span style="color: grey;">{{hojaVidaVo?.informacionPersonal?.usuario?.nombre}}</span> {{hojaVidaVo?.informacionPersonal?.usuario?.apellido}}</h1>
                <div style="padding-left: 3.121vw;" *ngFor="let item of hojaVidaVo?.experienciaLaboral">
                    <h3>{{hojaVidaVo?.informacionPersonal?.profesion?.profesion}}</h3>
                    <!-- <div *ngIf="item.trabajoActual==true">
                        <div *ngIf="item.cargo?.cargo!=='Otro'">
                            
                        </div>
                        <div *ngIf="item.cargo?.cargo==='Otro'">
                            <h3>{{item?.cargoDiferente}}</h3>
                        </div>
                    </div> -->
                </div>
                <h4>EXPERIENCIA PROFESIONAL</h4>
                <div class='linea-base'></div>
                <div class="experiencias" *ngFor="let item of hojaVidaVo?.experienciaLaboral">
                    <h5>{{item?.cargo?.cargo}}</h5>
                    <p>{{item?.nombreEmpresa}}</p>
                    <div *ngIf="item.trabajoActual==true">
                        <p>{{item?.fechaInicio}} / Actualidad</p>
                    </div>
                    <div *ngIf="item.trabajoActual!=true">
                        <p>{{item?.fechaInicio}} / {{item?.fechaFin}}</p>
                    </div>
                    <p>{{item.ciudad ? this.getCiudad('' + item.ciudad) : item.ciudadExtranjera}}</p>
                </div>
                <h4>FORMACIÓN</h4>
                <div class='linea-base'></div>
                <div class="experiencias" *ngFor="let item of hojaVidaVo?.informacionAcademica">
                    <h5>{{item?.tituloOtorgado}}</h5>
                    <p>{{item?.institucion}}</p>
                    <p>{{item?.fechaFin}}</p>
                    <p>{{this.getEstado(item?.estado)}}</p>
                </div>
                <div *ngIf="hojaVidaVo?.idiomas">
                    <h4>IDIOMAS</h4>
                    <div class='linea-base'></div>
                    <div class="experiencias">
                        <div *ngFor="let item of hojaVidaVo?.idiomas">
                            <p>{{item?.idIdioma?.idioma}} : {{this.getIdioma(item?.nivel + '')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </kendo-pdf-export>