.contenedor {
  display: flex;
  justify-content: center;
  min-height: auto;

  .div-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;

    .botones-arriba {
      display: flex;
      flex-direction: row;
      width: 50.91vw;
      flex-wrap: wrap;

      .boton-clicked {
        @extend .boton-base;
        // background-color: yellow;
        background: #b4e5fe 0% 0% no-repeat padding-box;
      }

      .boton-no-clicked {
        @extend .boton-base;
        background: #f7f7f7 0% 0% no-repeat padding-box;
      }

      .boton-base {
        width: 16.97vw;
        height: 2.666vw;
        // background: #ffffff 0% 0% no-repeat padding-box;
        // box-shadow: 0px 3px 6px #00000029;
        border-radius: 0.845vw;
        opacity: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem 1.04vw;
        margin-top: 0.325vw;
        align-self: flex-start;

        .border-icon {
          margin-right: 0.325vw;
          width: 2.211vw;
          height: 2.211vw;
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }

        .div-info-boton {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;

          .titulo-boton {
            font-size: 0.91vw;
            font-family: Arial, Helvetica, sans-serif;
            color: #6d7184;
            letter-spacing: 0px;
            opacity: 1;
            margin: 0rem;
            text-align: initial;
          }
        }
      }
    }

    .ngnum0 {
      width: 61.378vw;
      align-self: center;
      justify-self: center;
      background: transparent linear-gradient(181deg, #edeff2 0%, #edeff2 100%) 0% 0% no-repeat padding-box;
      border-radius: 1.951vw 1.951vw 4.617vw 4.617vw;
      opacity: 1;
      margin-top: 3.121vw;
      margin-bottom: 3.121vw;
      padding: 0rem;
      padding-top: 3.121vw;
      padding-bottom: 3.121vw;
      max-width: none;

      .estilo_titulo {
        text-align: left;
        font-size: 1.3vw;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #1b2455;
        opacity: 1;
        padding-left: 1.7rem;
      }

      .estilo_label {
        width: 100%;
        text-align: left;
        font-size: 0.91vw;
        font-family: Arial;
        letter-spacing: 0px;
        color: #1b2455;
        opacity: 1;
        padding-left: 1.04vw;
        margin-bottom: 0.52vw;
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 0rem;

        .row-2 {
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-left: 2.5%;
          padding-right: 2.5%;

          .select-70 {
            @extend .form-group2;
            width: 67.5%;
          }

          .select-30 {
            @extend .form-group2;
            width: 27.5%;
          }

          .form-group2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            // width: 90%;

            .estilo_inputs {
              min-height: 3.121vw;
              padding-right: 1.04vw;
              padding-left: 1.56vw;
              font-size: 0.91vw;
              width: 100%;
              border: none;
              border-radius: 1.495vw;
            }
          }
        }
      }
    }
  }
}

.contenedor2 {
  display: flex;
  justify-content: center;

  .div-center2 {
    display: flex;
    flex-direction: column;

    .ngnum1 {
      //width: 767px;
      //align-self: center;
      //justify-self: center;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      opacity: 1;
      margin-bottom: 1.821vw;
      //padding: 0rem;
      padding-top: 1.56vw;
      padding-bottom: 1.821vw;
      padding-left: 1.495vw;
      //max-width: 600px;

      .titulo_oferta {
        text-align: left;
        font-size: 0.91vw;
        font-family: 'Roboto';
        font-weight: bold;
        letter-spacing: 0px;
        color: #645d5d;
        opacity: 1;
        margin-right: 5%;
      }

      .profesion_oferta {
        text-align: left;
        font-size: 1.3vw;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #645d5d;
        opacity: 1;
        margin-left: 1.04vw;
      }

      .descripcion_profesion {
        text-align: left;
        font-size: 0.715vw;
        font-family: 'Roboto';
        font-weight: bold;
        letter-spacing: 0px;
        color: #7e7474;
        opacity: 1;
        line-height: 1.105vw;
        margin-right: 5%;
        //margin-left: 1rem;
      }

      .titulo_oferta_previsualizacion {
        text-align: left;
        font-size: 0.91vw;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #1fb9fd;
        opacity: 1;
        margin-left: 1.04vw;
      }

      .tabla_oferta {
        width: 100%;
        .des_titulo {
          font-family: 'Roboto';
          font-size: 0.78vw;
          font-weight: normal;
          color: #7e7474;
          letter-spacing: 0px;
        }
      }
    }

    .estilo_titulo2 {
      margin-top: 6%;
      margin-right: 83%;
      font-size: 1.3vw;
      font-family: 'Roboto';
      font-weight: 500;
      letter-spacing: 0px;
      color: #1b2455;
      opacity: 1;
    }
  }
}

.contenedor3 {
  display: flex;
  justify-content: center;

  .div-center3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    //width: min-content;

    .div-titulo-btnArchi {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1vw;
    }

    .btn-archivado {
      background-color: white;
      border-color: #1a9fef;
    }

    .border-icon {
      width: 2vw;
    }

    .titulo_aspirantes {
      font-family: 'Roboto';
      color: #1b2455;
      font-size: 1.3vw;
      margin-bottom: 1.625vw;
      font-weight: bolder;
      margin-left: 13.192vw;
    }
    .cuerpo {
      //width: 1071px;
      display: flex;

      .btnBuscar {
        height: 0.975vw;
        width: 0.975vw;
        display: contents;
        //background: #020d52;
        //color: #fbfbfb;
        font-family: 'Arial';
        font-size: 0.78vw;
        text-align: center;
        border: none;
        //margin-left: 5px;

        .border-icon2 {
          //margin-right: 0.325vw;
          width: 0.845vw;
          height: 0.845vw;
          opacity: 1;
          //display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }
      }
      .div-buscador {
        width: auto;
        .buscador {
          background: #f5f5f5 0% 0% no-repeat padding-box;
          .input-buscador {
            display: flex;
            //background: #ffffff 0% 0% no-repeat padding-box;
            display: flex;
            opacity: 1;
            height: 0.975vw;
            flex-flow: row-reverse;
            align-items: center;
            width: 90%;
            .form-control {
              font-size: 0.9vw;
              margin-left: 0.39vw;
            }
          }
          .empresas {
            margin-top: 1.235vw;
            .titulo {
              display: flex;
              font-family: 'Roboto';
              color: #020d52;
              text-align: left;
              margin-left: 1.495vw;
              margin-bottom: 0px;
              font-size: 0.8vw;
              font-weight: normal;
              opacity: 1;
            }
            .resultado {
              display: flex;
              font-family: 'Roboto';
              font-size: 0.85vw;
              color: #5b5c62;
              opacity: 1;
              margin-top: 0.26vw;
              font-weight: normal;
              text-align: left;
              margin-left: 1.495vw;
            }
          }
          .Sector {
            height: 3.966vw;
            margin-top: 0px;
            .titulo {
              display: flex;
              font-family: 'Roboto';
              color: #020d52;
              text-align: left;
              margin-left: 1.495vw;
              margin-top: 0.13vw;
              font-size: 0.8vw;
              font-weight: normal;
              opacity: 1;
              margin-bottom: 0.26vw;
            }
            .resultado {
              display: flex;
              font-family: 'Roboto';
              font-size: 0.85vw;
              color: #5b5c62;
              opacity: 1;
              margin-top: 0.26vw;
              font-weight: normal;
              text-align: left;
              padding-left: 1.17vw;
              border: none;
              background: none;
              width: 90%;
            }
          }
        }
      }
      .perfiles {
        .mitad1 {
          display: flex;
          .imagen {
            // display: flex;
            // width: 4.641vw;
            // height: 4.641vw;
            // border-radius: 8.453vw;
            // border: none;
            .img {
              border-radius: 50%;
            }
          }
          p.nombre {
            font-size: 0.975vw;
            font-family: 'Roboto';
            font-weight: bold;
            position: relative;
            height: min-content;
            color: #020d52;
            line-height: 0.975vw;
          }
          p.carrera {
            font-size: 0.845vw;
            font-family: 'Roboto';
            color: #7e7474;
            opacity: 1;
            font-weight: bold;
            margin-bottom: 0;
            //margin-top: 3px; modificar en menor a 900 px
          }
        }
        .mitad2 {
          //width: 170px; cambiar en menor a 900px

          p.resumen {
            font-size: 0.715vw;
            font-family: 'Roboto';
            font-weight: normal;
            text-align: left;
            margin-bottom: 0px;
          }
        }
        .parte3 {
          .textp3 {
            //font-family: 'Roboto';
            font-size: 0.715vw;
            line-height: 1.04vw;
            color: #7e7474;
            font-weight: bold;
            margin-bottom: 0px;
          }
          .textp4 {
            font-size: 0.715vw;
            line-height: 1.04vw;
            font-weight: normal;
            color: #7e7474;
            //
            margin-bottom: 0;
          }
        }
        .parte4 {
          background: #1a9fef;
          text-align: center;

          .verhv {
            font-family: 'Roboto';
            font-size: 0.78vw;
            color: #ffffff;
            line-height: 1.56vw;
            opacity: 1;
          }
        }
      }
      .btn-seleccionado {
        .botones-enviar-des {
          display: flex;
        }
        .btn1 {
          background: #020d52;
          color: #fbfbfb;
          font-family: 'Arial';
          text-align: center;
          border: none;
        }
        .btn2 {
          background: #1a9fef;
          color: #fbfbfb;
          font-family: 'Arial';
          text-align: center;
          border: none;
        }
      }
      .controls {
        display: flex;
        font-size: 0.975vw;
        font-family: 'Roboto';

        height: 1.3vw;
        margin-left: 40%;
        margin-bottom: 2.601vw;
        //padding: 5%;

        .ngx-pagination {
          padding: 0;
        }
      }
    }
    .ngnum3 {
      width: 61.378vw;
      align-self: center;
      justify-self: center;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      // background: transparent linear-gradient(181deg, #F8F8F8 0%, #71829c 100%) 0% 0% no-repeat padding-box;
      // border-radius: 1.951vw 1.951vw 4.617vw 4.617vw;
      opacity: 1;
      margin-top: 3.121vw;
      margin-bottom: 3.121vw;
      padding: 0rem;
      padding-top: 3.121vw;
      padding-bottom: 3.121vw;
      max-width: none;

      .foto-perfil {
        top: 8.648vw;
        margin-left: 2.536vw;
        width: 10.923vw;
        height: 10.923vw;
        //background: transparent url('../../../content/images/Image\ 28.png') 0% 0% no-repeat padding-box;
        opacity: 1;
        margin-bottom: 0.455vw;
      }
    }
  }
}

.contenedor4 {
  display: -ms-inline-grid;
  justify-content: center;
  padding-left: 25%;
  padding-bottom: 7.737vw;
  .titulo5 {
    color: #1b2455;
    font-size: 1.3vw;
    opacity: 1;
    font-family: 'Roboto';
    font-weight: bolder;
  }
  .buscar2 {
    background: #f5f5f5 0% 0% no-repeat padding-box;
    width: 23.082vw;
    height: 3.121vw;
    opacity: 1;
    border: none;
    //color: #BABABA;
    margin-right: 1.495vw;
    padding-left: 1%;
    font-family: 'Roboto';
  }
  .btn-buscar {
    background: #151d5c;
    width: 6.177vw;
    height: 1.756vw;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 0.975vw;
    letter-spacing: 0px;
    opacity: 1;
  }
}

::ng-deep .modal {
  opacity: inherit;
}

::ng-deep .ngx-pagination {
  padding: 0;
}

// kendo

@font-face {
  font-family: 'Roboto';
  src: url('../../../content/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('../../../content/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('../../../content/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  src: url('../../../content/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

.foto-perfilVH {
  top: 8.648vw;
  left: 21.261vw;
  width: 10.923vw;
  height: 10.923vw;
  //background: transparent url('../../../content/images/Image\ 28.png') 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-bottom: 0.455vw;
  border-radius: 10.403vw;
}

.codigo {
  top: 20.026vw;
  left: 24.122vw;
  width: 5.267vw;
  height: 5.267vw;
  //background: transparent url('../../../content/images/frame.png') 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  opacity: 1;
}

.informacion-hoja-vida {
  top: 9.428vw;
  left: 33.745vw;
  width: 36.411vw;
  height: 34.46vw;
  border: 1px solid #ebebeb;
  opacity: 1;
  margin-bottom: 0.91vw;
}

.center-spinner {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
}

.boton-descargar {
  top: 45.059vw;
  left: 49.74vw;
  width: 10.858vw;
  height: 3.121vw;
  background: #1a2050 0% 0% no-repeat padding-box;
  border-radius: 50rem;
  opacity: 1;
  text-align: center;
  font-size: 0.78vw;
  font-family: 'Arial';
  font-weight: bold;
  letter-spacing: 0px;
  color: #ffffff;
  float: right;
}

.boton-regresar {
  position: absolute;
  bottom: 1.3vw;
  left: 5.202vw;
  width: 1.3vw;
  height: 1.951vw;
  color: #020d52;
  opacity: 1;
}

.tituloHV {
  font-size: 1.951vw;
  font-family: 'Arial';
  font-weight: bold;
  color: #072278;
}

.texto-hoja-vida {
  text-align: justify;
  font-size: 0.78vw;
  font-family: 'Arial';
  color: #645d5d;
}

.pie-pagina {
  margin-bottom: 3.251vw;
  left: 50.78vw;
  height: 0.715vw;
  text-align: right;
  font-size: 0.78vw;
  font-family: 'Roboto';
  font-weight: normal;
  letter-spacing: 0px;
  color: #072278;
  opacity: 1;
}

.logo {
  width: 7.152vw;
  height: 2.601vw;
  opacity: 1;
}

kendo-pdf-export {
  font-family: 'Roboto', sans-serif, 'Arial';
}

.container-pdf {
  display: flex;
  flex-direction: row;
  width: 36.411vw;
  min-height: 52.016vw;

  h1 {
    font-weight: bold;
    margin-bottom: 0rem;
    margin-top: 1.56vw;
  }

  h5 {
    font-weight: bold;
    margin-bottom: 0rem;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 1.04vw;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 0rem;
    margin-top: 1.56vw;
  }

  p {
    margin-bottom: 0rem;
  }

  .linea-base {
    width: 10.403vw;
    height: 0.163vw;
    background-color: black;
    border-bottom: black;
    border-bottom-width: 0.13vw;
  }

  .box-left {
    background-color: #dfdfdf;
    display: flex;
    min-width: min-content;
    flex-direction: column;
    padding: 1.04vw;

    .icono {
      width: 0.832vw;
      height: 0.832vw;
      margin-right: 0.52vw;
      margin-top: 0.325vw;
    }

    .foto-perfilVH {
      width: 14.824vw;
      height: auto;
      opacity: 1;
      margin-top: 1.04vw;
      margin-bottom: 0.455vw;
      align-self: center;
      border-radius: 10.403vw;
    }

    .contacto-icons {
      display: flex;
      flex-direction: row;
      margin-top: 0.65vw;
      min-width: min-content;
    }
  }

  .box-right {
    background-color: white;
    min-width: 24.707vw;
    height: min-content;
    display: flex;
    padding: 1.04vw;
    flex-direction: column;

    .experiencias {
      padding-left: 3.121vw;
      padding-top: 1.56vw;
    }
  }
}

.contenedor {
  .div-center {
    width: 100%;
    .botones-arriba {
      width: 100%;
      justify-content: center;
      margin-bottom: 1.04vw;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #9ba0af;
  height: 7.672vw;
  width: 100%;

  .icono {
    width: 1.248vw;
    height: 1.248vw;
  }
}

.btnArchi {
  min-height: 1.56vw;
  width: 7.542vw;
  background: #1a9fef;
  color: #fbfbfb;
  font-family: 'Arial';
  font-size: 0.78vw;
  text-align: center;
  border: none;
}

@media only screen and (min-width: 900px) {
  .estilo_titulo2 {
    padding-left: 10%;
  }
  .ngnum1 {
    width: 49.87vw;
    margin-top: 1.625vw;
  }
  .div-center2 {
    align-items: center;
    width: min-content;
  }
  .div-buscador {
    .buscador {
      display: flex;
      flex-flow: column;
      min-width: 8.192vw;
      margin-bottom: 2%;
      .input-buscador {
        margin-top: 1.495vw;
        // width: 4.876vw;
        .form-control {
          // width: 5.527vw;
          height: 1.3vw;
        }
      }
    }
  }
  .div-center3 {
    width: min-content;
    .cuerpo {
      width: 69.636vw;
      display: flex;
    }
  }
  .perfil {
    // height: 46.164vw;
    margin-bottom: 1.3vw;
    .contngfor {
      min-height: 7.932vw;
      height: max-content;
    }
    .perfiles {
      display: flex;
      background: #f8f8f8;
      width: auto;
      //padding-bottom: 0.52vw;
      // padding-right: 0.52vw;
      min-height: 5.527vw;
      margin-left: 1.56vw;
      align-items: center;
      justify-content: space-between;
      .mitad1 {
        min-width: 17.685vw;
        min-height: 5.527vw;
        display: flex;
        align-items: center;
        .imagen {
          // //margin-top: 0.91vw;
          // margin-left: 1.796vw;
          // margin-right: 1.796vw;
          // //margin-bottom: 0.975vw;
          display: flex;
          width: 4.641vw;
          height: 4.641vw;
          border-radius: 8.453vw;
          border: none;
          .img {
            width: 4.641vw;
            height: 4.641vw;
          }
        }
        .contenedornc {
          width: 60%;
          p.nombre {
            //top: 23%;
            margin-bottom: 0;
            width: 9.753vw;
          }
          p.carrera {
            line-height: 0.845vw;
          }
        }
      }
      .mitad2 {
        max-width: max-content;
        min-height: 5.527vw;
        display: flex;
        align-items: center;
        p.resumen {
          margin-right: 3.511vw;
        }
      }
      .parte3 {
        min-width: 7.217vw;
        min-height: 2.016vw;
      }
      .parte4 {
        min-width: 5.397vw;
        min-height: 5.527vw;
        padding-top: 1.3vw;
      }
    }
    .btn-seleccionado {
      // padding-left: 50%;
      display: flex;
      justify-content: flex-end;
      // margin-bottom: 0.5vw;
      // .mensajeEmail {
      //   height: 1.56vw;
      //   width: 9vw;
      //   font-size: 0.78vw;
      // }
      .btn1 {
        min-height: 1.56vw;
        width: 7.542vw;
        background: #020d52;
        color: #fbfbfb;
        font-family: 'Arial';
        font-size: 0.78vw;
        text-align: center;
        border: none;
      }
      .btn2 {
        min-height: 1.56vw;
        width: 7.542vw;
        background: #1a9fef;
        color: #fbfbfb;
        font-family: 'Arial';
        font-size: 0.78vw;
        text-align: center;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .contenedor {
    .div-center {
      width: 100%;
      .botones-arriba {
        width: 100%;
        justify-content: center;
        margin-bottom: 1rem;

        .boton-base {
          width: 261px;
          height: 41px;
          border-radius: 13px;
          padding: 0rem 1rem;
          margin-top: 5px;

          .border-icon {
            margin-right: 0.325vw;
            width: 34px;
            height: 34px;
            border-radius: 50%;
          }

          .div-info-boton {
            .titulo-boton {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .contenedor2 {
    .div-center2 {
      .ngnum1 {
        margin-bottom: 28px;
        padding-top: 24px;
        padding-bottom: 28px;
        padding-left: 23px;

        .titulo_oferta {
          font-size: 12px;
          margin-right: 5%;
        }

        .profesion_oferta {
          font-size: 20px;
          margin-left: 1rem;
        }

        .descripcion_profesion {
          font-size: 11px;
          line-height: 17px;
          margin-right: 5%;
        }

        .titulo_oferta_previsualizacion {
          font-size: 12px;
          margin-left: 1rem;
        }

        .tabla_oferta {
          width: 100%;
          .des_titulo {
            font-size: 12px;
          }
        }
      }

      .estilo_titulo2 {
        margin-top: 6%;
        margin-right: 83%;
        font-size: 20px;
      }
    }
  }

  .contenedor3 {
    .div-center3 {
      .div-titulo-btnArchi {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-bottom: 0rem;
        align-items: center;
      }

      .btn-archivado {
        width: 80%;
      }

      .border-icon {
        width: 2rem;
      }

      .titulo_aspirantes {
        font-size: 20px;
        margin-bottom: 25px;
        margin-top: 1rem;
        margin-left: 0rem;
      }
      .cuerpo {
        display: flex;

        .btnBuscar {
          height: 15px;
          width: 15px;
          font-size: 12px;

          .border-icon2 {
            width: 13px;
            height: 13px;
            border-radius: 50%;
          }
        }
        .div-buscador {
          width: 97%;
          .buscador {
            .input-buscador {
              display: flex;
              margin-left: 15px;
              margin-right: 15px;
              height: 15px;
              margin-left: 10px;
              .form-control {
                font-size: 9px;
                margin-left: 6px;
              }
            }
            .empresas {
              margin-top: 19px;
              .titulo {
                margin-left: 23px;
                margin-bottom: 0px;
                font-size: 9px;
              }
              .resultado {
                font-size: 10px;
                margin-top: 4px;
                margin-left: 23px;
              }
            }
            .Sector {
              height: 61px;
              margin-top: 0px;
              .titulo {
                margin-left: 23px;
                margin-top: 2px;
                font-size: 9px;
                margin-bottom: 4px;
              }
              .resultado {
                font-size: 10px;
                margin-top: 4px;
                margin-left: 18px;
                width: 102px;
              }
            }
          }
        }
        .perfiles {
          padding: 0;
          .mitad1 {
            display: flex;
            hyphens: auto;
            word-wrap: break-word;
            overflow-wrap: break-word;

            p.nombre {
              font-size: 15px;
              line-height: 15px;
            }
            p.carrera {
              font-size: 13px;
            }
          }
          .mitad2 {
            p.resumen {
              padding: 1% 0% 1% 2%;
              font-size: 11px;
              margin-bottom: 0px;
              // width: max-content;
            }
          }
          .parte3 {
            .textp3 {
              font-size: 11px;
              line-height: 16px;
              margin-bottom: 0px;
            }
            .textp4 {
              font-size: 11px;
              line-height: 16px;
            }
          }
          .parte4 {
            .verhv {
              font-size: 12px;
              line-height: 24px;
            }
          }
        }
        .controls {
          font-size: 15px;
          height: 20px;
          margin-left: 0;
          margin-bottom: 20px;
          margin-top: 20px;

          .ngx-pagination {
            padding: 0;
          }
        }
      }
      .ngnum3 {
        width: 944px;
        margin-top: 48px;
        margin-bottom: 48px;
        padding-top: 48px;
        padding-bottom: 48px;

        .foto-perfil {
          top: 133px;
          margin-left: 39px;
          width: 168px;
          height: 168px;
          margin-bottom: 7px;
        }
      }
    }
  }
  .estilo_titulo2 {
    padding-left: 10%;
  }
  .ngnum1 {
    width: 97%;
    margin-top: 25px;
  }
  .div-center2 {
    align-items: center;
    width: 100%;
  }
  .div-buscador {
    width: 97%;
    .buscador {
      display: flex;
      flex-flow: column;
      width: 100%;
      margin-bottom: 2%;
      padding: 0.5rem;

      .input-buscador {
        background: #f8f8f8 0% 0% no-repeat padding-box;
        margin-top: 3%;
        width: 100%;
        .form-control {
          width: 100%;
          height: 15px;
        }
      }
      .filtros {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        width: 100%;
      }
    }
  }
  .div-center3 {
    width: 100%;
    .cuerpo {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }
  .perfil {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    width: 100%;

    .contngfor {
      min-height: 122px;
      width: 48%;
      margin: 1%;
      // max-width: 200px;
      // min-width: 150px;
    }
    .perfiles {
      display: flex;
      flex-direction: column;
      background: #f8f8f8;
      align-items: center;
      justify-content: space-between;
      padding: 2%;
      width: 100%;
      .mitad1 {
        min-height: 85px;
        display: flex;
        width: 100%;
        align-items: center;
        .contenedornc {
          flex-flow: wrap;
          hyphens: auto;
          word-wrap: break-word;
          overflow-wrap: break-word;
          width: 70%;
          p.nombre {
            margin-bottom: 0;
            position: inherit;
          }
          p.carrera {
            line-height: 13px;
            margin-bottom: 0;
          }
        }
        .imagen {
          margin: 8px;
          display: flex;
          width: 30%;
          height: min-content;
          border-radius: 130px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }
      .mitad2 {
        padding: 1% 0% 1% 0%;
        min-height: 70px;
        display: flex;
        width: 95%;
        p.resumen {
          margin-right: 0;
        }
      }
      .parte3 {
        width: 95%;
        min-height: 31px;
      }
      .parte4 {
        // width: 83px;
        // height: 85px;
        padding-top: 0;
        width: 100%;
        height: min-content;
        text-align: center;
        .verhv {
          margin-bottom: 0;
        }
      }
    }
    .btn-seleccionado {
      display: flex;
      flex-direction: column;
      .mensajeEmail {
        height: 24px;
        width: 100%;
      }
      .btn1 {
        // height: 24px;
        // width: 116px;
        background: #020d52;
        color: #fbfbfb;
        font-family: 'Arial';
        // font-size: 12px;
        text-align: center;
        border: none;
        height: 20px;
        width: 49%;
        font-size: 10px;
      }
      .btn2 {
        // height: 24px;
        // width: 116px;
        background: #1a9fef;
        color: #fbfbfb;
        font-family: 'Arial';
        // font-size: 12px;
        text-align: center;
        border: none;
        height: 20px;
        width: 49%;
        font-size: 8px;
      }
      .botones-enviar-des {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 5px;
      }
    }
  }
  .btnVerOcultar {
    width: 100%;
    display: grid;
    .button-filtros {
      color: #f5f5f5;
      background: #020d52;
      font-size: 9px;
      font-family: 'Roboto';
    }
  }

  .footer {
    height: 118px;

    .icono {
      width: 19px;
      height: 19px;
    }
  }

  .btnArchi {
    min-height: 1.56rem;
    width: 7.542rem;
    background: #1a9fef;
    color: #fbfbfb;
    font-family: 'Arial';
    font-size: 0.78rem;
    text-align: center;
    border: none;
  }
}
