<div class="app-loading" *ngIf="cmPrimerOferta === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="estilo_home" *ngIf="cmPrimerOferta !== null">
    <img class="estilo_imagen" src="https://d1jbv8ig3bmrxx.cloudfront.net/persona_contact3.png">
    <div class="div_centro">
        <p class="titulo1">{{Bienvenido}}</p>
        <p class="titulo2">{{Publica_oferta_empleo}} <span class="texto-azul">{{gratis}}:</span></p>
        <ol type="1" class="lista">
            <li>{{Formulario}}</li>
            <li>{{Publica_Oferta}}</li>
            <li>{{Selecciona_Candidatos}}</li>
          </ol>
        <button class="btn boton-crear-oferta shadow-none" value="Crear oferta" style="color:white;" (click)="crearOferta()">{{Crear}}</button>
        <button class="btn boton-volver" (click)="backClicked()">
            <fa-icon icon="chevron-left" class="border-icon" ></fa-icon>
            <p class="titulo-boton">{{Volver}}</p>
        </button>
    </div>
</div>
<div *ngIf="cmPrimerOferta !== null">
    <router-outlet name="footer"></router-outlet>
</div>

