<div class="estilo_home">
    <img class="estilo_imagen" src="../../../content/images/persona_contact3.png">
    <div class="div_centro">
        <p class="titulo1">Bienvenido</p>
        <p class="titulo2">Publica tu primera oferta de empleo <span class="texto-azul">gratis:</span></p>
        <ol type="1" class="lista">
            <li>Diligencia el formulario con los datos de tu oferta laboral</li>
            <li>Publica tu oferta</li>
            <li>Selecciona los mejores candidatos</li>
          </ol>
        <button class="btn boton-crear-oferta shadow-none" value="Crear oferta" style="color:white;" (click)="crearOferta()">Crear oferta</button>
        <button class="btn boton-volver" (click)="backClicked()">
            <fa-icon icon="chevron-left" class="border-icon" ></fa-icon>
            <p class="titulo-boton">Volver</p>
        </button>
    </div>
</div>
<div class="footer">
    <a href="https://instagram.com/clubdeltrabajo?igshid=1m37k1eb9p16a" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" path="fill: currentColor !important;" src="../../../content/images/instagram.png"></a>
    <a href="https://twitter.com/ClubdelTrabajo" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" src="../../../content/images/twitter.png"></a>
    <a href="https://www.facebook.com/Club-del-Trabajo-100955765079986/" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" src="../../../content/images/facebook.png"></a>
</div>

