<div class="app-loading" *ngIf="cmClubEmpresas === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="contenedor" *ngIf="cmClubEmpresas !== null">
    <div class="div-center">
        <div class="botones-arriba">
            <button class="btn boton-no-clicked" (click)="crearOferta()">
                <fa-icon [icon]="faCommentDots" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{CrearOfertaLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="editarPerfil()">
                <fa-icon [icon]="faEllipsisH" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{EditarPerfilLabel}}</p>
                </div>
            </button>
            <button class="btn boton-clicked" (click)="clubEmpresas()">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{ClubEmpresasLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="controlaOferta()">
                <fa-icon icon="eye" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{ControlaOfertasLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="membresia()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{MembresiaLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="juridica()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{AsesoriaJuridicaLabel}}</p>
                </div>
            </button>
        </div>

        <div *ngIf="!mostrar" class="club-empresa">
            <div class="titulo-agrega">
                <div>
                    <p class="titulo-club">
                        {{ClubEmpresasTitulo}}
                    </p>
                </div> 
                <div>
                    <a class="agrega-empresa" (click)="agregarEmpresa()">
                    {{AgregaTuEmpresa}}
                    <fa-icon icon="plus" class="border-icon" style="
                        background:#f1f1f1 0% 0% no-repeat padding-box;"></fa-icon>
                    </a>
                </div>        
            </div>
            <div class="cuerpo">
                <div class="div-buscador">
                    <div class="buscador">
                        <!-- <div class="input-buscador">
                            <input matInput placeholder="Busqueda" class="form-control">
                        </div> -->
                        <div class="input-buscador">
                            <input matInput placeholder="Busqueda" class="form-control"
                            (keyup.enter)="cargarEmpresas()" [(ngModel)]="valorBusqueda">
                            <button class="btnBuscar" (click)="cargarEmpresas()">
                                <fa-icon [icon]="faSearch" class="border-icon2" style="
                                background: transparent; color: #0a0a0a;">
                                </fa-icon>
                            </button>
                        </div>
                        <!-- <div class="input-buscador">
                            <button class="btnBuscar" (click)="cargarEmpresas()">
                                <fa-icon [icon]="faSearch" class="border-icon2" style="
                                background: transparent; color: #0a0a0a;">
                                </fa-icon>
                            </button>
                            <input matInput class="form-control" [(ngModel)]="valorBusqueda">
                        </div> -->
                        <div class="empresas">
                            <p class="titulo">{{EmpresasTitulo}}</p>
                            <p class="resultado">{{totalEmpresas}} {{Resultados}}</p>
                        </div>
                        <!-- <div class="Sector">
                            <p class="titulo">Sector</p> -->
                            <!-- <p class="resultado">Seleccionar</p> -->
                            <!-- <select class="resultado">
                            <option>Seleccionar</option>
                            </select>
                        </div> -->
                    </div> 
                </div>
                <div class="perfil">
                    <div class="perfiles"
                     *ngFor="let item of ListaEmpresas | paginate: { itemsPerPage: 6, currentPage: page }">
                        <div class="mitad1">
                            <img class="logo-empresa rounded-circle" [src]="item.imagen || urlImgDefault">
                            <div>
                            <p class="nombre">{{item.razonSocial}}</p>
                            <p class="resumen">{{item.sector}}</p>
                            </div>
                        </div>
                        <div class="mitad2">
                            <div class="div-separador">
                                <div class="separador"></div>
                            </div>
                             <div class="info">
                                <p *ngIf="item.email" class="resumen">{{EmailLabel}}: {{item.email}}</p>
                                <p *ngIf="item.paginaWeb" class="resumen">{{PaginaWeb}}: {{item.paginaWeb}}</p>
                                <p *ngIf="item.urlFacebook" class="resumen">{{Facebook}}: <a href="{{item.urlFacebook}}" target="_blank">{{item.urlFacebook}}</a></p>
                                <p *ngIf="item.urlInstagram" class="resumen">{{Instagram}}: <a href="{{item.urlInstagram}}" target="_blank">{{item.urlInstagram}}</a></p>
                                <p *ngIf="item.urlLinkedIn" class="resumen">{{LinkedIn}}: <a href="{{item.urlLinkedIn}}" target="_blank">{{item.urlLinkedIn}}</a></p>
                                <p *ngIf="item.direccion" class="resumen">{{Direccion}}: {{item.direccion}}</p>
                                <p *ngIf="item.telefonoEmpresa" class="resumen">{{Telefono}}: {{item.telefonoEmpresa}}</p>
                                <p *ngIf="item.descripcionEmpresa" class="resumen">{{Descripcion}}: {{item.descripcionEmpresa}}</p>
                                <p *ngIf="item.link" class="resumen">{{PaginaServicios}}: {{item.link}}</p>
                            </div>
                            </div>
                        </div>
                    <pagination-controls (pageChange)="page = $event" class="controls" 
                    previousLabel=""
                    nextLabel=""
                    autoHide="true"
                    maxSize="6">
                    </pagination-controls>
                </div>
                
            </div>
        </div>

        <div *ngIf="mostrar" class="agrega-a-club">

            <div class="titulo-agrega">
                    <p class="titulo-club">
                        {{AgregaEmpresaDirectorio}}
                    </p>
            </div>
            
            <div class="cuerpo">
                <form [formGroup]="agregarEmpresaForm">
                    <div class="row">
                        <div class="form-group">
                            <p class="estilo_label">{{Nombre}}</p>
                            <input type="text" class="estilo_inputs" formControlName="nombre" disabled>
                            
                        </div>
                    </div>
                    <div class="row-group">
                        <div class="form-group">
                            <p class="estilo_label">{{Pais}}</p>
                            <input type="text" class="estilo_inputs" formControlName="pais">
                        </div>
                        <div class="form-group">
                            <p class="estilo_label">{{Ciudad}}</p>
                            <input type="text" class="estilo_inputs" formControlName="ciudad" disabled>
                        </div>
                    </div>
                    <div class="row-group">
                        <div class="form-group">
                            <p class="estilo_label">{{Direccion2}}</p>
                            <input type="text" class="estilo_inputs" formControlName="direccion" disabled>
                        </div>
                        <div class="form-group">
                            <p class="estilo_label">{{CodigoPostal}}</p>
                            <input type="text" class="estilo_inputs" formControlName="codigoPostal">
                        </div>
                    </div>
                    <div class="row-group">
                        <div class="form-group">
                            <p class="estilo_label">{{Telefono2}}</p>
                            <input type="text" class="estilo_inputs" formControlName="telefono" disabled>
                        </div>
                        <div class="form-group">
                            <p class="estilo_label">{{Email2}}</p>
                            <input type="text" class="estilo_inputs" formControlName="correoElectronico" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <p class="estilo_label">Pública tu pagina web o tu blog</p>
                            <input type="text" class="estilo_inputs" formControlName="urlProducto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <p class="estilo_label">Ingresa tus redes sociales</p>
                            <input type="text" class="estilo_inputs" formControlName="urlFacebook" placeholder="Ingresa tu facebook">
                            <input type="text" class="estilo_inputs" formControlName="urlInstagram" placeholder="Ingresa tu instagram">
                            <input type="text" class="estilo_inputs" formControlName="urlLinkedIn" placeholder="Ingresa tu linkedin">
                        </div>
                    </div>
                    <div class="botones">
                        <button (click)="volver()" class="btn boton-volver"><p class="titulo-boton">{{Volver}}</p></button>
                        <button (click)="finalizar()" type="submit" class="btn boton-finalizar"><p class="titulo-boton">{{Finalizar}}</p></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>