.navbar-ct {
  @extend .navbar-ct2;
  display: flex;
}

.navbar-ct2 {
  width: 100%;
  height: 20vh;
  background: transparent linear-gradient(0deg, #304580 0%, #1a2050 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

  .logo {
    padding-left: 5.202vw;
    min-width: 36.411vw;
    width: 40%;
    opacity: 1;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .nav-navbar {
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding-right: 5%;

    .opciones {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      .item {
        text-align: center;
        font-size: 0.975vw;
        font-family: 'Open Sans';
        font-weight: normal;
        letter-spacing: 0px;
        color: #ffffff !important;
        opacity: 1;
      }
    }

    .boton-ingresar,
    .boton-salir {
      width: 7.607vw;
      height: 3.121vw;
      background: #2699fb 0% 0% no-repeat padding-box;
      border-radius: 50rem;
      opacity: 1;
      text-align: center;
      font-size: 0.975vw;
      font-family: 'Open Sans';
      font-weight: normal;
      letter-spacing: 0px;
      color: #ffffff;
      opacity: 1;
    }

    .nombreUsuario {
      margin: 0rem;
      align-self: center;
      color: #26b1fb;
      font-size: 0.975vw;
    }

    .perfil {
      margin: -0.65vw 0 0 0.325vw;
      left: 72.952vw;
      width: 3.641vw;
      height: 3.641vw;
      // background: transparent url('img/Image 27.png') 0% 0% no-repeat padding-box;
      opacity: 1;

      &:focus {
        outline: none;
      }
    }

    .elemento:hover {
      background: aliceblue !important;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .navbar-ct2 {
    display: none;
  }

  .navbar-ct {
    display: flex;
    width: 100vw;
    height: auto;
    background: transparent linear-gradient(0deg, #314681 0%, #1a2050 0) 0% 0% no-repeat padding-box;
    opacity: 1;
    flex-wrap: initial;
    flex-direction: column-reverse;
    align-items: initial;

    .logo {
      padding-left: 0rem;
      width: 100%;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .nav-navbar {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-right: 0rem;
      padding-left: 0.5rem;
      flex-direction: row-reverse;

      .opciones {
        display: none;
        flex-direction: row;
        align-items: center;

        .item {
          text-align: center;
          font-size: 15px;
          font-family: 'Open Sans';
          font-weight: normal;
          letter-spacing: 0px;
          color: #ffffff !important;
          opacity: 1;
        }
      }

      .boton-ingresar,
      .boton-salir {
        display: none;
        width: 117px;
        height: auto;
        padding: 0.8rem 0rem;
        background: #2699fb 0% 0% no-repeat padding-box;
        border-radius: 49px;
        opacity: 1;
        text-align: center;
        font-size: 15px;
        font-family: 'Open Sans';
        font-weight: normal;
        letter-spacing: 0px;
        color: #ffffff;
        opacity: 1;
      }

      .nombreUsuario {
        margin: 0rem;
        align-self: center;
        color: #26b1fb;
        font-size: 12px;
      }

      .perfil {
        margin: 5px;
        left: 0px;
        width: 50px;
        height: 50px;
        opacity: 1;

        &:focus {
          outline: none;
        }
      }

      .burger {
        margin: 1rem;
        width: 30px;
        height: 30px;
        opacity: 1;

        &:focus {
          outline: none;
        }
      }

      .elemento:hover {
        background: aliceblue !important;
      }

      .dropdownPhoto {
        display: none;
      }

      .dropdownBurger {
        display: auto;
        align-self: center;
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 900px) {
  .navbar-ct2 {
    display: flex;
  }

  .opciones {
    display: flex;
  }

  .dropdownPhoto {
    display: auto;
  }

  .dropdownBurger {
    display: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {
    background: blue;
  }
}
