<div class="navbar-ct" [ngClass]="{ 'navbar-ct':hideNavbar!==true, 'navbar-ct2':hideNavbar }" [ngStyle]="{ 'background': account?.userEmpresa==null && navbarState==true ? 'transparent linear-gradient(0deg, #304580 0%, #1a2050 100%) 0% 0% no-repeat padding-box' : '#FFFFFF 0% 0% no-repeat padding-box' }">
    <img (click)="accederRuta('inicio')" *ngIf="navbarState===true && account?.userEmpresa===null" class="logo" src="https://d1jbv8ig3bmrxx.cloudfront.net/logo_empresa.png">
    <img (click)="accederRuta('inicio')" *ngIf="navbarState===false || account?.userEmpresa!==null" class="logo" src="https://d1jbv8ig3bmrxx.cloudfront.net/logo_cdt.png">
    <!-- <div class="opciones"> -->
        <nav class="nav-navbar">
            <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
                <!-- <div class="navbar-nav"> -->
                    <div class="opciones" >
                        <a *ngFor="let item of lstOpcionesMenu" class="nav-item item" [ngStyle]="{ 'color': account?.userEmpresa==null && navbarState==true ? '#FFFFFF' : '#797979' }"
                            [routerLink]="[item.ruta]">{{item.etiqueta}}</a>
                    </div>
                    <div ngbDropdown *ngIf="logged" class="dropdownBurger">
                        <fa-icon icon="bars" ngbDropdownToggle href="javascript:void(0);" 
                            class="burger dropdown-toggle rounded-circle" [ngStyle]="{ 'color': account?.userEmpresa==null && navbarState==true ? '#FFFFFF' : '#6d7184' }"></fa-icon>
                        <!-- <img class="burger dropdown-toggle ro11unded-circle" ngbDropdownToggle href="javascript:void(0);"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAg0lEQVRoge3WMQoDMQxEUSnnWHKfzUFyce09JsWSYNQZgizMf53AxYyrMQMAYBeSXpJCfYWkc8zsqUCY2VH6a/PC3Z/fIxdQfZ557v7L/VgZ5B9ygWtJijkxHrnAOz9oJuzOCAAdiS1Ugi3UCluoGFsIQGdiC5VgC7XCFirGFgIA7OUDCr8ZYRVLYKMAAAAASUVORK5CYII="> -->
                        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="account-menu">
                            <a *ngFor="let item of lstOpcionesMenu" 
                                class="dropdown-item elemento"
                                [routerLink]="[item.ruta]">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span>{{item.etiqueta}}</span>
                            </a>
                            <a class="dropdown-item elemento" (click)="cambiarContrasena()" id="cambiarContrasena">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span>Cambiar contraseña</span>
                            </a>
                            <a class="dropdown-item elemento" (click)="cerrarSesion()" id="salir">
                                <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                                <span>{{lblSalir}}</span>
                            </a>
                        </div>
                    </div>
                    <div ngbDropdown *ngIf="logged" style="display: inline-flex;">
                        <a class="nombreUsuario" [routerLink]="lstOpcionesMenu[1].ruta">¡Hola {{account?.firstName}}!</a>
                        <img class="perfil dropdown-toggle rounded-circle" ngbDropdownToggle href="javascript:void(0);"
                            id="account-menu" [src]="imagen?.archivo || urlImageDefault">
                        <div class="dropdown-menu dropdown-menu-right dropdownPhoto" ngbDropdownMenu aria-labelledby="account-menu">
                            <a *ngFor="let item of lstOpcionesMenu" 
                                class="dropdown-item elemento"
                                [routerLink]="[item.ruta]">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span>{{item.etiqueta}}</span>
                            </a>
                            <a class="dropdown-item elemento" (click)="cambiarContrasena()" id="cambiarContrasena">
                                <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                                <span>Cambiar contraseña</span>
                            </a>
                            <a class="dropdown-item elemento" (click)="cerrarSesion()" id="salir">
                                <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                                <span>{{lblSalir}}</span>
                            </a>
                        </div>
                    </div>
                    <button *ngIf="!logged" class="btn shadow-none boton-ingresar"
                        (click)="ventanaInicioSesion()">{{lblIngresar}}</button>
                    <div ngbDropdown *ngIf="!logged" class="dropdownBurger">
                        <img class="burger dropdown-toggle rounded-circle" ngbDropdownToggle href="javascript:void(0);"
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAg0lEQVRoge3WMQoDMQxEUSnnWHKfzUFyce09JsWSYNQZgizMf53AxYyrMQMAYBeSXpJCfYWkc8zsqUCY2VH6a/PC3Z/fIxdQfZ557v7L/VgZ5B9ygWtJijkxHrnAOz9oJuzOCAAdiS1Ugi3UCluoGFsIQGdiC5VgC7XCFirGFgIA7OUDCr8ZYRVLYKMAAAAASUVORK5CYII=">
                        <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="account-menu">
                            <a class="dropdown-item elemento" (click)="accederRuta('inicio')" id="inicio">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span>Inicio</span>
                            </a>
                            <a class="dropdown-item elemento" (click)="contactenos()" id="contactenos">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span>Contáctenos</span>
                            </a>
                            <a class="dropdown-item elemento" (click)="accederRuta('persona')" id="personas">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span>Perfil</span>
                            </a>
                            <a class="dropdown-item elemento" (click)="accederRuta('empresa')" id="empresas">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span>Empresas</span>
                            </a>
                            <a class="dropdown-item elemento" (click)="accederRuta('publicacion')" id="publicaciones">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span>Publicaciones</span>
                            </a>
                            <a class="dropdown-item elemento" (click)="accederRuta('nosotros')" id="nosotros">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span>Nosotros</span>
                            </a>
                            <a class="dropdown-item elemento" (click)="ventanaInicioSesion()" id="contactenos">
                                <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                <span>{{lblIngresar}}</span>
                            </a>
                        </div>
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </nav>
    <!-- </div> -->
</div>
<div *ngIf="entendido!==true" class="divCookies">
    <p class="label-terminos">
        Utilizamos cookies de terceros para el funcionamiento de la página y para generar estadísticas de audiencia. Si sigues navegando estarás aceptando su uso. 
            <a class="mas-info" (click)="openScrollableContent(longContent)">Más información</a>
    </p>
    <button class="btn shadow-none boton-ingresar"
                        (click)="entendidoCookie()">Entendido</button>
</div>

<ng-template #longContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" style="color: #1FB9FD;">Políticas de uso de Cookies</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <pre style="white-space: pre-wrap; text-align: justify;">{{Politicas_cookies}}</pre>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">{{Aceptar}}</button>
    </div>
</ng-template>