<div class="estilo_home">
    <img class="logo" src="../../../content/images/logo_cdt_fondo2.png">
    <div class="div_centro">
        <h3 class="titulo1">Cambiar contraseña</h3>
        <div class="inputs">
            <input class="estilo_input" maxlength="30" type="password" name="nombre" [(ngModel)]="password" placeholder="Nueva contraseña"
                  [ngModelOptions]="{standalone: true}">
            <input class="estilo_input" maxlength="30" type="password" name="nombre" [(ngModel)]="confirmPassword" placeholder="Confirmar contraseña"
                  [ngModelOptions]="{standalone: true}">
        </div>
        <button class="button_cambiar_contrasenia">Cambiar</button>
    </div>
</div>
