<div class="app-loading" *ngIf="cmNuevoCorreo === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="estilo_home" *ngIf="cmNuevoCorreo !== null && initialized && key && !success">
    <img class="logo" src="../../../content/images/logo_cdt_fondo2.png">
    <div class="div_centro">
        <h3 class="titulo1">{{Cambiar_Contrasenia}}</h3>
        <div class="inputs">
            <div class="row_documento" style="margin-top: 0.520vw;">
                <input class="input-answer" maxlength="30" [type]="inputPrimero" name="nombre" [(ngModel)]="password"
                placeholder="Nueva contraseña" [ngModelOptions]="{standalone: true}">
                <button class="button-resolver" (click)="clicPrimerInput()">
                    <img class="icono" [src]="eyePrimero">
                </button>
                <label *ngIf="mensajeClave" class="text-danger">
                    {{mensajeClave}}
                </label>
            </div>
            <div class="row_documento" style="margin-top: 0.520vw;">
                <input class="input-answer" maxlength="30" [type]="inputSegundo" name="nombre" [(ngModel)]="confirmPassword"
                placeholder="Confirmar contraseña" [ngModelOptions]="{standalone: true}">
                <button class="button-resolver" (click)="clicSegundoInput()">
                    <img class="icono" [src]="eyeSegundo">
                </button>
                <label *ngIf="mensajeConfClave" class="text-danger">
                    {{mensajeConfClave}}
                </label>
            </div>
        </div>
        <br/>
        <button class="button_cambiar_contrasenia" (click)="confirmarPassword()">{{Cambiar}}</button>
    </div>
</div>
