<div class="container-pdf">
    <div class="box-left">
        <img class="foto-perfil rounded-circle" [src]="imagen?.archivo || urlImageDefault">
        <h3 class="title">Sobre Mi</h3>
        <div class='linea-base'></div>
        <p class="text">Texto</p>
        <h3 class="title">Contacto</h3>
        <div class='linea-base'></div>
        <div class="contacto-icons">
            <img class="icono" src="../../../content/images/instagram.png">
            <p class="text">Teléfono</p>
        </div>
        <div class="contacto-icons">
            <img class="icono" src="../../../content/images/instagram.png">
            <p class="text">Ubicación</p>
        </div>
        <div class="contacto-icons">
            <img class="icono" src="../../../content/images/instagram.png">
            <p class="text">Correo Electrónico</p>
        </div>
    </div>
    <div class="box-right">
        <h1>NOMBRE APELLIDO</h1>
        <h2>CARGO/PUESTO</h2>
        <h3>EXPERIENCIA PROFESIONAL</h3>
        <div class='linea-base'></div>
        <div>
            <h4></h4>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <h3>FORMACIÓN</h3>
        <div>
            <h4></h4>
            <p></p>
            <p></p>
            <p></p>
        </div>
        <h3>IDIOMAS</h3>
        <div>
            <h4></h4>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </div>
</div>