<div class="container" style="margin: 40px 0 40px 0">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2 text-center">
            <img class="foto-perfil rounded-circle" [src]="imagen?.archivo || urlImageDefault">
            <qrcode class="codigo" *ngIf="qrCard" [qrdata]="qrCard" [width]="81"></qrcode>
            <button class="btn shadow-none bg-transparent boton-regresar" (click)="regresarPerfil()">
                <fa-icon icon="chevron-left"></fa-icon>
            </button>
        </div>
        <div class="col-md-5" style="max-width: 590px;">
            <div class="informacion-hoja-vida">
                <div *ngIf="!cargado" class="spinner-grow text-dark center-spinner" style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <div style="height: 100%;" *ngIf="cargado">
                    <pdf-viewer [zoom]="0.9" [src]="pdfHojaVida64Render" [render-text-mode]="1" [original-size]="false" [show-all]="true"></pdf-viewer>
                </div>
            </div>
            <button *ngIf="cargado" (click)="descargarPDF()" class="btn ml-auto shadow-none boton-descargar">{{lblDescargar}}</button>
        </div>
    </div>
</div>

<kendo-pdf-export #pdf [ngStyle]="{'visibility' : showElement ? 'visible' : 'hidden'}">
    <div class="container-pdf">
        <div class="box-left">
            <img class="foto-perfil" [src]="imagen?.archivo || urlImageDefault">
            <h4 class="title">SOBRE MI</h4>
            <div class='linea-base'></div>
            <p class="text" style="margin-top: 5px;">{{hojaVidaVo?.informacionPersonal?.perfilProfesional}}</p>
            <h4 class="title">CONTACTO</h4>
            <div class='linea-base'></div>
            <div class="contacto-icons">
                <img class="icono" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABJ0lEQVRIidXVLUsEURTG8Z+OICgYNBq0GQSjwaLB7bYtJpufwuQnEBYMgmhQq80iBi2CBhGLQRG2GBRsirqGuwt3x9mF2ZlFfODCnbmH5885577w3zUQzStYwVAqZgeXZcDe0MgYe0VMB6P5a4eYmSKAWGeyM/jERK+mcQZXHWISoT+FAd0audQrINY4Pvwu0TsWywDAccr8C6tlmcNyCrBZpjnh4F1EgFuMlA2ZF0rTguwXMUsy/tUxhoXm95zQ/PMioLSGca29Hxva7y7CNl8Tss6tSTylIAcYba4n2I3WnnGCLTnOzaxQshjyiCqOZF8tDdznyWQKd13MskY9D4DQ9G189wvQUgU3/QQQdk4Vpzpn9FAEEGsa6zgUGvsivB+1sgB/rx/ir3ZmFWUVPQAAAABJRU5ErkJggg=="/>
                <p class="text" >{{hojaVidaVo?.informacionPersonal?.telefono}}</p>
            </div>
            <div class="contacto-icons">
                <img class="icono" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABMElEQVRIidWUvUoDURCFP3VhmygExMYHEGzTpsuTxCIp1EBeY0ms43PkIUxgIXa2Qto0SSSg4k+RWfZ6M/uT2cYcOLDMnD3n7p17F/4BQqAHTIA34QS4l14lXALPwE8GZ6IxISwwd0NMX9JTzFZCv35nCZh6JkPgBAiAB6/3ZAlYeysPnF6g9FUc5wS877GYD0vAi/N8CkRsVx4AA6CWoS2NPrvDXPN3axL2LQEXwEYx87kRrQnDEgEDqznAObDIMV+IphJucgLaVc0BjoCxYj6W3t7oOCaR1OrAq1Ofk25N5NQ7ZQJi54UvoCX1JvApbEqtJZpEHxeZN0iHp/0hb4U+QtLD0MgLeMR+9JIjPcoS1ICliK4NAVfAN9ubfqYJuhRfqrJUhx0bzTQWDvtw8AvwsLAXmzPv8wAAAABJRU5ErkJggg=="/>
                <p class="text">{{hojaVidaVo?.informacionPersonal?.direccionResidencia}}</p>
            </div>
            <div class="contacto-icons">
                <img class="icono" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA/klEQVRIie3TIUsEURQF4G9HiyzYDBbFLgbDRoOIKCx2sZisRqvRatxqtBr0D2jZZDWpaxZEi6KMwTfwVmaHhzOCyB44Yd6595zLe3cY4y9hHbfIa/IOa4VpFgVsYb6BQeewUiZk2MNTjekfg0eraoJZnPzA/BQzVcbn6EbfXWlvcoPVqG8H/bKAouHM1z3CFA7xWmL8hmO0Q+0CLiJ9ZECOFxxgImhLuIr0SywGbRL7eP7mURlQsI/loGfYDiy2r4PrEb1JATk+0MN0VNvGEd4r+pIDCt5jN3CQUI/hfS1NrYEWw3/yr+B/BTw06DsoO9yUth0p27bR4LBj1MQnwB2aS1VuVgwAAAAASUVORK5CYII="/>
                <p class="text">{{hojaVidaVo?.informacionPersonal?.usuario?.email}}</p>
            </div>
        </div>
        <div class="box-right">
            <h1 style="margin-top: 1.5rem;"><span style="color: grey;">{{hojaVidaVo?.informacionPersonal?.usuario?.nombre}}</span> {{hojaVidaVo?.informacionPersonal?.usuario?.apellido}}</h1>
            <div style="padding-left: 3rem;" *ngFor="let item of hojaVidaVo?.experienciaLaboral">
                <div *ngIf="item.trabajoActual==true">
                    <h3 style="margin-bottom: 1rem;">{{item?.cargo?.cargo}}</h3>
                </div>
            </div>
            <h4>EXPERIENCIA PROFESIONAL</h4>
            <div class='linea-base'></div>
            <div class="experiencias" *ngFor="let item of hojaVidaVo?.experienciaLaboral">
                <h5>{{item?.cargo?.cargo}}</h5>
                <ul style="padding-left: 1.5rem;">
                    <li>{{item?.nombreEmpresa}}</li>
                    <div *ngIf="item.trabajoActual==true">
                        <li>{{item?.fechaInicio}} / Actualidad</li>
                    </div>
                    <div *ngIf="item.trabajoActual!=true">
                        <li>{{item?.fechaInicio}} / {{item?.fechaFin}}</li>
                    </div>
                    <li>{{item.ciudad ? this.getCiudad(item.ciudad + '') : item.ciudadExtranjera}}</li>
                </ul>
            </div>
            <h4>FORMACIÓN</h4>
            <div class='linea-base'></div>
            <div class="experiencias" *ngFor="let item of hojaVidaVo?.informacionAcademica">
                <h5>{{item?.tituloOtorgado}}</h5>
                <p>{{item?.institucion}}</p>
                <p>{{item?.fechaFin}}</p>
                <p>{{item?.estado}}</p>
            </div>
            <h4>IDIOMAS</h4>
            <div class='linea-base'></div>
            <div class="experiencias" *ngFor="let item of hojaVidaVo?.idiomas">
                <p>{{item?.idIdioma?.idioma}} : {{item?.nivel}}</p>
            </div>
        </div>
    </div>
</kendo-pdf-export>