.container-pdf {
  display: flex;
  flex-direction: row;
  width: 830px;
  height: 1300px;

  h1,
  h5,
  h3 {
    font-weight: bold;
    margin-bottom: 0rem;
  }

  h4 {
    font-weight: bold;
    margin-bottom: 0rem;
    margin-top: 1.5rem;
  }

  p {
    margin-bottom: 0rem;
  }

  .linea-base {
    width: 180px;
    height: 2.5px;
    background-color: black;
    border-bottom: black;
    border-bottom-width: 2px;
  }

  .box-left {
    background-color: #dfdfdf;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .icono {
      width: 1.2rem;
      height: 1.2rem;
      margin-right: 0.5rem;
    }

    .foto-perfil {
      width: 280px;
      height: 280px;
      opacity: 1;
      margin-top: 1rem;
      margin-bottom: 7px;
    }

    .contacto-icons {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
    }
  }

  .box-right {
    background-color: white;
    width: 60%;
    display: flex;
    padding: 1rem;
    flex-direction: column;

    .experiencias {
      padding-left: 3rem;
      padding-top: 1.5rem;
    }
  }
}

.header {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #e5e5e5;
  color: #3aabf0;
  background-color: #999999;
  border-radius: 50%;
}

.address {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.from p,
.for p {
  color: #787878;
}

.signature {
  padding-top: 36px;
}
