<div class="container">
    <div *ngIf="general === 'true'" style="display: flex; align-items: center; justify-content: center; margin-top: 2%; margin-bottom: 75px;">
    <p class="text-top">¡Explora cientos de ofertas de trabajo!</p>
    <img src="../../../content/images/img3.png" class="imgTop" style="margin-left: 2%;">
    </div>
    <div class="row" style="display: flex;">
        <div class="col-md-8">
            <div class="cuerpo">
                <div *ngIf = "general === 'true'">
                    <div class="buscador">
                        <div class="input-buscador">
                            <input matInput placeholder="Busqueda" class="form-control"
                            (keyup.enter)="cargarOfertar()" [(ngModel)]="valorBusqueda">
                            <button class="btnBuscar" (click)="cargarOfertar()">
                                <fa-icon [icon]="faSearch" class="border-icon2" style="
                                background: transparent; color: #0a0a0a;">
                                </fa-icon>
                            </button>
                        </div>
                        <div class="empresas">
                            <p class="titulo">Empresas</p>
                            <p class="resultado">{{totalEmpresas}} resultados</p>
                        </div>
                        <!-- <div class="Sector">
                            <p class="titulo">Profesión</p>
                            <select class="resultado" [(ngModel)]="salarioValue" (change)="cargarOfertar()">
                                <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                                <option *ngFor="let aspiracion of aspiracionesSalariales" 
                                [ngValue]="aspiracion.codigo" >
                                    {{ aspiracion.nombre }}
                                </option>
                            </select>
                        </div> -->
                        <!-- <div class="Sector">
                            <p class="titulo">Edad</p>
                            <select class="resultado" [(ngModel)]="edadValue" (change)="cargarOfertar()">
                                <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                                <option *ngFor="let edad of edades" 
                                [ngValue]="edad.codigo" >
                                    {{ edad.nombre }}
                                </option>
                            </select>
                        </div> -->
                        <div class="Sector">
                            <p class="titulo">Ciudad</p>
                            <select class="resultado" [(ngModel)]="municipioValue" (change)="cargarOfertar()">
                                <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                                <option
                                [ngValue]="municipio.codigo"
                                    *ngFor="let municipio of municipiosPersonal">
                                    {{ municipio.nombre }}
                                </option>
                            </select>
                        </div>  
                        <div class="Sector">
                            <p class="titulo">Género</p>
                            <select class="resultado" [(ngModel)]="generoValue" (change)="cargarOfertar()">
                                <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                                <option value="M" >Masculino</option>
                                <option value="F" >Femenino</option>
                            </select>
                        </div>
                        <div class="Sector">
                            <p class="titulo">Experiencia</p>
                            <select class="resultado" [(ngModel)]="experienciaValue" (change)="cargarOfertar()">
                                <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                                <option *ngFor="let experiencia of experienciasLaborales" 
                                [ngValue]="experiencia.codigo" >
                                    {{ experiencia.nombre }}
                                </option>
                            </select>
                        </div>
                        <div class="Sector">
                            <p class="titulo">Salario</p>
                            <select class="resultado" [(ngModel)]="salarioValue" (change)="cargarOfertar()">
                                <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                                <option *ngFor="let aspiracion of aspiracionesSalariales" 
                                [ngValue]="aspiracion.codigo" >
                                    {{ aspiracion.nombre }}
                                </option>
                            </select>
                        </div>
                            
                        <!-- <div class="Sector">
                            <p class="titulo">Fecha</p>
                            <select class="resultado" [(ngModel)]="fechaValue" (change)="cargarOfertar()">
                                <option [ngValue]="null" enabled>{{labels.SELECCIONE_LABEL}}</option>
                                <option *ngFor="let item of fechaFiltro" 
                                [ngValue]="item.codigo" >
                                    {{ item.nombre }}
                                </option>
                            </select>
                        </div>         -->
                </div>
            </div>
            <div class="container-fluid resultados-busqueda">
                <div *ngIf = "general === 'false'">
                    <br>
                    <br>
                </div>
                <div class="ofertas" style="margin-left: 0 !important;">
                    <div class="oferta" *ngFor="let oferta of listaResultadoBusquedaOfertas | paginate: { itemsPerPage: 20, currentPage: page }">
                        <div class="oferta-arriba">
                            <div class="info">
                                <p class="negrita">{{oferta.empresa}}</p>
                                <p class="negrita">{{oferta.profesion}}</p>
                                <p class="sin-negrita">{{oferta.salario}}</p>
                            </div>
                            <img class="logo-oferta rounded-circle" [src]="oferta.imagen || urlImgDefault">
                        </div>
                        <p class="sin-negrita">{{oferta.ciudad}}</p>
                        <p class="sin-negrita">Publicado: {{oferta.fecha}}</p>
                        <!-- </div> -->
                        <button class="btn shadow-none button-ver" (click)="verOferta(oferta)">VER</button>
                    </div>
                </div>
                <pagination-controls (pageChange)="page = $event" class="controls" 
                    previousLabel=""
                    nextLabel=""
                    autoHide="true"
                    maxSize="6">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
