<div class="container">
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 2%; margin-bottom: 75px;">
    <p class="text-top">¡Explora cientos de ofertas de trabajo!</p>
    <img src="../../../content/images/img3.png" class="imgTop" style="margin-left: 2%;">
    </div>
    <div class="row" style="display: flex;">
        <div class="col-md-8">
            <div class="cuerpo">
                <div class="buscador">
                <div class="input-buscador">
                    <input matInput placeholder="Busqueda" class="form-control">
                </div>
                <div class="empresas">
                    <p class="titulo">Empresas</p>
                    <p class="resultado">2000 resultados</p>
                </div>
                <div class="Sector">
                    <p class="titulo">Sector</p>
                    <select class="resultado">
                        <option *ngFor='let element of selec'>Value 1</option>
                    </select>
                </div>      
                <div class="Sector">
                    <p class="titulo">Fecha</p>
                    <select class="resultado">
                        <option *ngFor='let element of selec'>Value 1</option>
                    </select>
                </div> 
                <div class="Sector">
                    <p class="titulo">Salario</p>
                    <select class="resultado">
                        <option *ngFor='let element of selec'>Value 1</option>
                    </select>
                </div>       
            </div>
            <div class="container-fluid resultados-busqueda">
                <div class="row" style="margin-left: 0 !important; width: 800px;">
                    <div class="elemento-busqueda" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10] | paginate: { itemsPerPage: 6, currentPage: page }">
                        <img src="../../../content/images/Image 35.png" class="logo-empresa">
                        <p class="titulo-resultado">Colombina busca Diseñador Gráfico</p>
                        <p class="subtitulo-resultado">De $1 a
                            $3 millones<br>Bogotá<br>Publicado: 24 - 05 - 2020</p>
                        <button class="btn shadow-none boton-ver">VER</button>
                    </div>
                </div>
                <pagination-controls (pageChange)="page = $event" class="controls" 
                    previousLabel=""
                    nextLabel=""
                    autoHide="true"
                    maxSize="6">
            </pagination-controls>
            </div>
        </div>
    </div>
</div>
