.contenedor {
  width: 100%;
  padding-right: 1.463vw;
  padding-left: 1.463vw;
  margin-right: auto;
  margin-left: auto;
}

.imgTop {
  height: 22vw;
}

.etiqueta-resultado {
  top: 8.127vw;
  margin-left: 10.598vw;
  margin-bottom: 0.52vw;
  width: 7.022vw;
  height: 1.17vw;
  text-align: left;
  font-size: 0.975vw;
  font-family: 'OpenSans';
  font-weight: bold;
  letter-spacing: 0px;
  color: #020d52;
  opacity: 1;
}
.text-top {
  color: #1a9fef;
  font-family: 'Roboto';
  font-style: italic;
  //font-size: 49px;
  text-align: right;
  font-weight: bold;
  //width: 434px;
  //height: 123px;
  //line-height: 59px;
  font-size: 3.186vw;
  width: 28.218vw;
  height: 7.997vw;
  line-height: 3.836vw;
}

.resultados-busqueda {
  margin-left: 0.195vw;
  padding-left: 0px !important;
  //.controls{
  // margin-bottom: 40px;
  // margin-left: 40%;
  .controls {
    display: flex;
    font-size: 0.975vw;
    font-family: 'Roboto';
    margin-top: 1.3vw;
    height: 1.821vw;
    margin-left: 29%;
    margin-bottom: 2.601vw;
    //padding: 5%;
  }
  //}
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}
.cuerpo {
  .btnBuscar {
    height: 0.975vw;
    width: 0.975vw;
    display: contents;
    //background: #020d52;
    //color: #fbfbfb;
    font-family: 'Arial';
    font-size: 12px;
    text-align: center;
    border: none;
    //margin-left: 5px;

    .border-icon2 {
      //margin-right: 0.325vw;
      width: 0.845vw;
      height: 0.845vw;
      opacity: 1;
      //display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}
.controls {
  margin-bottom: 40px;
}
.buscador {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  // height: 41.612vw;
  // width: 8.192vw;
  margin-bottom: 2%;
  padding-bottom: 1rem;
  //margin-left: 178;
  //margin-right: 24px; //1062
  .titulo-prof {
    font-family: 'Roboto';
    color: #020d52;
    text-align: left;
    margin-left: 1.495vw;
    margin-bottom: 0px;
    margin-top: 1.495vw;
    font-size: 0.8vw;
    font-weight: normal;
    opacity: 1;
  }
  .input-buscador {
    display: flex;
    margin-left: 0.975vw;
    margin-right: 0.5vw;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 1.5vw;

    .form-control {
      font-size: 0.9vw;
      height: 1.5vw;
    }
  }
  .empresas {
    margin-top: 1.235vw;
    .titulo {
      display: flex;
      font-family: 'Roboto';
      color: #020d52;
      text-align: left;
      margin-left: 1.495vw;
      margin-bottom: 0px;
      font-size: 0.8vw;
      font-weight: normal;
      opacity: 1;
    }
    .resultado {
      display: flex;
      font-family: 'Roboto';
      font-size: 0.85vw;
      color: #5b5c62;
      opacity: 1;
      margin-top: 0.26vw;
      font-weight: normal;
      text-align: left;
      margin-left: 1.495vw;
      margin-bottom: 0;
    }
  }
  .Sector {
    height: 2.276vw;
    margin-top: 2.276vw;
    .titulo {
      display: flex;
      font-family: 'Roboto';
      color: #020d52;
      text-align: left;
      margin-left: 1.495vw;
      margin-top: 0.13vw;
      font-size: 0.8vw;
      font-weight: normal;
      opacity: 1;
      margin-bottom: 0.26vw;
    }
    .resultado {
      display: flex;
      font-family: 'Roboto';
      font-size: 0.85vw;
      color: #5b5c62;
      opacity: 1;
      margin-top: 0.26vw;
      font-weight: normal;
      text-align: left;
      padding-left: 1.495vw;
      border: none;
      background: none;
      width: 90%;
    }
  }
}

.ofertas {
  display: flex;
  flex-direction: row;
  //justify-content: start;
  flex-wrap: wrap;

  p {
    margin: 0;
  }

  .oferta {
    //width: 184px;
    min-height: min-content;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    padding: 1.04vw;
    justify-content: space-between;
    margin-bottom: 1.04vw;
    margin-left: 1.04vw;

    .oferta-arriba {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .info {
        display: flex;
        flex-direction: column;
        hyphens: auto;
        word-wrap: break-word;
        overflow-wrap: break-word;

        .negrita {
          text-align: left;
          font: normal normal bold 0.78vw Roboto;
          letter-spacing: 0px;
          color: #645d5d;
        }
      }

      .logo-oferta {
        width: 3.251vw;
        height: 3.251vw;
      }
    }

    .sin-negrita {
      text-align: left;
      font: normal normal normal 0.78vw Roboto;
      letter-spacing: 0;
      color: #645d5d;
    }

    .button-ver {
      display: flex;
      width: 3.251vw;
      height: 1.495vw;
      justify-content: center;
      align-items: center;
      background: #2699fb 0% 0% no-repeat padding-box;
      text-align: center;
      font: normal normal normal 0.78vw Roboto;
      letter-spacing: 0px;
      color: #ffffff;
      border: none;
      align-self: flex-end;
      //margin-top: 1.185vw;
    }
  }
}

.elemento-busqueda {
  top: road;
  width: 11.964vw;
  height: 10.403vw;
  margin-right: 0.78vw;
  margin-bottom: 0.78vw;
  background: #f8f8f8 0% 0% no-repeat padding-box;
  //border-radius: 19px;
  opacity: 1;
  //inline-size: min-content;
}

.logo-empresa {
  //margin-top: 14px;
  //margin-right: 9px;
  position: relative;
  top: 0.91vw;
  right: 0.585vw;
  //left: 120px;
  bottom: 5.462vw;
  float: right;
  width: 3.576vw;
  height: 3.576vw;
  background: transparent 0% 0% no-repeat padding-box;
  border-radius: 2.276vw;
  opacity: 1;
}

.boton-ver {
  position: relative;
  float: right;
  //margin-top: 25px;
  //margin-left: 107px;
  bottom: -1.105vw;
  right: 0.65vw;
  width: 4.356vw;
  height: 1.691vw;
  padding: 0px;
  background: #2699fb 0% 0% no-repeat padding-box;
  //border-radius: 49px;
  opacity: 1;
  color: #ffffff;
  font-size: 1.691vw;
  font-family: 'Roboto';
  //font-weight: bold;
  letter-spacing: 0px;
}

.titulo-resultado {
  margin-top: 1.365vw;
  margin-left: 1.04vw;
  //position: relative;
  width: 6.697vw;
  //height: min-content;
  text-align: left;
  font-size: 0.78vw;
  font-family: 'Roboto';
  font-weight: bold;
  letter-spacing: 0px;
  color: #645d5d;
  line-height: 0.78vw;
}

.subtitulo-resultado {
  top: 0.78vw;
  left: 1.04vw;
  position: relative;
  width: 10.078vw;
  height: 3.316vw;
  text-align: left;
  font-size: 0.78vw;
  font-family: 'Roboto';
  letter-spacing: 0px;
  color: #645d5d;
  //line-height: 3px;
}

.presentacion {
  margin-bottom: 4.876vw;
}

.ofertas {
  justify-content: start;
  .oferta {
    width: 11.964vw;
  }
}

.buscador {
  display: flex;
  flex-flow: column;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 900px) {
  .cuerpo {
    display: flex;
    width: 67%;
    // margin-left: 80px;
  }
  .button-ver {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 900px) {
  .text-top {
    font-size: 2.7vh;
    width: 50%;
    max-width: 434px;
  }
  .imgTop {
    width: auto;
    height: 8rem;
  }
  .cuerpo {
    width: 100%;
  }

  .filtros {
    flex-flow: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .btnVerOcultar {
    width: 100%;
    display: grid;
    .button-filtros {
      color: #f5f5f5;
      background: #020d52;
      font-size: 9px;
      font-family: 'Roboto';
    }
  }

  .contenedor {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: auto;
    margin-left: auto;
  }

  .imgTop {
    height: 22vw;
  }

  .etiqueta-resultado {
    top: 125px;
    margin-left: 163px;
    margin-bottom: 8px;
    width: 108px;
    height: 18px;
    text-align: left;
    font-size: 15px;
    font-family: 'OpenSans';
    font-weight: bold;
    letter-spacing: 0px;
    color: #020d52;
    opacity: 1;
  }
  .text-top {
    color: #1a9fef;
    font-family: 'Roboto';
    font-style: italic;
    //font-size: 49px;
    text-align: right;
    font-weight: bold;
    //width: 434px;
    //height: 123px;
    //line-height: 59px;
  }

  .resultados-busqueda {
    margin: 0px;
    padding-left: 0px !important;
    padding: 0px;
    //.controls{
    // margin-bottom: 40px;
    // margin-left: 40%;
    .controls {
      display: flex;
      font-size: 15px;
      font-family: 'Roboto';
      margin-top: 20px;
      height: 28px;
      margin-left: 29%;
      margin-bottom: 40px;
      //padding: 5%;
    }
    //}
  }
  .cuerpo {
    .btnBuscar {
      height: 15px;
      width: 15px;
      display: contents;
      //background: #020d52;
      //color: #fbfbfb;
      font-family: 'Arial';
      font-size: 12px;
      text-align: center;
      border: none;
      //margin-left: 5px;

      .border-icon2 {
        //margin-right: 0.325vw;
        width: 13px;
        height: 13px;
        opacity: 1;
        //display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
    }
  }
  .controls {
    margin-bottom: 40px;
  }
  .buscador {
    background: #f5f5f5 0% 0% no-repeat padding-box;
    //margin-left: 178;
    //margin-right: 24px; //1062
    // flex-flow: column;
    display: flex;
    flex-flow: wrap;
    min-height: 55px;
    margin-bottom: 2%;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 10px;

    .titulo-prof {
      margin-top: 3%;
      font-family: 'Roboto';
      color: #020d52;
      text-align: left;
      margin-left: 23px;
      margin-bottom: 0px;
      font-size: 9px;
      font-weight: normal;
      opacity: 1;
    }
    .input-buscador {
      display: flex;
      margin-left: 0px;
      margin-right: 0px;
      // background: #ffffff 0% 0% no-repeat padding-box;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      width: 100%;
      opacity: 1;
      height: 15px;
      .form-control {
        font-size: 9px;
        width: 100%;
        height: 15px;
      }
    }
    .empresas {
      margin-top: 19px;
      .titulo {
        display: flex;
        font-family: 'Roboto';
        color: #020d52;
        text-align: left;
        margin-left: 23px;
        margin-bottom: 0px;
        font-size: 9px;
        font-weight: normal;
        opacity: 1;
      }
      .resultado {
        display: flex;
        font-family: 'Roboto';
        font-size: 10px;
        color: #5b5c62;
        opacity: 1;
        margin-top: 4px;
        font-weight: normal;
        text-align: left;
        margin-left: 23px;
      }
    }
    .Sector {
      height: 35px;
      margin-top: 14px;
      width: 25%;
      min-width: 125px;
      .titulo {
        display: flex;
        font-family: 'Roboto';
        color: #020d52;
        text-align: left;
        margin-left: 23px;
        margin-top: 2px;
        font-size: 9px;
        font-weight: normal;
        opacity: 1;
        margin-bottom: 4px;
      }
      .resultado {
        display: flex;
        font-family: 'Roboto';
        font-size: 10px;
        color: #5b5c62;
        opacity: 1;
        margin-top: 4px;
        font-weight: normal;
        text-align: left;
        margin-left: 19px;
        border: none;
        background: none;
        width: 95px;
      }
    }
  }

  .ofertas {
    display: flex;
    flex-direction: row;
    //justify-content: start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    // justify-content: center;

    p {
      margin: 0;
    }

    .oferta {
      max-width: 200px;
      min-width: 140px;
      width: 45%;
      min-height: min-content;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      display: flex;
      flex-direction: column;
      padding: 0.7rem;
      justify-content: space-between;
      margin-bottom: 1rem;
      margin-left: 0rem;

      .oferta-arriba {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .info {
          display: flex;
          flex-direction: column;

          .negrita {
            text-align: left;
            font: normal normal bold 12px/17px Roboto;
            letter-spacing: 0px;
            color: #645d5d;
          }
        }

        .logo-oferta {
          width: 50px;
          height: 50px;
        }
      }

      .sin-negrita {
        text-align: left;
        font: normal normal normal 12px/17px Roboto;
        letter-spacing: 0px;
        color: #645d5d;
      }

      .button-ver {
        width: 64px;
        height: 23px;
        background: #2699fb 0% 0% no-repeat padding-box;
        //text-align: center;
        font: normal normal normal 11px/12px Roboto;
        letter-spacing: 0px;
        color: #ffffff;
        border: none;
        align-self: flex-end;
        margin-top: 1.185vw;
      }
    }
  }

  .elemento-busqueda {
    top: 208px;
    width: 184px;
    height: 160px;
    margin-right: 12px;
    margin-bottom: 8px;
    background: #f8f8f8 0% 0% no-repeat padding-box;
    //border-radius: 19px;
    opacity: 1;
    //inline-size: min-content;
  }

  .logo-empresa {
    //margin-top: 14px;
    //margin-right: 9px;
    position: relative;
    top: 14px;
    right: 9px;
    //left: 120px;
    bottom: 84px;
    float: right;
    width: 55px;
    height: 55px;
    background: transparent 0% 0% no-repeat padding-box;
    border-radius: 35px;
    opacity: 1;
  }

  .boton-ver {
    position: relative;
    float: right;
    //margin-top: 25px;
    //margin-left: 107px;
    bottom: -17px;
    right: 10px;
    width: 67px;
    height: 26px;
    padding: 0px;
    background: #2699fb 0% 0% no-repeat padding-box;
    //border-radius: 49px;
    opacity: 1;
    color: #ffffff;
    font-size: 11px;
    font-family: 'Roboto';
    //font-weight: bold;
    letter-spacing: 0px;
  }

  .titulo-resultado {
    margin-top: 21px;
    margin-left: 16px;
    //position: relative;
    width: 103px;
    //height: min-content;
    text-align: left;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: bold;
    letter-spacing: 0px;
    color: #645d5d;
    line-height: 12px;
  }

  .subtitulo-resultado {
    top: 15px;
    left: 16px;
    position: relative;
    width: 155px;
    height: 51px;
    text-align: left;
    font-size: 12px;
    font-family: 'Roboto';
    letter-spacing: 0px;
    color: #645d5d;
    //line-height: 3px;
  }

  .presentacion {
    margin-bottom: 15px;
  }
}
