<div class="body">
    <div class="cuerpo">
        <div class="img-titulo">
            <div class="img">
                <img src="../../../content/images/Image 282.png" class="img2">
            </div>
            <div>
            <p class="titulo">{{listaResultadoOfertas[0].titulo}}</p>
            </div>
        </div>
        <div class="oferta">
            <p>{{listaResultadoOfertas[0].descripcion}}</p>
        </div>
        <div class="caracte">
            <table class="tabla_oferta" style="width: 90%;">
                <tr>
                  <th class="titulo_oferta_previsualizacion">Titulo:</th>
                  <th class="titulo_oferta_previsualizacion">Tipo de contrato:</th>
                  <th class="titulo_oferta_previsualizacion">Publicado:</th>
                </tr>
                <tr>
                  <td class="des_titulo" style="width: 30%;">{{listaResultadoOfertas[0].titulo}}</td>
                  <td class="des_titulo" style="width: 40%;">{{listaResultadoOfertas[0].tipoContrato}}</td>
                  <td class="des_titulo" style="width: 30%;">{{listaResultadoOfertas[0].publicado}}</td>
                </tr>
            </table>
            <table class="tabla_oferta" style="width: 90%; margin-top: 15px;">
                <tr>
                  <th class="titulo_oferta_previsualizacion">Experiencia:</th>
                  <th class="titulo_oferta_previsualizacion">Ciudad:</th>
                  <th class="titulo_oferta_previsualizacion">Área:</th>
                </tr>
                <tr>
                  <td class="des_titulo" style="width: 30%;">{{listaResultadoOfertas[0].experiencia}}</td>
                  <td class="des_titulo" style="width: 40%;">{{listaResultadoOfertas[0].ciudad}}</td>
                  <td class="des_titulo" style="width: 30%;">{{listaResultadoOfertas[0].salario}}</td>
                </tr>
            </table>
        </div>
    </div>
    <button class="aplicar" (click)="aplicarOferta()">
        Aplicar
    </button>
    <div style="text-align: -webkit-center; margin-bottom: 99px; margin-top: 42px;">
    <button class="volver" (click)="volver()">Volver</button>
    </div>
</div>
