.body {
  background: #2f447f;
  display: grid;
  align-items: center;
  //justify-content: center;
  //max-width: 100%;
  //max-height: 100%;
}
.cuerpo {
  height: max-content;
  min-height: 319px;
  background: #f8f8f8;
  padding: 19px;
}
.img {
  .img2 {
    width: 60px;
    height: 60px;
    border-radius: 35px;
  }
}
p.titulo {
  font-family: 'Roboto';
  font-size: 16px;
  color: #020d52;
  opacity: 1;
  font-weight: bold;
  //margin-top: 10%;
  margin-left: 20%;
  width: max-content;
}
.img-titulo {
  display: flex;
  margin-bottom: 41px;
  align-items: center;
}
.oferta {
  font-family: 'Roboto';
  font-size: 12px;
  color: #7e7474;
  opacity: 1;
  line-height: 17px;
  font-weight: bolder;
}
.titulo_oferta_previsualizacion {
  color: #1fb9fd;
  font-size: 12px;
  line-height: 17px;
  font-family: 'Roboto';
}
.des_titulo {
  font-size: 12px;
  color: #7e7474;
  line-height: 17px;
  font-family: 'Roboto';
  font-weight: bolder;
}
.aplicar {
  height: 39px;
  background: #1a9fef;
  border: none;
  color: #ffffff;
  font-size: 21px;
  font-family: 'Roboto';
}
.aplicar,
.aplicar:focus {
  outline: none;
}
.aplicada {
  height: 39px;
  background: #ef681a;
  border: none;
  color: #ffffff;
  font-size: 21px;
  font-family: 'Roboto';
}
.volver {
  width: 132px;
  height: 31px;
  text-align: center;
  background: #e5e5e5;
  font-family: 'Roboto';
  font-size: 10px;
  color: #1b2455;
  border: none;
  border-radius: 24px;
}
.volver,
.volver:focus {
  outline: none;
}

@media screen and (min-width: 900px) {
  .body {
    justify-content: center;
  }
  .img {
    .img2 {
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
    }
  }
  .cuerpo {
    width: 60.678vw;
    margin-top: 1.3vw;
  }
  .aplicar {
    width: 60.678vw;
  }
  .aplicada {
    width: 60.678vw;
  }
  p.titulo {
    font-family: 'Roboto';
    font-size: 1.4vw;
    color: #020d52;
    opacity: 1;
    font-weight: bold;
    //margin-top: 10%;
    margin-left: 2vw;
    width: max-content;
  }
  .oferta {
    font-family: 'Roboto';
    font-size: 0.780vw;
    color: #7e7474;
    opacity: 1;
    line-height: 1vw;
    font-weight: bolder;
  }
  .titulo_oferta_previsualizacion {
    color: #1fb9fd;
    font-size: 0.780vw;
    line-height: 0.980vw;
    font-family: 'Roboto';
  }
  .des_titulo {
    font-size: 0.780vw;
    color: #7e7474;
    line-height: 0.980vw;
    font-family: 'Roboto';
    font-weight: bolder;
  }
  .img-titulo {
    margin-bottom: 2.666vw;
  }
}
