<div class="app-loading" *ngIf="commonMessages === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div *ngIf="commonMessages !== null">
    <router-outlet name="navbar-ct"></router-outlet>
</div>
<div *ngIf="commonMessages !== null">
    <router-outlet></router-outlet>
</div>
<div *ngIf="commonMessages !== null">
    <router-outlet name="footer"></router-outlet>
</div>
