<div class = "container">
    <div class="info">
        <div class="img0">
            <img [src]="urlImageDefault" alt="" class="img">
        </div>
        <div class = "informacion_candidato"> 
        <div class="nombre">
            {{listaResultadoHojaCandidato[0].nombre}} {{listaResultadoHojaCandidato[0].apellido}}
        </div>
        
        <div class="titulo">
            <p class="titulo1">{{Titulo}}</p>
            <p class="titulo2">{{listaResultadoHojaCandidato[0].profesion}}</p>
        </div>

        <div class="perfil">
            <p class="descripcion_perfil">{{listaResultadoHojaCandidato[0].descripcion}}</p>
        

            <div class="estudios">
                <p class="titulo_estudios">{{Estudios}}</p>
                <p class="p_estudios" *ngFor="let estudio of listaInformacionAcademica">
                    {{estudio.tituloOtorgado}}
                </p>
            </div>
            <div class="idiomas">
                <p class="titulo_idiomas">{{Idiomas}}</p>
                <p class="p_idiomas" *ngFor="let idioma of listaIdiomas">
                    {{idioma.idIdioma.idioma}}    
                </p>
            </div>
            <div class="experiencia">
                <p class="titulo_experiencia">{{Exp}}</p>
                <div class="p_experiencia" *ngFor="let experiencia of listaExperiencias">
                <!-- <p class="p_experiencia" *ngFor="let experiencia of listaExperiencias"> -->
                    <div style="display: flex;">
                        <fa-icon icon="building" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                        <p class="texto-experiencia color-letra">{{experiencia?.nombreEmpresa}}</p>
                    </div>
                    <div style="display: flex;">
                        <fa-icon icon="user-tie" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                        <p class="texto-experiencia color-letra">{{experiencia?.cargo?.cargo}}</p>
                    </div>
                    <div style="display: flex;">
                        <fa-icon icon="thumbtack" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                        <div *ngIf="experiencia?.trabajoActual==true">
                            <p class="texto-experiencia color-letra">{{experiencia?.fechaInicio}} / {{Actualidad}}</p>
                        </div>
                        <div *ngIf="experiencia?.trabajoActual==false">
                            <p class="texto-experiencia color-letra">{{experiencia?.fechaInicio}} / {{experiencia?.fechaFin}}</p>
                        </div>
                    </div>
                    <div *ngIf="experiencia?.ciudad || experiencia.ciudadExtranjera" style="display: flex; margin-bottom: 1.3vw;">                        
                        <fa-icon icon="globe-americas" class="icono_experiencia color-letra"></fa-icon>&nbsp;
                        <p class="texto-experiencia color-letra">{{experiencia.ciudad ? this.getCiudad(experiencia.ciudad + '') : experiencia.ciudadExtranjera}}</p>
                    </div>
                <!-- </p> -->
                </div>
            </div>
        </div>
        <div class="clubtrabajo">
            <div class="publicidad">
                <img src="../../../content/images/logoazaz.png" alt="Club del Trabajo" class="img2">
                <p class="web">{{Web_Club}}</p>
            </div>
            <div class="btn-estado">
                <p class="t_estado">{{Estado}}</p>
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                    <label ngbButtonLabel class="btn-primary1">
                      <input ngbButton type="radio" value="Ninguno">
                    </label>
                    <label ngbButtonLabel class="btn-primary2">
                      <input ngbButton type="radio" value="Seleccionado">
                    </label>
                    <label ngbButtonLabel class="btn-primary3">
                      <input ngbButton type="radio" value="Descartado">
                    </label>
                  </div>
                  <p class="estado">{{model}}</p>
            </div>
        </div>
        
        </div>
    </div>
    <div class = "botones_abajo">
        <button class="volver" (click)="volver()">{{Volver}}</button>
        <button class="finalizar" (click)="guardarCambios()" [disabled]="cargando">
            <div *ngIf="!cargando">{{Finalizar}}</div>
            <span *ngIf="cargando" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
    </div>
</div>
