<div class = "container">
    <div class="info">
        <div>
            <img src="../../../content/images/Image 28_M.png" class="img">
        </div>
        <div class = "informacion_candidato"> 
        <div class="nombre">
            {{listaResultadoHojaCandidato[0].nombre}}
        </div>
        
        <div class="titulo">
            <p class="titulo1">Título</p>
            <p class="titulo2">{{listaResultadoHojaCandidato[0].profesion}}</p>
        </div>

        <div class="perfil">
            <p class="descripcion_perfil">{{listaResultadoHojaCandidato[0].descripcion}}</p>
        

            <div class="estudios">
                <p class="titulo_estudios">Estudios</p>
                <p class="p_estudios" *ngFor="let estudio of listaInformacionAcademica">
                    {{estudio.tituloOtorgado}}
                </p>
            </div>
            <div class="idiomas">
                <p class="titulo_idiomas">Idiomas</p>
                <p class="p_idiomas" *ngFor="let idioma of listaIdiomas">
                    {{idioma.idIdioma.idioma}}    
                </p>
            </div>
            <div class="experiencia">
                <p class="titulo_experiencia">Experiencia</p>
                <p class="p_experiencia" *ngFor="let experiencia of listaExperiencias">
                    {{experiencia.nombreEmpresa}}
                </p>
            </div>
        </div>
        <div class="clubtrabajo">
            <div class="publicidad">
                <img src="../../../content/images/logoazaz.png" alt="Club del Trabajo" class="img2">
                <p class="web">www.clubdeltrabajo.com</p>
            </div>
            <div class="btn-estado">
                <p class="t_estado">Estado</p>
                <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                    <label ngbButtonLabel class="btn-primary1">
                      <input ngbButton type="radio" value="Ninguno">
                    </label>
                    <label ngbButtonLabel class="btn-primary2">
                      <input ngbButton type="radio" value="Seleccionado">
                    </label>
                    <label ngbButtonLabel class="btn-primary3">
                      <input ngbButton type="radio" value="Descartado">
                    </label>
                  </div>
                  <p class="estado">{{model}}</p>
            </div>
        </div>
        
        </div>
    </div>
    <div class = "botones_abajo">
        <button class="volver" (click)="volver()">Volver</button>
        <button class="finalizar" (click)="guardarCambios()">Finalizar</button>
    </div>
</div>
