.estilo_body {
  background: transparent linear-gradient(181deg, #2e437e 0%, #1a2152 100%) 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;

  .estilo_inputs {
    width: 295px;
    height: 48px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
  }

  .estilo_titulo {
    text-align: left;
    font: Extrabold 20px/27px Open Sans;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  .estilo_label {
    text-align: left;
    font: Regular 14px/16px Arial;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  .estilo_campo_requerido {
    text-align: left;
    font: Regular 23px/27px Arial;
    letter-spacing: 0px;
    color: #fd2b4c;
    opacity: 1;
  }

  .boton_siguiente {
    width: 295px;
    height: 48px;
    background: #2699fb 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
  }

  .boton_agregar {
    width: 295px;
    height: 48px;
    background: #fb8826 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
  }
}

.file-upload > input {
  visibility: hidden;
  width: 0;
  height: 0;
}
