.estilo_body {
  width: 70%;
  align-self: center;
  justify-self: center;
  background: transparent linear-gradient(181deg, #2e437e 0%, #1a2152 100%) 0% 0% no-repeat padding-box;
  border-radius: 1.875rem 1.875rem 4.438rem 4.438rem;
  opacity: 1;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 0rem;
  padding-top: 3rem;

  .ngnum0 {
    margin: 0rem 5rem 0rem 5rem;
  }

  .ngnum1 {
    margin: 0rem 5rem 0rem 5rem;
  }

  .ngnum11 {
    background: transparent linear-gradient(358deg, #2e437e 0%, #2e427d 6%, #1a2152 100%) 0% 0% no-repeat padding-box;
    border-radius: 4.438rem;
    opacity: 1;
    padding: 1rem 5rem 1rem 5rem;
    margin: 1rem 0rem 1rem 0rem;
  }

  .estilo_titulo {
    text-align: left;
    font-size: 1.25rem;
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  .estilo_label {
    width: 100%;
    text-align: left;
    font-size: 0.875rem;
    font-family: Arial;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0rem;

    .form-group-perfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin-bottom: 1rem;
    }

    .column {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        // .estilo_label {
        //   width: 100%;
        //   text-align: left;
        //   font-size: 0.875rem;
        //   font-family: Arial;
        //   letter-spacing: 0px;
        //   color: #ffffff;
        //   opacity: 1;
        //   padding-left: 1rem;
        //   margin-bottom: 0.5rem;
        // }

        .input_group {
          display: flex;
          flex-direction: row;
          width: 100%;
          font-weight: bold;

          .select_documento {
            width: 35%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 1.5rem 0rem 0rem 1.5rem;
            border-width: 0rem;
            padding-left: 1.5rem;
            opacity: 1;
            font-weight: bold;
          }

          .select_documento:focus {
            outline: none;
          }

          .input_documento {
            width: 50%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-width: 0rem;
            opacity: 1;
            font-weight: bold;
          }

          .file_upload {
            width: 15%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 0rem 1.5rem 1.5rem 0rem;
            border-width: 0rem;
            opacity: 1;
            display: flex;
            align-items: center;

            .label_file {
              margin-bottom: 0rem;
              width: 24px;
              height: 20px;
            }

            .file {
              display: none;
            }
          }

          .dia {
            width: 33.3%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 1.5rem 0rem 0rem 1.5rem;
            border-width: 0rem;
            padding-left: 1.5rem;
            opacity: 1;
            font-weight: bold;
          }

          .mes {
            width: 33.3%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-width: 0rem;
            padding-left: 1rem;
            opacity: 1;
            font-weight: bold;
          }

          .anio {
            width: 33.3%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 0rem 1.5rem 1.5rem 0rem;
            border-width: 0rem;
            padding-left: 1rem;
            opacity: 1;
            font-weight: bold;
          }

          .mesExperiencia {
            width: 50%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 0rem 1.5rem 1.5rem 0rem;
            border-width: 0rem;
            padding-left: 1rem;
            opacity: 1;
            font-weight: bold;
          }

          .anioExperiencia {
            width: 50%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 1.5rem 0rem 0rem 1.5rem;
            border-width: 0rem;
            padding-left: 1rem;
            opacity: 1;
            font-weight: bold;
          }

          .estilo_titulo_otorgado {
            width: 85%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 1.5rem 0rem 0rem 1.5rem;
            border-width: 0rem;
            opacity: 1;
            padding-left: 1.5rem;
            font-weight: bold;
            &:focus {
              outline: none;
            }
          }

          .dia,
          .mes,
          .anio {
            &:focus {
              outline: none;
            }
          }

          .file_upload_licence {
            width: 100%;
            min-height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 1.5rem;
            border-width: 0rem;
            opacity: 1;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1.5rem;
            font-weight: bold;

            .checkbox {
              margin-left: 1rem;
            }

            .name_file {
              width: 85%;
              padding-left: 1rem;
              background: #ffffff 0% 0% no-repeat padding-box;
              border-radius: 1.5rem 0rem 0rem 1.5rem;
              border-width: 0rem;
              opacity: 1;
              font-weight: bold;
            }

            label {
              margin-bottom: 0rem;
            }

            .label_file {
              margin-bottom: 0rem;
              width: 15%;
              height: 20px;
              padding-right: 1rem;
            }

            .file {
              width: 15%;
              display: none;
              align-self: flex-end;
            }
          }

          .file_upload_titulo {
            width: 100%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 1.5rem;
            border-width: 0rem;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-left: 1rem;

            .label_file {
              margin-bottom: 0rem;
              width: 24px;
              height: 20px;
              padding-right: 1rem;
            }

            .file {
              display: none;
            }
          }

          .select_redSocial {
            width: 40%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 1.5rem 0rem 0rem 1.5rem;
            border-width: 0rem;
            padding-left: 1.5rem;
            opacity: 1;
            font-weight: bold;
          }

          .input_redSocial {
            width: 60%;
            height: 3rem;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 0rem 1.5rem 1.5rem 0rem;
            border-width: 0rem;
            opacity: 1;
            font-weight: bold;
          }
        }

        .estilo_inputs {
          width: 100%;
          min-height: 3rem;
          font-weight: bold;
          background: #ffffff 0% 0% no-repeat padding-box;
          border-radius: 1.5rem;
          border-width: 0rem;
          opacity: 1;
          padding-right: 1rem;
          padding-left: 1.5rem;

          .mudarse {
            width: 49%;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 0rem 0rem 0rem 0rem;
            border-width: 0rem;
            padding-left: 1rem;
            opacity: 1;
            font-weight: bold;
          }

          .viajar {
            width: 49%;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 0rem 0rem 0rem 0rem;
            border-width: 0rem;
            padding-left: 1rem;
            opacity: 1;
            font-weight: bold;
          }
        }

        .estilo_inputs:focus {
          outline: none;
        }

        .genero {
          display: flex;
          flex-direction: row;
          align-self: flex-start;
          color: white;

          .radio-inline {
            margin-left: 1rem;
          }
        }
      }
    }

    .estilo_campo_requerido {
      text-align: left;
      margin-bottom: 0.5rem;
      font: Regular 23px/27px Arial;
      letter-spacing: 0px;
      color: #fd2b4c;
      opacity: 1;
    }
  }

  .boton_siguiente {
    min-height: 3rem;
    width: 50%;
    background: #2699fb 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
    z-index: 5;
  }

  .boton_agregar {
    min-height: 3rem;
    width: 50%;
    background: #fb8826 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
  }

  .rowFooter {
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .column {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .estilo_campo_requerido {
        text-align: left;
        margin-bottom: 0.5rem;
        font: Regular 23px/27px Arial;
        letter-spacing: 0px;
        color: #fd2b4c;
        opacity: 1;
      }
    }

    .firstScreen {
      display: flex;
      justify-content: flex-start;
      align-self: flex-start;
    }
  }
}

.file-upload > input {
  visibility: hidden;
  width: 0;
  height: 0;
}
