.estilo_body {
  width: 61.378vw;
  align-self: center;
  justify-self: center;
  background: transparent linear-gradient(181deg, #2e437e 0%, #1a2152 100%) 0% 0% no-repeat padding-box;
  border-radius: 1.951vw 1.951vw 4.617vw 4.617vw;
  opacity: 1;
  margin-top: 3.121vw;
  margin-bottom: 3.121vw;
  padding: 0rem;
  padding-top: 3.121vw;
  max-width: none;

  .ngnum0 {
    margin: 0rem 5.202vw 0rem 5.202vw;
  }

  .ngnum1 {
    margin: 0rem 5.202vw 0rem 5.202vw;
  }

  .ngnum11 {
    background: transparent linear-gradient(358deg, #2e437e 0%, #2e427d 6%, #1a2152 100%) 0% 0% no-repeat padding-box;
    border-radius: 4.616vw;
    opacity: 1;
    padding: 1.04vw 5.202vw 1.04vw 5.202vw;
    margin: 1.04vw 0rem 1.04vw 0rem;
  }

  .estilo_titulo {
    text-align: left;
    font-size: 1.3vw;
    font-family: 'Open Sans';
    font-weight: bold;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  .estilo_label {
    width: 100%;
    text-align: left;
    font-size: 0.91vw;
    font-family: Arial;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding-left: 1.04vw;
    margin-bottom: 0.52vw;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 0rem;

    .form-group-perfil {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 90%;
      margin-bottom: 1.04vw;
    }

    .column {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .archivo_subido {
        color: #82c91e;
        position: absolute;
        //margin-top: 38px;
        margin-left: 3.3vw;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;

        // .estilo_label {
        //   width: 100%;
        //   text-align: left;
        //   font-size: 0.875rem;
        //   font-family: Arial;
        //   letter-spacing: 0px;
        //   color: #ffffff;
        //   opacity: 1;
        //   padding-left: 1.04vw;
        //   margin-bottom: 0.52vw;
        // }

        .input_group {
          display: flex;
          flex-direction: row;
          width: 100%;
          font-weight: bold;
          font-size: 0.91vw;

          .select_documento {
            width: 35%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 50rem 0rem 0rem 50rem;
            border-width: 0rem;
            padding-left: 1.56vw;
            opacity: 1;
            font-weight: bold;
          }

          .select_documento:focus {
            outline: none;
          }

          .select_cargo {
            // width: 35%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 50rem 0rem 0rem 50rem;
            border-width: 0rem;
            padding-left: 1.04vw;
            opacity: 1;
            font-weight: bold;
          }

          .input_cargo {
            width: 90%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-width: 0rem;
            border-radius: 0rem 50rem 50rem 0rem;
            opacity: 1;
            font-weight: bold;
          }

          .input_documento {
            width: 50%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-width: 0rem 1px;
            border-color: lightgray;
            opacity: 1;
            font-weight: bold;
          }

          .input_documento:focus {
            outline: none;
          }

          .file_upload {
            width: 15%;
            height: 100%;
            min-height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 0rem 50rem 50rem 0rem;
            border-width: 0rem;
            opacity: 1;
            display: flex;
            align-items: center;

            .label_file {
              margin-bottom: 0rem;
              width: 1.56vw;
              height: 1.3vw;
            }

            .file {
              display: none;
            }
          }

          .dia {
            width: 33.3%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 50rem 0rem 0rem 50rem;
            border-width: 0rem;
            padding-left: 1.56vw;
            opacity: 1;
            font-weight: bold;
          }

          .mes {
            width: 33.3%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-width: 0rem 1px;
            border-color: lightgray;
            padding-left: 1.04vw;
            opacity: 1;
            font-weight: bold;
          }

          .anio {
            width: 33.3%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 0rem 50rem 50rem 0rem;
            border-width: 0rem;
            padding-left: 1.04vw;
            opacity: 1;
            font-weight: bold;
          }

          .mesExperiencia {
            width: 25%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-width: 0rem;
            padding-left: 1.04vw;
            opacity: 1;
            font-weight: bold;
            border-width: 0rem 1px;
            border-color: lightgray;
          }

          .anioExperiencia {
            width: 25%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 50rem 0rem 0rem 50rem;
            border-width: 0rem;
            padding-left: 1.04vw;
            opacity: 1;
            font-weight: bold;
            border-width: 0rem 1px;
            border-color: lightgray;
          }

          .aniosTexto {
            background-color: white;
            min-height: 3.121vw;
            width: 25%;
            text-align: center;
            margin: 0rem;
            padding-top: 0.78vw;
          }

          .mesesTexto {
            background-color: white;
            min-height: 3.121vw;
            width: 25%;
            text-align: center;
            margin: 0rem;
            padding-top: 0.78vw;
            border-radius: 0rem 50rem 50rem 0rem;
          }

          .estilo_titulo_otorgado {
            width: 85%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 50rem 0rem 0rem 50rem;
            border-width: 0rem;
            opacity: 1;
            padding-left: 1.56vw;
            font-weight: bold;
            &:focus {
              outline: none;
            }
          }

          .dia,
          .mes,
          .anio {
            &:focus {
              outline: none;
            }
          }

          .file_upload_licence {
            width: 100%;
            min-height: 3.121vw;
            background: linear-gradient(to right, rgba(255, 255, 255, 1) 85%, rgba(0, 0, 0, 1) 20%);
            border-radius: 50rem;
            border-width: 0rem;
            opacity: 1;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 1.56vw;
            font-weight: bold;

            .checkbox {
              margin-left: 1.04vw;
            }

            .name_file {
              width: 85%;
              padding-left: 1.04rem;
              background: #ffffff 0% 0% no-repeat padding-box;
              border-radius: 50rem 0rem 0rem 50rem;
              border-width: 0rem;
              opacity: 1;
              font-weight: bold;
              min-height: 3.121vw;
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            .name_file:focus {
              outline: none;
            }

            label {
              margin-bottom: 0rem;
            }

            .label_file {
              margin-bottom: 0rem;
              width: 15%;
              height: 1.3vw;
              padding-right: 1.04vw;
            }

            .file {
              width: 15%;
              display: none;
              align-self: flex-end;
            }
          }

          .file_upload_titulo {
            width: 100%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 50rem;
            border-width: 0rem;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-left: 1.04vw;

            .label_file {
              margin-bottom: 0rem;
              width: 1.56vw;
              height: 1.3vw;
              padding-right: 1.04vw;
            }

            .file {
              display: none;
            }
          }

          .select_redSocial {
            width: 40%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 50rem 0rem 0rem 50rem;
            border-width: 0rem 1px 0rem 0rem;
            border-color: lightgray;
            padding-left: 1.56vw;
            opacity: 1;
            font-weight: bold;
          }

          .select_redSocial:focus {
            outline: none;
          }

          .input_redSocial {
            width: 60%;
            height: 3.121vw;
            background: #ffffff 0% 0% no-repeat padding-box;
            border-radius: 0rem 50rem 50rem 0rem;
            border-width: 0rem;
            opacity: 1;
            font-weight: bold;
          }

          .input_redSocial:focus {
            outline: none;
          }
        }

        .estilo_inputs {
          width: 100%;
          min-height: 3.121vw;
          font-weight: bold;
          background: #ffffff 0% 0% no-repeat padding-box;
          border-radius: 50rem;
          border-width: 0rem;
          opacity: 1;
          padding-right: 1.04vw;
          padding-left: 1.56vw;
          font-size: 0.91vw;

          .mudarse {
            width: 49%;
            background: #ffffff 0% 0% no-repeat padding-box;
            height: 100%;
            min-height: 3.121vw;
            border-radius: 50rem 0rem 0rem 50rem;
            border-width: 0rem 1px 0rem 0rem;
            border-color: lightgray;
            opacity: 1;
            font-weight: bold;

            &:focus {
              outline: none;
            }
          }

          .mat-form-field-wrapper {
            padding-bottom: 0rem;
          }

          .viajar {
            width: 49%;
            background: #ffffff 0% 0% no-repeat padding-box;
            height: 100%;
            border-radius: 0rem 50rem 50rem 0rem;
            border-width: 0rem;
            opacity: 1;
            font-weight: bold;

            &:focus {
              outline: none;
            }
          }
        }

        .estilo_inputs:focus {
          outline: none;
        }

        .genero {
          display: flex;
          flex-direction: row;
          align-self: flex-start;
          color: white;
          font-size: 0.91vw;

          .radio-inline {
            margin-left: 1.04vw;
            display: flex;

            .radio-button {
              border: 0rem;
              width: 100%;
              height: 0.832vw;
            }
          }

          .div_checkbox {
            width: 1vw;
            margin-right: 0.26vw;
          }

          .div_radiobutton {
            width: 0.832vw;
            margin-right: 0.26vw;
          }

          .checkbox-estado {
            border: 0rem;
            width: 100%;
            height: 1vw;
          }
        }

        .notificaciones {
          text-align: center;
          color: white;
          font-size: 0.91vw;

          .radio-inline {
            margin-left: 1.04vw;
            display: flex;
            justify-content: center;

            .div_radio-noti {
              width: 0.832vw;
              margin-right: 0.26vw;

              .radio-button {
                border: 0rem;
                width: 100%;
                height: 0.832vw;
              }
            }
          }
        }
      }
    }

    .estilo_campo_requerido {
      text-align: left;
      margin-bottom: 0.52vw;
      font: 1.1vw Arial;
      letter-spacing: 0px;
      color: #fd2b4c;
      opacity: 1;
    }
  }

  .boton_siguiente {
    min-height: 3.121vw;
    width: 50%;
    background: #2699fb 0% 0% no-repeat padding-box;
    border-radius: 50rem;
    opacity: 1;
    z-index: 5;
    font-size: 0.867vw;
  }

  .boton_quitar {
    min-height: 3.121vw;
    width: 50%;
    background: #fb8826 0% 0% no-repeat padding-box;
    border-radius: 50rem;
    opacity: 1;
    font-size: 0.867vw;
  }

  .boton_agregar {
    min-height: 3.121vw;
    width: 50%;
    background: #fb8826 0% 0% no-repeat padding-box;
    border-radius: 50rem;
    opacity: 1;
    font-size: 0.867vw;
    margin-top: -3.121vw;
  }

  .rowFooter {
    padding-bottom: 1.56vw;
    padding-top: 1.04vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .column {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .estilo_campo_requerido {
        text-align: left;
        margin-bottom: 0.52vw;
        font: 1.495vw Arial;
        letter-spacing: 0px;
        color: #fd2b4c;
        opacity: 1;
      }
    }

    .firstScreen {
      display: flex;
      justify-content: flex-start;
      align-self: flex-start;
    }
  }
}

.file-upload > input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.multiSelect {
  width: 84%;
  height: 3.121vw;
  border-width: 0rem 1px 0rem 0rem;
  border-color: lightgray;
}

.text-danger {
  font-size: 0.78vw;
}

.text-area {
  padding: 0.39vw 0.78vw;
  font-size: 0.975vw;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-wrapper {
  padding-bottom: 0rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
  height: 3.121vw;
  padding: 0 0.75em 0 0.75em !important;
  border-radius: 0rem;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}

::ng-deep {
  .ajs-button.ajs-ok {
    color: #f0f0f0 !important;
    background: #020d52 !important;
    border-radius: 5px !important;
  }

  .ajs-header {
    background: #f0f0f0 !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .estilo_body {
    width: 100%;
    min-width: 100vw;
    align-self: center;
    justify-self: center;
    background: transparent linear-gradient(0deg, #314681 0%, #1a2050 100%) 0% 0% no-repeat padding-box;
    border-radius: 0rem;
    opacity: 1;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0rem;
    padding-top: 3rem;

    .estilo_titulo {
      font-size: 1.25rem;
    }

    .estilo_label {
      font-size: 0.875rem;
    }

    .ngnum11 {
      margin-top: 2rem;
      padding: 1rem 2rem 1rem 2rem;

      .row {
        flex-direction: column;

        .column {
          width: 100%;

          .form-group {
            width: 100%;

            .estilo_inputs {
              min-height: 3rem;
              padding-right: 1rem;
              padding-left: 1.5rem;
              font-size: 0.875rem;
            }
          }
          .archivo_subido {
            margin-left: 0rem;
            right: 0;
          }
        }

        .estilo_campo_requerido {
          margin-bottom: 0.5rem;
          font: 1.063rem Arial;
        }
      }
    }

    .ngnum0,
    .ngnum1 {
      margin: 0rem 2rem 0rem 2rem;

      .row {
        flex-direction: column;

        .column {
          width: 100%;

          .form-group {
            width: 100%;

            .estilo_inputs {
              min-height: 3rem;
              padding-right: 1rem;
              padding-left: 1.5rem;
            }

            .input_group {
              font-size: 0.875rem;

              .file_upload {
                min-height: 3rem;

                .label_file {
                  width: 1.5rem;
                  height: 1.25rem;
                }
              }

              .file_upload_licence {
                min-height: 3rem;
                padding-left: 1rem;
              }

              .dia,
              .mes,
              .anio,
              .select_redSocial,
              .input_redSocial,
              .select_documento,
              .input_documento,
              .estilo_titulo_otorgado,
              .anioExperiencia,
              .mesExperiencia,
              .select_cargo {
                height: 3rem;
                padding-left: 1.5rem;
              }

              .aniosTexto,
              .mesesTexto {
                height: 3rem;
                padding-top: 0.75rem;
              }
            }

            .genero {
              font-size: 0.875rem;

              .div_checkbox {
                width: 0.969rem;
                margin-right: 0.25rem;

                .checkbox-estado {
                  height: 0.969rem;
                }
              }

              .div_radiobutton {
                width: 0.8rem;
                margin-right: 0.25rem;

                .radio-button {
                  height: 0.8rem;
                }
              }

              .radio-inline {
                margin-left: 1rem;
              }
            }

            .estilo_inputs {
              height: min-content;
              font-size: 0.875rem;
            }

            .notificaciones {
              font-size: 0.875rem;

              .radio-inline {
                margin-left: 1rem;

                .div_radio-noti {
                  width: 0.875rem;
                  margin-right: 0.25rem;

                  .radio-button {
                    height: 0.875rem;
                  }
                }
              }
            }
          }

          .archivo_subido {
            margin-left: 0rem;
            right: 0;
          }
        }

        .form-group-perfil {
          width: 100%;
        }

        .estilo_campo_requerido {
          margin-bottom: 0.5rem;
          font: 1.063rem Arial;
        }
      }
    }
    .boton_siguiente {
      width: 100%;
      font-size: 13.333px;
      min-height: 3rem;
    }

    .boton_quitar {
      width: 100%;
      font-size: 13.333px;
      min-height: 3rem;
    }

    .boton_agregar {
      width: 100%;
      font-size: 13.333px;
      min-height: 3rem;
      margin-top: 0.5rem;
    }

    .rowFooter {
      flex-direction: column;

      .column {
        width: 100%;
      }
    }
  }

  .text-danger {
    font-size: 12px;
  }

  .text-area {
    height: calc(6.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    border-radius: 0.25rem;
  }

  .multiSelect {
    height: 3rem;
  }
}
