<div>
    <h2 id="page-heading">
        <span jhiTranslate="ctProjectApp.oferta.home.title">Ofertas</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-oferta" [routerLink]="['/oferta/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ctProjectApp.oferta.home.createLabel">
            Create a new Oferta
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ofertas?.length === 0">
        <span jhiTranslate="ctProjectApp.oferta.home.notFound">No ofertas found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ofertas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="descripcion"><span jhiTranslate="ctProjectApp.oferta.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titulo"><span jhiTranslate="ctProjectApp.oferta.titulo">Titulo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="salario"><span jhiTranslate="ctProjectApp.oferta.salario">Salario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="cargo"><span jhiTranslate="ctProjectApp.oferta.cargo">Cargo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="experiencia"><span jhiTranslate="ctProjectApp.oferta.experiencia">Experiencia</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ciudad"><span jhiTranslate="ctProjectApp.oferta.ciudad">Ciudad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="area"><span jhiTranslate="ctProjectApp.oferta.area">Area</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fechaPublicacion"><span jhiTranslate="ctProjectApp.oferta.fechaPublicacion">Fecha Publicacion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="estado"><span jhiTranslate="ctProjectApp.oferta.estado">Estado</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="usuario.id"><span jhiTranslate="ctProjectApp.oferta.usuario">Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let oferta of ofertas ;trackBy: trackId">
                    <td><a [routerLink]="['/oferta', oferta.id, 'view']">{{ oferta.id }}</a></td>
                    <td>{{ oferta.descripcion }}</td>
                    <td>{{ oferta.titulo }}</td>
                    <td>{{ oferta.salario }}</td>
                    <td>{{ oferta.cargo }}</td>
                    <td>{{ oferta.experiencia }}</td>
                    <td>{{ oferta.ciudad }}</td>
                    <td>{{ oferta.area }}</td>
                    <td>{{ oferta.fechaPublicacion | date:'mediumDate' }}</td>
                    <td>{{ oferta.estado }}</td>
                    <td>
                        <div *ngIf="oferta.usuario">
                            <a [routerLink]="['/empresa', oferta.usuario?.id, 'view']" >{{ oferta.usuario?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/oferta', oferta.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/oferta', oferta.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(oferta)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="ofertas?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
