<body class="estilo_body">
    <img class="estilo_logo" src="../../../content/images/logo_cdt_fondo2.png">
    <div class="div_centro">
        <p class="estilo_titulo">Regístrate y entra al club.</p>
        <div class="inputs" style="text-align: center; display: none;">
            <div class="typePersona">
                <label style="color: white; ">Persona Natural </label>
                <input type="radio" value="1" name="usuario" [(ngModel)]="tipoUsuario.id" ngChecked="true" />
                <label style="color: white; display: none;">Persona Jurídica </label>
                <input style="display: none;" type="radio" value="juridica" name="usuario" ngModel>
            </div>
            <small *ngIf="mensajeTipoPersona" class="text-danger">
                {{mensajeTipoPersona}}
            </small>
        </div>
        <div class="inputs">
            <label style="color: white;">Nombre</label>
            <input type="text" class="estilo_inputs" [(ngModel)]="persona.nombre"  (ngModelChange)="persona.nombre = $event.toUpperCase()">
            <small *ngIf="mensajeNombre" class="text-danger">
                {{mensajeNombre}}
            </small>
        </div>
        <div class="inputs">
            <label style="color: white;">Apellidos</label>
            <input type="text" class="estilo_inputs" [(ngModel)]="persona.apellido" (ngModelChange)="persona.apellido = $event.toUpperCase()">
            <small *ngIf="mensajeApellido" class="text-danger">
                {{mensajeApellido}}
            </small>
        </div>
        <div class="inputs">
            <label style="color: white;">Correo Electrónico</label>
            <input type="text" class="estilo_inputs" [(ngModel)]="persona.email">
            <small *ngIf="mensajeEmail" class="text-danger">
                {{mensajeEmail}}
            </small>
        </div>
        <div class="inputs">
            <div>
                <label style="color: white;">Número de Documento</label>
            </div>
            <div class="row_documento">
                <select class="select_documento" [(ngModel)]="tipoDocumento">
                    <option [ngValue]="null" class="option_docu" disabled>Seleccione un tipo</option>
                    <option
                        class="option_docu"
                        [ngValue]="documento"
                        *ngFor="let documento of documentos">
                        {{ documento.nombreTipo }}
                    </option>
                </select>
                <div *ngIf="tipoDocumento.nombreTipo==='Pasaporte'">
                    <input type="text" class="input_documento" style="width: 100%;" [(ngModel)]="persona.numeroDocumento">
                </div>
                <div *ngIf="tipoDocumento.nombreTipo!=='Pasaporte'" >
                    <input type="number" class="input_documento" style="width: 100%;" [(ngModel)]="persona.numeroDocumento">
                </div>
            </div>
            <small *ngIf="mensajeNumDoc" class="text-danger">
                {{mensajeNumDoc}}
            </small>
        </div>
        <div class="inputs">
            <label style="color: white;">Contraseña</label>
            <input type="password" class="estilo_inputs" [(ngModel)]="user.password">
            <small *ngIf="mensajeClave" class="text-danger">
                {{mensajeClave}}
            </small>
        </div>
        <div class="inputs">
            <label style="color: white;">Confirmar Contraseña</label>
            <input type="password" class="estilo_inputs" [(ngModel)]="ConfirmarClave">
            <small *ngIf="mensajeConfClave" class="text-danger">
                {{mensajeConfClave}}
            </small>
        </div>
        <button class="btn boton_registrar shadow-none"  style="color:white; " (click)="onCrearUsuario()">Registrarme</button>
        <div class="inputs" style="align-items: center;">
            <div class="terminos">
                <input type="radio" value="terminos" name="terminos" [(ngModel)]="condiciones" class="radioB" ngChecked="true"/>
                <label class="label-terminos" style="color: white;">Acepto los 
                    <a style="color: #03ECFF;" (click)="openScrollableContent(longContent)">Términos, Condiciones y Políticas de Privacidad.</a>
                </label>
            </div>
            <small *ngIf="mensajeTerminos" class="text-danger">
                {{mensajeTerminos}}
            </small>
        </div>
        <a class="ya-registrado" style="color: #03ECFF;" (click)="ventanaInicioSesionRegistrado()">¡Ya estoy registrado!</a>
    </div>
</body>

<ng-template #longContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" style="color: #1FB9FD;">Términos, Condiciones y Póliticas de Privacidad.</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
      <p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Aceptar</button>
    </div>
  </ng-template>

