<div class="estilo_body">
    <img class="estilo_logo" src="../../../content/images/logo_cdt_fondo2.png">
    <!-- #EDEFF2 -->
    <div class="div_centro" [ngStyle]="{ 'background': tipoUsuario.id==1 ? 'transparent linear-gradient(180deg, #2d427d 0%, #1a2152 100%) 0% 0% no-repeat padding-box' : '#EDEFF2' }"> 
        <p class="estilo_titulo" [style.color]="tipoUsuario.id==1 ? 'white' : '#202A5D'">Regístrate y entra al club.</p>
        <div class="inputs" style="text-align: center;">
            <div class="typePersona">
                <label [style.color]="tipoUsuario.id==1 ? 'white' : '#202A5D'">Persona Natural </label>
                <input type="radio" value="natural" name="usuario" [(ngModel)]="tipoUsuario.nombre" (ngModelChange)="changeTipoUsuario('natural')"/>
                <label [style.color]="tipoUsuario.id==1 ? 'white' : '#202A5D'">Persona Jurídica </label>
                <input type="radio" value="juridico" name="usuario" [(ngModel)]="tipoUsuario.nombre" (ngModelChange)="changeTipoUsuario('juridico')"/>
            </div>
            <small *ngIf="mensajeTipoPersona" class="text-danger">
                {{mensajeTipoPersona}}
            </small>
        </div>
        <div class="inputs" *ngIf="tipoUsuario.id==1">
            <label style="color:white;">Nombres</label>
            <input type="text" class="estilo_inputs" [(ngModel)]="persona.nombre"  (ngModelChange)="persona.nombre = $event.toUpperCase()" (blur)="deleteSpace('nombre')">
            <small *ngIf="mensajeNombre" class="text-danger">
                {{mensajeNombre}}
            </small>
        </div>
        <div class="inputs" *ngIf="tipoUsuario.id==2">
            <label style="color:#202A5D;">Razón Social</label>
            <input type="text" class="estilo_inputs" [(ngModel)]="empresa.razonSocial"  (ngModelChange)="empresa.razonSocial = $event.toUpperCase()" (blur)="deleteSpace('razonSocial')">
            <small *ngIf="mensajeNombre" class="text-danger">
                {{mensajeNombre}}
            </small>
        </div>
        <div class="inputs" *ngIf="tipoUsuario.id==1">
            <label style="color:white;">Apellidos</label>
            <input type="text" class="estilo_inputs" [(ngModel)]="persona.apellido" (ngModelChange)="persona.apellido = $event.toUpperCase()" (blur)="deleteSpace('apellido')">
            <small *ngIf="mensajeApellido" class="text-danger">
                {{mensajeApellido}}
            </small>
        </div>
        <div class="inputs" *ngIf="tipoUsuario.id==2">
            <label [style.color]="'#202A5D'">Razón Comercial (si tienes)</label>
            <input type="text" class="estilo_inputs" [(ngModel)]="empresa.razonComercial"  (ngModelChange)="empresa.razonComercial = $event.toUpperCase()" (blur)="deleteSpace2('razonComercial')">
            <small *ngIf="mensajeNombre" class="text-danger">
                {{mensajeNombre}}
            </small>
        </div>
        <div class="inputs" *ngIf="tipoUsuario.id==1">
            <label style="color:white;">Correo Electrónico</label>
            <input type="text" class="estilo_inputs" [(ngModel)]="persona.email" (blur)="deleteSpace('email')">
            <small *ngIf="mensajeEmail" class="text-danger">
                {{mensajeEmail}}
            </small>
        </div>
        <div class="inputs" *ngIf="tipoUsuario.id==2">
            <label [style.color]="'#202A5D'">Correo Electrónico</label>
            <input type="text" class="estilo_inputs" [(ngModel)]="empresa.email" (blur)="deleteSpace('email')">
            <small *ngIf="mensajeEmail" class="text-danger">
                {{mensajeEmail}}
            </small>
        </div>
        <div class="inputs" *ngIf="tipoUsuario.id==1">
            <div>
                <label style="color:white;">Número de Documento</label>
            </div>
            <div class="row_documento">
                <select class="select_documento" [(ngModel)]="tipoDocumento">
                    <option [ngValue]="null" class="option_docu" disabled>Seleccione un tipo</option>
                    <option
                        class="option_docu"
                        [ngValue]="documento"
                        *ngFor="let documento of documentos">
                        {{ documento.nombreTipo }}
                    </option>
                </select>
                <div *ngIf="tipoDocumento.nombreTipo==='Pasaporte'" style="width: 100%;">
                    <input type="text" class="input_documento" style="width: 100%;" [(ngModel)]="persona.numeroDocumento">
                </div>
                <div *ngIf="tipoDocumento.nombreTipo!=='Pasaporte'" style="width: 100%;">
                    <input type="number" class="input_documento" style="width: 100%;" [(ngModel)]="persona.numeroDocumento">
                </div>
            </div>
            <small *ngIf="mensajeNumDoc" class="text-danger">
                {{mensajeNumDoc}}
            </small>
        </div>
        <div class="inputs" *ngIf="tipoUsuario.id==2">
            <label [style.color]="'#202A5D'">NIT</label>
            <input type="text" class="estilo_inputs" [(ngModel)]="empresa.numeroDocumento"  (ngModelChange)="empresa.numeroDocumento = $event.toUpperCase()">
            <small *ngIf="mensajeNombre" class="text-danger">
                {{mensajeNombre}}
            </small>
        </div>
        <div class="inputs">
            <label [style.color]="tipoUsuario.id==1 ? 'white' : '#202A5D'">Contraseña</label>
            <div class="contra" style="margin-top: 0.520vw;">
                <input class="input-contra" maxlength="30" [type]="inputPrimero" [(ngModel)]="user.password">
                <button class="button-eye" (click)="clicPrimerInput()">
                    <img class="iconoEye" [src]="eyePrimero">
                </button>
            </div>
            <small *ngIf="mensajeClave" class="text-danger">
                {{mensajeClave}}
            </small>
        </div>
        <div class="inputs">
            <label [style.color]="tipoUsuario.id==1 ? 'white' : '#202A5D'">Confirmar Contraseña</label>
            <div class="contra" style="margin-top: 0.520vw;">
                <input class="input-contra" maxlength="30" [type]="inputSegundo" [(ngModel)]="ConfirmarClave">
                <button class="button-eye" (click)="clicSegundoInput()">
                    <img class="iconoEye" [src]="eyeSegundo">
                </button>
            </div>
            <small *ngIf="mensajeConfClave" class="text-danger">
                {{mensajeConfClave}}
            </small>
        </div>
        <div class="inputs">
            <div class="row">
                <label [style.color]="tipoUsuario.id==1 ? 'white' : '#202A5D'" style="padding-left: 1rem;">¿Cuánto es?</label>
            </div>
            <div class="row_documento">
                <button class="icon-reload" (click)="crearCaptcha()">
                    <fa-icon icon="sync"></fa-icon>
                </button>
                <input class="input-question" type="text" [(ngModel)]="textoCaptcha" disabled>  
                <label *ngIf="captchaValidado">
                    <fa-icon icon="check-circle" class="validado" size="2x" style="margin-right: 0.325vw; color:greenyellow;"></fa-icon>
                </label>
            </div>
            <div class="row_documento" style="margin-top: 0.520vw;">
                <input class="input-answer" type="text" [(ngModel)]="criterioCaptcha"/>
                <button class="button-resolver" (click)="validarCaptcha()">
                    Resolver
                </button>
            </div>
            <small *ngIf="mensajeCaptcha" class="text-danger">
                {{mensajeCaptcha}}
            </small>
        </div>
        <button class="btn boton_registrar shadow-none"  [style.background-color]="tipoUsuario.id==1 ? '#00B9FF' : '#F54B1D'"
            style="color:white;" (click)="onCrearUsuario()" [disabled]="!validacionIncorrecta">Registrarme</button>
        <div class="inputs" style="align-items: center;">
            <div class="terminos">
                <input type="radio" value="terminos" name="terminos" [(ngModel)]="condiciones" class="radioB" ngChecked="true"/>
                <label class="label-terminos" [style.color]="tipoUsuario.id==1 ? 'white' : '#202A5D'">Acepto los 
                    <a style="color: #03ECFF;" (click)="openScrollableContent(longContent)">Términos, Condiciones y Políticas de Privacidad.</a>
                </label>
            </div>
            <small *ngIf="mensajeTerminos" class="text-danger">
                {{mensajeTerminos}}
            </small>
        </div>
        <a class="ya-registrado" style="color: #03ECFF;" (click)="ventanaInicioSesionRegistrado()">¡Ya estoy registrado!</a>
    </div>
</div>

<ng-template #longContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title" style="color: #1FB9FD;">Términos, Condiciones y Póliticas de Privacidad.</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <pre style="white-space: pre-wrap; text-align: justify;">{{Politicas}}</pre>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Aceptar</button>
    </div>
  </ng-template>

