.contenedor {
  display: flex;
  justify-content: center;

  .div-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;

    .botones-arriba {
      
      flex-direction: row;
      width: 783px;
      flex-wrap: wrap;

      .boton-clicked {
        @extend .boton-base;
        // background-color: yellow;
        background: #b4e5fe 0% 0% no-repeat padding-box;
      }

      .boton-no-clicked {
        @extend .boton-base;
        background: #f7f7f7 0% 0% no-repeat padding-box;
      }

      .boton-base {
        width: 261px;
        height: 41px;
        // background: #ffffff 0% 0% no-repeat padding-box;
        // box-shadow: 0px 3px 6px #00000029;
        border-radius: 13px;
        opacity: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem 1rem;
        margin-top: 5px;
        align-self: flex-start;

        .border-icon {
          margin-right: 0.325vw;
          width: 34px;
          height: 34px;
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }

        .div-info-boton {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;

          .titulo-boton {
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
            color: #6d7184;
            letter-spacing: 0px;
            opacity: 1;
            margin: 0rem;
            text-align: initial;
          }
        }
      }
    }

    .ngnum0 {
      //width: 61.378vw;
      align-self: center;
      justify-self: center;
      background: transparent linear-gradient(181deg, #edeff2 0%, #edeff2 100%) 0% 0% no-repeat padding-box;
      border-radius: 1.951vw 1.951vw 4.617vw 4.617vw;
      opacity: 1;
      margin-top: 3.121vw;
      margin-bottom: 3.121vw;
      padding: 0rem;
      padding-top: 3.121vw;
      padding-bottom: 3.121vw;
      max-width: none;

      .estilo_titulo {
        text-align: left;
        //font-size: 1.3vw;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #1b2455;
        opacity: 1;
        //padding-left: 1.7rem;
      }

      .estilo_label {
        width: 100%;
        text-align: left;
        //font-size: 0.91vw;
        font-family: Arial;
        letter-spacing: 0px;
        color: #1b2455;
        opacity: 1;
        //padding-left: 1.04vw;
        margin-bottom: 0.52vw;
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 0rem;

        .row-2 {
          width: 50%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-left: 2.5%;
          padding-right: 2.5%;

          .select-70 {
            @extend .form-group2;
            width: 45%;
          }

          .select-30 {
            @extend .form-group2;
            width: 45%;
          }

          .form-group2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            // width: 90%;

            .estilo_inputs {
              min-height: 3rem;
              padding-right: 1rem;
              padding-left: 1.5rem;
              font-size: 0.875rem;
              //width: 100%;
              border: none;
              border-radius: 23px;
            }
          }
        }

        .column {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;

            .estilo_inputs {
              min-height: 3rem;
              padding-right: 1rem;
              padding-left: 1.5rem;
              font-size: 0.875rem;
            }

            .no-publicar {
              display: flex;
              flex-direction: row;
              width: 90%;
              margin-top: 1.04vw;

              .radioB {
                margin-top: 0.325vw;
                margin-right: 0.325vw;
              }

              .label-terminos {
                text-align: center;
                margin-left: 0rem;
              }
            }

            .genero {
              display: flex;
              flex-direction: row;
              align-self: flex-start;
              font-size: 0.91vw;

              .radio-inline {
                margin-left: 1.04vw;
                display: flex;

                .radio-button {
                  border: 0rem;
                  width: 100%;
                  height: 0.832vw;
                }
              }

              .div_checkbox {
                width: 1vw;
                margin-right: 0.26vw;
              }

              .div_radiobutton {
                width: 0.832vw;
                margin-right: 0.26vw;
              }

              .checkbox-estado {
                height: 1vw;
                width: 1vw;
              }
            }
          }

          .estilo_inputs_idioma {
            min-height: 3rem;
            padding-right: 1rem;
            padding-left: 1.5rem;
            font-size: 0.875rem;
            width: 50%;
            border: none;
            border-radius: 23px;
          }

          .estilo_inputs_nivel_idioma {
            min-height: 3rem;
            padding-right: 1rem;
            padding-left: 1.5rem;
            font-size: 0.875rem;
            width: 30%;
            border: none;
            border-radius: 23px;
          }
        }

        .form-group {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 95%;

          .estilo_inputs {
            min-height: 3rem;
            padding-right: 1rem;
            padding-left: 1.5rem;
            font-size: 0.875rem;
            width: 100%;
            border: none;
            border-radius: 23px;
          }
        }

        .form-group-descripcion {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 90%;
          margin-bottom: 1.04vw;
        }

        .estilo_campo_requerido {
          text-align: left;
          margin-bottom: 0.52vw;
          //font: 1.495vw Arial;
          letter-spacing: 0px;
          color: #fd2b4c;
          opacity: 1;
        }
      }
    }
  }
}

.btn-success {
  width: 132px;
  height: 31px;
  background: #2699fb 0% 0% no-repeat padding-box;
  border-radius: 24px;
  align-items: center;

  .titulo-boton {
    text-align: center;
    font: normal normal normal 10px/12px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    margin: 0rem;
  }
}

.boton-volver {
  width: 132px;
  height: 31px;
  background: #e5e5e5 0% 0% no-repeat padding-box;
  border-radius: 24px;
  align-items: center;

  .titulo-boton {
    text-align: center;
    font: normal normal normal 10px/12px Roboto;
    letter-spacing: 0px;
    color: #1b2455;
    margin: 0rem;
  }
}

.contenedor2 {
  display: flex;
  justify-content: center;

  .div-center2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;

    .ngnum1 {
      width: 61.378vw;
      align-self: center;
      justify-self: center;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      // background: transparent linear-gradient(181deg, #F8F8F8 0%, #71829c 100%) 0% 0% no-repeat padding-box;
      // border-radius: 1.951vw 1.951vw 4.617vw 4.617vw;
      opacity: 1;
      margin-top: 3.121vw;
      margin-bottom: 3.121vw;
      padding: 0rem;
      padding-top: 3.121vw;
      padding-bottom: 3.121vw;
      max-width: none;

      .tabla-hor {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .data-ver {
          display: flex;
          flex-direction: column;

          .titulo {
            text-align: left;
            font: normal normal bold 12px/17px Roboto;
            letter-spacing: 0px;
            color: #1fb9fd;
            margin: 0;
          }

          .info {
            text-align: left;
            font: normal normal normal 12px/17px Roboto;
            letter-spacing: 0px;
            color: #7e7474;
          }
        }
      }

      .titulo_oferta {
        text-align: left;
        font-size: 1.3vw;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #020d52;
        opacity: 1;
        margin-left: 1rem;
      }

      .profesion_oferta {
        text-align: left;
        font-size: 1.3vw;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #645d5d;
        opacity: 1;
        margin-left: 1rem;
      }

      .descripcion_profesion {
        text-align: left;
        font-size: 1.3vw;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #7e7474;
        opacity: 1;
        margin-left: 1rem;
        margin-right: 1rem;
      }

      .titulo_oferta_previsualizacion {
        text-align: left;
        font-size: 1.3vw;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #1fb9fd;
        opacity: 1;
        margin-left: 1rem;
      }

      .tabla_oferta {
        margin-left: 10rem;
        margin-right: 10rem;
      }
    }

    .estilo_titulo2 {
      text-align: left;
      font-size: 1.3vw;
      font-family: 'Open Sans';
      font-weight: bold;
      letter-spacing: 0px;
      color: #1b2455;
      opacity: 1;
    }

    .botones {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

// .boton-volver {
//   width: 98px;
//   height: 31px;
//   background: #2699fb 0% 0% no-repeat padding-box;
//   border-radius: 5px;
//   letter-spacing: 0px;
//   text-align: center;
//   font: normal normal normal 12px/14px Arial;
//   color: #ffffff;
//   opacity: 1;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;

//   .titulo-boton {
//     margin-bottom: 0rem;
//   }
// }

// .boton-entrar {
//   width: 98px;
//   height: 31px;
//   background: #e5e5e5 0% 0% no-repeat padding-box;
//   border-radius: 13px;
//   letter-spacing: 0px;
//   text-align: center;
//   font: normal normal normal 12px/14px Arial;
//   color: #2a1d72;
//   opacity: 1;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;

//   .titulo-boton-entrar {
//     margin-bottom: 0rem;
//   }
// }

// .boton-publicar {
//   width: 98px;
//   height: 31px;
//   background: #2699fb 0% 0% no-repeat padding-box;
//   border-radius: 13px;
//   letter-spacing: 0px;
//   text-align: center;
//   font: normal normal normal 12px/14px Arial;
//   color: #ffffff;
//   opacity: 1;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;

//   .titulo-boton {
//     margin-bottom: 0rem;
//   }
// }

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #1df5b3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1df5b3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (min-width: 900px) {
  .botones-arriba{
    display: flex;
  }
  .ngnum0{
    width: 61.378vw;
    .estilo_titulo {
      font-size: 1.3vw;
      padding-left: 1.7rem;
    }
    .estilo_label {
      font-size: 0.91vw;
      padding-left: 1.04vw;
    }
    .estilo_campo_requerido {

      font: 1.495vw Arial;

    }
    .row {
      .row-2{
        width: 50%;
      }
      .form-group2 {
        //display: flex;
        //flex-direction: column;
        align-items: center;
        // width: 90%;
  }
    }
  }
  
}

@media screen and (max-width: 900px) {
  .botones-arriba{
    display: none;
  }
  .ngnum0{
    width: 90vw;
    .estilo_titulo {
      font-size: 14px;
      padding-left: 1rem;
    }
    .estilo_label {
      font-size: 9px;
      padding-left: 1rem;
    }

    .estilo_campo_requerido {
      font: 9px Arial;
    }

    .row{
      .row-2{
        width: 100%;
      }

    }
  }
}
