<div class="contenedor">
    <div class="div-center">
        <div class="botones-arriba">
            <button class="btn boton-clicked" (click)="crearOferta()">
                <fa-icon [icon]="faCommentDots" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Crear oferta</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="editarPerfil()">
                <fa-icon [icon]="faEllipsisH" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Editar perfil</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="clubEmpresas()">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Club de empresas</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="verOferta()">
                <fa-icon icon="eye" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Controla tus ofertas</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="membresia()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Membresía</p>
                </div>
            </button>
        </div>
        <form [formGroup]="formDatosBasicos" *ngIf = "!visualizarOferta && !visualizarOfertasCreadas" (ngSubmit)="vistaPreliminarOferta()">
            <ng-container>
                <div class="ngnum0">
                    <p class="estilo_titulo">Creando oferta</p>
                    <div class="row">
                        <div class="form-group">
                            <p class="estilo_label">{{labels.NOMBRE_OFERTA}} <span
                                    class="estilo_campo_requerido">*</span></p>
                            <input type="text" class="estilo_inputs" formControlName="nombre">
                            <small *ngIf="formDatosBasicos.get('nombre')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                            <small *ngIf="formDatosBasicos.get('nombre')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <p class="estilo_label">{{labels.NIVEL_LABORAL}} <span
                                        class="estilo_campo_requerido">*</span></p>
                                <select formControlName="nivelLaboral" class="estilo_inputs">
                                    <option [ngValue]="null" disabled>Seleccione una opción</option>
                                    <option *ngFor="let nivel of nivelesLaborales" 
                                    [ngValue]="nivel.codigo">
                                        {{ nivel.nombre }}
                                    </option>
                                </select>
                                <small *ngIf="formDatosBasicos.get('nivelLaboral')?.errors?.required"
                                class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <p class="estilo_label">{{labels.SUB_NIVEL_LABORAL}} </p>
                                <select formControlName="subNivelLaboral" class="estilo_inputs">
                                    <option [ngValue]="null" disabled>Seleccione una opción</option>
                                    <option *ngFor="let nivel of nivelesLaborales" 
                                    [ngValue]="nivel.codigo">
                                        {{ nivel.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <p class="estilo_label">{{labels.AREA_TRABAJO}}  <span
                                        class="estilo_campo_requerido">*</span></p>
                                <select formControlName="areaTrabajo" class="estilo_inputs">
                                    <option [ngValue]="null" disabled>{{labels.SELECCIONE_LABEL}}</option>
                                    <option *ngFor="let cargo of cargos" 
                                    [ngValue]="cargo.id">
                                        {{ cargo.cargo }}
                                    </option>
                                </select>
                                <small *ngIf="formDatosBasicos.get('areaTrabajo')?.errors?.required"
                                class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                            </div>
                        </div>
                        <div class="column">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group-descripcion">
                            <p class="estilo_label">Descripción y requisitos <span class="estilo_campo_requerido">
                                    *</span></p>
                            <textarea formControlName="requisitos" class="form-control text-area" rows="4"></textarea>
                            <small *ngIf="formDatosBasicos.get('requisitos')?.errors?.required"
                                class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                            <small *ngIf="formDatosBasicos.get('requisitos')?.errors?.pattern"
                                class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <p class="estilo_label">{{labels.PROFESION}} <span
                                        class="estilo_campo_requerido">*</span></p>
                                <input type="text" placeholder="{{lblSeleccioneProfesion}}" [formControl]="myControlProfesiones"
                                [matAutocomplete]="autoProfesiones" class="estilo_inputs" (ngModelChange)=onSelectionChanged($event)>
                                <mat-autocomplete #autoProfesiones="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptionsProfesiones | async" [value]="option.profesion">
                                        {{option.profesion}}
                                    </mat-option>
                                </mat-autocomplete>
                                <small *ngIf="formDatosBasicos.get('profesion')?.errors?.required"
                                    class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <p class="estilo_label">{{labels.NIVEL_ESTUDIOS}}
                                    <span class="estilo_campo_requerido">*</span>
                                </p>
                                <select formControlName="nivelEstudios" class="estilo_inputs">
                                    <option [ngValue]="null" disabled>{{labels.SELECCIONE_LABEL}}</option>
                                    <option
                                        [ngValue]="nivel.codigo "
                                        *ngFor="let nivel of nivelEducativoProfesion">
                                        {{ nivel.nombre }}
                                    </option>
                                </select>
                                <small *ngIf="formDatosBasicos.get('nivelEstudios')?.errors?.required"
                                class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <p class="estilo_label">{{labels.RANGO_SALARIAL}}  <span
                                    class="estilo_campo_requerido">*</span></p>
                                <select formControlName="rangoSalarial" class="estilo_inputs">
                                    <option [ngValue]="null" disabled>Seleccione una opción</option>
                                    <option *ngFor="let aspiracion of aspiracionesSalariales" 
                                    [ngValue]="aspiracion.codigo">
                                        {{ aspiracion.nombre }}
                                    </option>
                                </select>
                                <small *ngIf="formDatosBasicos.get('rangoSalarial')?.errors?.required"
                                class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                                <div class="no-publicar">
                                    <input type="checkbox" value="terminos" name="terminos" formControlName="mostrarSalario" class="radioB" ngChecked="true"/>
                                    <label class="estilo_label" >No publicar salario
                                        <!-- <a style="color: #03ECFF;" (click)="openScrollableContent(longContent)">Términos, Condiciones y Políticas de Privacidad.</a> -->
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <p class="estilo_label">{{labels.EXPERIENCIA_MINIMA}} <span
                                        class="estilo_campo_requerido">*</span></p>
                                <select formControlName="experiencia" class="estilo_inputs">
                                    <option [ngValue]="null" disabled>Seleccione una opción</option>
                                    <option *ngFor="let experiencia of experienciasLaborales" 
                                    [ngValue]="experiencia.codigo">
                                        {{ experiencia.nombre }}
                                    </option>
                                </select>
                                <small *ngIf="formDatosBasicos.get('experiencia')?.errors?.required"
                                class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-2">
                            <div class="select-70">
                                <p class="estilo_label">{{labels.IDIOMA}} </p>
                                <select formControlName="idIdioma" class="estilo_inputs">
                                    <option [ngValue]="null" disabled>{{labels.SELECCIONE_LABEL}}</option>
                                    <option
                                        [ngValue]="item.id "
                                        *ngFor="let item of idiomas">
                                        {{ item.idioma }}
                                    </option>
                                </select>
                                <!-- <small *ngIf="formDatosBasicos.get('idIdioma')?.errors?.required"
                                class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small> -->
                            </div>
                            <div class="select-30">
                                <p class="estilo_label">Nivel Idioma </p>
                                <select formControlName="nivelIdioma" class="estilo_inputs">
                                    <option [ngValue]="null" disabled>{{labels.SELECCIONE_LABEL}}</option>
                                    <option
                                        [ngValue]="item.codigo"
                                        *ngFor="let item of nivelIdioma">
                                        {{ item.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <label class="estilo_label">{{labels.GENERO_LABEL}}</label>
                                <div class="genero">
                                    <label class="radio-inline">
                                        <div class="div_radiobutton">
                                            <input class="radio-button" type="radio" [value]="labels.MASCULINO" formControlName="genero">
                                        </div>
                                        <span class="text">Masculino</span>
                                    </label>
                                    <label class="radio-inline">
                                        <div class="div_radiobutton">
                                            <input class="radio-button" type="radio" [value]="labels.FEMENINO" formControlName="genero">
                                        </div>
                                        <span class="text">Femenino</span>
                                    </label>
                                </div>
                                <small *ngIf="formDatosBasicos.get('genero')?.errors?.required"
                                        class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <p class="estilo_label">{{labels.TIPO_CONTRATO}}<span
                                    class="estilo_campo_requerido">*</span></p>
                                <select formControlName="tipoContrato" class="estilo_inputs">
                                    <option [ngValue]="null" disabled>Seleccione una opción</option>
                                    <option *ngFor="let tipo of tiposContrato" 
                                    [ngValue]="tipo.codigo">
                                        {{ tipo.nombre }}
                                    </option>
                                </select>
                                <small *ngIf="formDatosBasicos.get('tipoContrato')?.errors?.required"
                                class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group">
                                <p class="estilo_label">{{labels.MODALIDAD_LABORAL}} <span
                                    class="estilo_campo_requerido">*</span></p>
                                <select formControlName="modalidadLaboral" class="estilo_inputs">
                                    <option [ngValue]="null" disabled>Seleccione una opción</option>
                                    <option *ngFor="let modalidad of modalidadesLaborales" 
                                    [ngValue]="modalidad.codigo">
                                        {{ modalidad.nombre }}
                                    </option>
                                </select>
                                <small *ngIf="formDatosBasicos.get('modalidadLaboral')?.errors?.required"
                                class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <div class="form-group">
                                <p class="estilo_label">{{labels.CIUDAD_LABEL}} <span
                                        class="estilo_campo_requerido">*</span></p>
                                <select formControlName="ciudad" class="estilo_inputs">
                                <option [ngValue]="null" disabled>{{labels.SELECCIONE_LABEL}}</option>
                                <option
                                [ngValue]="municipio.codigo"
                                    *ngFor="let municipio of municipiosPersonal">
                                    {{ municipio.nombre }}
                                </option>
                                </select>
                                <small *ngIf="formDatosBasicos.get('ciudad')?.errors?.required"
                                    class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                                </div>
                        </div>
                        <div class="column">
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="column">
                            <button class="btn boton-volver" (click)="volverOferta()">
                                <p class="titulo-boton">Volver</p>
                            </button>
                        </div>
                        <div class="column">
                            <button  class="btn btn-success" type="submit" 
                            [disabled]="formDatosBasicos.invalid"
                            >
                                <p class="titulo-boton">Continuar</p>
                            </button>   
                        </div>
                    </div>
                </div>
            </ng-container>
        </form>
    </div>
</div>
<!-- [disabled]="formDatosBasicos.invalid" -->

<div class="contenedor2" *ngIf = "visualizarOferta">
    <div class="div-center2">
        <ng-container>
        <br>
        <br>
            <p class="estilo_titulo2">Así quedará su oferta</p>
            <div *ngIf = "visualizarOferta" class="ngnum1">
                <ng-container>
                    <p class="titulo_oferta">Oferta</p>
                    <p class="profesion_oferta">{{profesionOferta}}</p>
                    <p class="descripcion_profesion">{{descripcionOferta}}</p>
                    <div class="tabla-hor">
                        <div class="data-ver">
                            <p class="titulo">Título:</p>
                            <p class="info">{{tituloOferta}}</p>
                            <p class="titulo">Experiencia:</p>
                            <p class="info">{{experienciaOferta}}</p>
                        </div>
                        <div class="data-ver">
                            <p class="titulo">Tipo de Contrato:</p>
                            <p class="info">{{contratoOferta}}</p>
                            <p class="titulo">Ciudad:</p>
                            <p class="info">{{ciudadOferta}}</p>
                        </div>
                        <div class="data-ver">
                            <p class="titulo">Publicado:</p>
                            <p class="info">{{publicadoOFerta}}</p>
                            <p class="titulo">Salario:</p>
                            <p class="info">{{salarioOferta}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="botones">
                <button class="btn boton-volver" (click)="volverCrearOferta()" *ngIf = "visualizarOferta">
                    <p class="titulo-boton">Volver</p>
                </button>
                <button class="btn btn-success" (click)="onSubmit()" *ngIf = "visualizarOferta">
                    <p class="titulo-boton">Publicar</p>
                </button>
            </div>
        </ng-container>
    </div>
</div>



