<div class="app-loading" *ngIf="cmPrevioRegistrar === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="estilo_home" *ngIf="cmPrevioRegistrar !== null">
    <img class="estilo_imagen" src="https://d1jbv8ig3bmrxx.cloudfront.net/img8.png">
    <div class="div_centro">
        <p class="titulo1">{{Hola}}</p>
        <p class="titulo2">{{Parte_Club}}</p>
        <p class="texto">{{Registra_Completa_Encuentra}}</p>
        <!-- <ol type="1" class="lista">
            <li>Diligencia el formulario con los datos de tu oferta laboral</li>
            <li>Publica tu oferta</li>
            <li>Selecciona los mejores candidatos</li>
          </ol> -->
        <button class="btn boton-crear-oferta shadow-none" value="registrar" style="color:white;" (click)="crearOferta()">{{Registrarte}}</button>
    </div>
</div>