<div class="estilo_home">
    <img class="estilo_imagen" src="../../../content/images/img7.png">
    <div class="div_centro">
        <p class="titulo1">Hola</p>
        <p class="titulo2">¡Haz parte del club!</p>
        <p class="texto">Registra tu empresa, encuentra cientos de perfiles para tus vacantes.</p>
        <!-- <ol type="1" class="lista">
            <li>Diligencia el formulario con los datos de tu oferta laboral</li>
            <li>Publica tu oferta</li>
            <li>Selecciona los mejores candidatos</li>
          </ol> -->
        <button class="btn boton-crear-oferta shadow-none" value="registrar" style="color:white;" (click)="crearOferta()">Registrar</button>
    </div>
</div>