<div class="app-loading" *ngIf="cmControlarOfertas === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="contenedor" *ngIf="cmControlarOfertas !== null">
    <div class="div-center">
        <div class="botones-arriba" *ngIf="showBtnArriba">
            <button class="btn boton-no-clicked" (click)="crearOferta()">
                <fa-icon [icon]="faCommentDots" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{CrearOfertaLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="editarPerfil()">
                <fa-icon [icon]="faEllipsisH" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{EditarPerfilLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="clubEmpresas()">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{ClubEmpresasLabel}}</p>
                </div>
            </button>
            <button class="btn boton-clicked" (click)="verOferta()">
                <fa-icon icon="eye" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{ControlaOfertasLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="membresia()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{MembresiaLabel}}</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="juridica()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">{{AsesoriaJuridicaLabel}}</p>
                </div>
            </button>
        </div>
        <div class="contenedor3">
            <div class="div-center3">
                <ng-container>
                    <div style="padding-top: 2.601vw;">
                    <p class="estilo_titulo3">{{Tus_Ofertas}}:</p>
                    </div>
                    <div class="ngnum3">
                        <ng-container *ngFor = "let oferta of listaOFertasCreadas; index as inde">
                            <div class="ofertaCreada" >
                                <div class="div1Oferta">
                                    <p class="titulo_div1">{{Oferta}} {{inde+1}}</p>
                                    <fa-icon icon="eye" class="border-icon" style="
                                    background: transparent;" *ngIf="oferta.activado"></fa-icon>
                                    <button placement="top" ngbTooltip="compartir" class="boton-eliminar" (click)="signInWithFB(oferta)" >
                                        <fa-icon [icon]="faShareAlt" class="border-icon2" style="
                                        background: transparent 0% 0% no-repeat padding-box;"></fa-icon>
                                    </button>
                                    <button class="boton-eliminar" (click)='eliminarOfertaid(oferta.id)'>
                                        <fa-icon [icon]="faTimes" class="border-icon2" style="
                                        background: transparent 0% 0% no-repeat padding-box;"></fa-icon>
                                    </button>
                                </div>
                                <div class="div2Oferta">
                                    <p class="text1">{{oferta.profesion}}</p>
                                    <p class="text2">{{oferta.salario}}</p>
                                    <p class="text3">{{oferta.ciudad}}</p>
                                    <div class="btnEditar">
                                    <button class="btn boton-editar" (click)="editarOferta(oferta.id)">
                                        <p class="titulo-boton">{{Editar}}</p>
                                    </button>
                                    </div>
                                </div>
                                <div class="div3Oferta"> 
                                    <p class="titulo_div3">{{oferta.totalTodo}} {{Aspirantes}}</p>
                                    <p class="titulo_div3">{{oferta.totalSeleccionado}} {{Seleccionados}}</p>
                                    <p class="titulo_div3">{{oferta.totalNinguno}} {{PorVer}}</p>
                                </div>
                                <div class="div4Oferta"> 
                                    <div class="div-switch">
                                        <p class="labelActivar" *ngIf="!oferta.activado">{{A_oferta}}</p>
                                        <p class="labelActivar" *ngIf="oferta.activado">{{D_oferta}}</p>
                                        <label class="switch">
                                            <input type="checkbox" [checked]= oferta.activado [(ngModel)]="oferta.activado" (change)="cambiarEstado($event, oferta)">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <button class="btn boton-entrar">
                                        <p class="titulo-boton-entrar" (click)="entrarOferta(oferta.id)">{{Entrar}}</p>
                                    </button>
                                </div>
                            </div> 
                        </ng-container>
                    </div>
                    <div class="btnVolver">
                        <button class="btn boton-volver" (click)="volverCrearOferta()">
                            <!-- <fa-icon icon="chevron-left" class="border-icon" ></fa-icon> -->
                            <p class="titulo-boton">{{Volver_Perfil}}</p>
                        </button>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div *ngIf="cmControlarOfertas !== null">
        <router-outlet name="footer"></router-outlet>
    </div>
</div>