<div class="estilo_fondo">
    <img class="estilo_imagen" src="../../../content/images/persona_contact.png">
    <div class="div_centro">
        <p class="estilo_titulo">Hablemos</p>
        <div class="inputs">
            <label style="color: white;">Nombre</label>
            <input type="text" class="estilo_inputs">
            <!-- <label *ngIf="mensajeNombre" class="text-danger">
                {{mensajeNombre}}
            </label> -->
        </div>
        <div class="inputs">
            <label style="color: white;">Apellidos</label>
            <input type="text" class="estilo_inputs">
            <!-- <label *ngIf="mensajeApellido" class="text-danger">
                {{mensajeApellido}}
            </label> -->
        </div>
        <div class="inputs">
            <label style="color: white;">Email</label>
            <input type="text" class="estilo_inputs">
            <!-- <label *ngIf="mensajeEmail" class="text-danger">
                {{mensajeEmail}}
            </label> -->
        </div>
        <div class="inputs">
            <label style="color: white;">Teléfono</label>
            <input type="password" class="estilo_inputs">
            <!-- <label *ngIf="mensajeClave" class="text-danger">
                {{mensajeClave}}
            </label> -->
        </div>
        <div class="inputs">
            <label style="color: white;">Mensaje</label>
            <input type="password" class="estilo_inputs">
            <!-- <label *ngIf="mensajeConfClave" class="text-danger">
                {{mensajeConfClave}}
            </label> -->
        </div>
        <button class="btn boton_enviar shadow-none"  style="color:white; " >Enviar</button>
       
    </div>
</div>
