<div class="estilo_body">
    <p class="titulo">{{Busca_Trabajo}}</p>
    <div class="div_autocompletes">
        <div class="divInputComplete">
            <div class="divIcon">
                <fa-icon icon="user" style="color: #2699FB"></fa-icon>
            </div>
            <input type="text" placeholder="{{lblSeleccioneProfesion}}" [formControl]="myControlProfesiones"
                [matAutocomplete]="autoProfesiones" class="inputCiudades icon login" >
            <mat-autocomplete #autoProfesiones="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptionsProfesiones | async" [value]="option.profesion" style="font-weight: bold;">
                    {{option.profesion}}
                </mat-option>
            </mat-autocomplete>
        </div>
        <div class="divInputComplete">
            <div class="divIcon">
                <fa-icon icon="map-marker-alt" style="color: #2699FB"></fa-icon>
            </div>
            <input type="text" placeholder="{{lblSeleccioneCiudad}}" [matAutocomplete]="autoCiudades"
                [formControl]="myControlCiudades" class="inputCiudades">
            <mat-autocomplete #autoCiudades="matAutocomplete">
                <mat-option *ngFor="let datos of filteredOptionsCiudades | async" [value]="datos" style="font-weight: bold;">
                    {{datos}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
    <br>
    <button class="btn boton_buscar shadow-none" style="color:white;" (click)="buscar()">
        <fa-icon icon="search"></fa-icon> {{Buscar}}
    </button>
    <br>
    <div class="btns_registra">
        <button class="btn registro_hoja_de_vida shadow-none" style="color:white;" (click)="registrarHojaVida()">{{Registra_Hoja_Vida}}</button>
        <button class="btn solucion_para_tu_empresa shadow-none" style="color:white;" (click)="registrarHojaVidaEmpresa()">{{Soluciones_Empresa}}</button>
    </div>
</div>