<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.activation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <img th:src="@{|${baseUrl}/content/images/logo_cdt_fondo.png|}" width="100%" height="100px"/>
        <p th:text="#{email.reset.greeting(${user.firstName} + ' ' + ${user.lastName})}">
            Dear
        </p>
        <p th:text="#{email.activation.text1}">
            Your JHipster account has been created, please click on the URL below to activate it:
        </p>
        <div style="position: relative; text-align: center">
            <img th:src="@{|${baseUrl}/content/images/Bienvenido2.jpg|}" width="400px" height="500px"/>
            <div style="font-size: 10px; position: absolute; top: 83%; left: 50%; transform: translate(-50%, -50%)">
                <p th:text="'Usuario: ' + ${user.login}"></p>
                <p th:text="'Contraseña: ' + ${user.password}"></p>
            </div>
        </div>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
