<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{informacionEmpresa.title}">Company Information</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|https://www.clubdeltrabajo.com/favicon.ico|}" />
    </head>
    <body>
        <div style="text-align: center; background: #1a2050; height: 100px;">
            <img th:src="@{|https://www.clubdeltrabajo.com/content/images/logo_empresa.png|}" width="auto" height="100px"/>
        </div>
       	<br/>
        <p th:text="${informacion}"></p>
        <p>
        	<br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
