<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{informacionEmpresa.title}">Company Information</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|https://www.clubdeltrabajo.com/favicon.ico|}" />
    </head>
    <body>
        <img th:src="@{|https://www.clubdeltrabajo.com/content/images/logo_cdt_fondo.png|}" width="100%" height="100px"/>
       	<br/>
        <p th:text="'Nombre: ' + ${informacion.nombre} + ' ' + ${informacion.apellidos}"></p>
        <p th:text="'Correo: ' + ${informacion.email}"></p>
        <p th:text="'Teléfono: ' + ${informacion.telefono}"></p>
        <p th:text="'Mensaje: ' + ${informacion.mensaje}"></p>
        <p>
        	<br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
