<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.activation.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|https://www.clubdeltrabajo.com/favicon.ico|}" />
    </head>
    <body>
        <img th:src="@{|https://d1jbv8ig3bmrxx.cloudfront.net/Bienvenido.jpg|}" width="100%" height="100%"/>
       	<br/>
    </body>
</html>