<div>
    <h2 id="page-heading">
        <span jhiTranslate="ctProjectApp.archivo.home.title">Archivos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-archivo" [routerLink]="['/archivo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="ctProjectApp.archivo.home.createLabel">
            Create a new Archivo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="archivos?.length === 0">
        <span jhiTranslate="ctProjectApp.archivo.home.notFound">No archivos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="archivos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tipo"><span jhiTranslate="ctProjectApp.archivo.tipo">Tipo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="archivo"><span jhiTranslate="ctProjectApp.archivo.archivo">Archivo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="ctProjectApp.archivo.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="extension"><span jhiTranslate="ctProjectApp.archivo.extension">Extension</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="usuario.id"><span jhiTranslate="ctProjectApp.archivo.usuario">Usuario</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let archivo of archivos ;trackBy: trackId">
                    <td><a [routerLink]="['/archivo', archivo.id, 'view']">{{ archivo.id }}</a></td>
                    <td>{{ archivo.tipo }}</td>
                    <td>{{ archivo.archivo }}</td>
                    <td>{{ archivo.nombre }}</td>
                    <td>{{ archivo.extension }}</td>
                    <td>
                        <div *ngIf="archivo.usuario">
                            <a [routerLink]="['/persona', archivo.usuario?.id, 'view']" >{{ archivo.usuario?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/archivo', archivo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/archivo', archivo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(archivo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="archivos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
