<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="archivo">
            <h2><span jhiTranslate="ctProjectApp.archivo.detail.title">Archivo</span> {{ archivo.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ctProjectApp.archivo.tipo">Tipo</span></dt>
                <dd>
                    <span>{{ archivo.tipo }}</span>
                </dd>
                <dt><span jhiTranslate="ctProjectApp.archivo.archivo">Archivo</span></dt>
                <dd>
                    <span>{{ archivo.archivo }}</span>
                </dd>
                <dt><span jhiTranslate="ctProjectApp.archivo.usuario">Usuario</span></dt>
                <dd>
                    <div *ngIf="archivo.usuario">
                        <a [routerLink]="['/persona', archivo.usuario?.id, 'view']">{{ archivo.usuario?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/archivo', archivo.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
