p {
  margin: 0rem;
}

.estilo_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100%;
  min-height: 80vh;
  height: 100% !important;
  background: #fff;

  .logo {
    width: 45%;
    margin-top: 3.121vw;
    margin-bottom: 2.081vw;
  }

  .titulo {
    // font-size: 25px;
    color: #151d5c;
    font: normal normal 300 2.081vw Roboto;
  }

  .video {
    width: 65%;
  }

  .botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin-top: 1.04vw;
    margin-bottom: 1.04vw;

    .registrar {
      background: #2699fb 0% 0% no-repeat padding-box;
      // width: 45%;
      width: 22.367vw;
      height: 8.843vw;
      border: none;
    }

    .ingresar {
      background: #1a2050 0% 0% no-repeat padding-box;
      // width: 45%;
      width: 22.367vw;
      height: 8.843vw;
      border: none;
    }

    .txt1 {
      color: white;
      margin: 0rem;
      font: normal normal normal 1.495vw Roboto;
    }

    .txt2 {
      color: white;
      margin: 0rem;
      // font-size: 2rem;
      font: italic normal 900 2.016vw Roboto;
      // font-weight: bold;
    }
  }

  .ofertas-destacadas {
    width: 100%;
    min-height: 281px;
    background: #304580 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .div-titulo {
      width: 75%;
      padding-bottom: 0.5rem;

      .titulo {
        text-align: left;
        font: normal normal normal 17px/23px Roboto;
        letter-spacing: 0px;
        color: #ffffff;
      }
    }

    .ofertas {
      display: flex;
      flex-direction: row;
      width: 75%;
      justify-content: space-between;

      p {
        margin: 0;
      }

      .oferta {
        width: 184px;
        min-height: 153px;
        background: #f8f8f8 0% 0% no-repeat padding-box;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-between;

        .oferta-arriba {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .info {
            display: flex;
            flex-direction: column;

            .negrita {
              text-align: left;
              font: normal normal bold 12px/17px Roboto;
              letter-spacing: 0px;
              color: #645d5d;
            }
          }

          .logo-oferta {
            width: 50px;
            height: 50px;
          }
        }

        .sin-negrita {
          text-align: left;
          font: normal normal normal 12px/17px Roboto;
          letter-spacing: 0px;
          color: #645d5d;
        }

        .button-ver {
          width: 64px;
          height: 23px;
          background: #2699fb 0% 0% no-repeat padding-box;
          text-align: center;
          font: normal normal normal 11px/12px Roboto;
          letter-spacing: 0px;
          color: #ffffff;
          border: none;
          align-self: flex-end;
          margin-top: 1rem;
        }
      }
    }
  }

  .buscar-ofertas {
    display: flex;
    flex-direction: column;
    width: 65%;

    .texto-imagen {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      .texto-explora {
        width: 315px;
        font-style: italic;
        font-weight: 900;
        font-size: 36px;
        font-family: Roboto;
        // font: italic normal 900 36px/43px Roboto;
        letter-spacing: 0px;
        color: #1a9fef;
      }
    }

    .inputs {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .input {
        width: 48%;

        .inputCiudades {
          background: #f5f5f5 0% 0% no-repeat padding-box;
          border: none;
          width: 100%;
          height: 48px;
          padding-left: 10px;
        }
      }
    }

    .boton-buscar {
      width: 95px;
      height: 24px;
      background: #151d5c 0% 0% no-repeat padding-box;
      color: white;
      border: none;
      font-family: Roboto;
      font-size: 15px;
    }
  }

  .titulo2 {
    font: normal normal 300 3.446vw Roboto;
    letter-spacing: 0px;
    color: #1a9fef;
    margin-top: 16px;
  }

  .imagenes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 65%;

    .img1 {
      height: 17.295vw;
    }

    .img2 {
      height: 18.726vw;
    }

    .img4 {
      height: 19.701vw;
    }
  }

  .haz-clic {
    background: #2699fb 0% 0% no-repeat padding-box;
    width: 100%;
    border: none;
    // font-size: 3rem;
    color: white;
    // font-weight: bold;
    font: italic normal medium 4.551vw Roboto;
    font-size: 4.551vw;
    font-family: 'Roboto';
    font-style: italic;
    height: 7.282vw;
  }

  .mensajes-diagonales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 4.161vw;
    margin-top: 1.04vw;
    width: 100%;
    background: #1a2050 0% 0% no-repeat padding-box;

    .diag1 {
      width: 17.815vw;
      display: flex;
      justify-content: center;
      align-items: center;
      // background: #1a2050 0% 0% no-repeat padding-box;
      // background: linear-gradient(-85deg, #1a2050 0%,#1a2050 50%, transparent 50%),
      // background: linear-gradient(-85deg, black 0%, black 50%, transparent 50%),
    }

    .diag24 {
      width: 17.815vw;
      background: #2699fb 0% 0% no-repeat padding-box;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -ms-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      transform: skew(-20deg);
      font-size: 0.52vw;
      // background: linear-gradient(-85deg, #2699fb 0%,#2699fb 50%, transparent 50%),

      .txtdiag {
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -ms-transform: skew(20deg);
        -o-transform: skew(20deg);
        transform: skew(20deg);
        font-size: 1vw;
      }
    }

    .diag3 {
      width: 24.707vw;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 1vw;
    }
  }

  .imagenes-final {
    position: relative;
    width: 100%;
    display: inline-flex;
    // height: 128px;

    .imgfooter {
      // height: 128px;
      width: 100%;
      // position: absolute;
    }

    .opacity {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      height: 8.322vw;
      width: 100%;
      background: #1a9fef 0% 0% no-repeat padding-box;
      opacity: 0.84;
      // font: normal normal medium 46px/49px Roboto;
      font-size: 2.991vw;
      font-family: Roboto;
      color: white;
    }
  }

  .haz-clic2 {
    background: #2699fb 0% 0% no-repeat padding-box;
    width: 100%;
    border: none;
    // font-size: 3rem;
    font: italic normal 900 3.901vw Roboto;
    color: white;
    // font-weight: bold;
    height: 6.697vw;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 900px) {
  .estilo_home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100%;
    min-height: 80vh;
    height: 100% !important;
    background: #fff;

    .logo {
      width: 62%;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    .titulo {
      // font-size: 25px;
      color: #151d5c;
      font: normal normal 300 100% Roboto;
    }

    .video {
      width: 65%;
    }

    .botones {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 60%;
      margin-top: 1rem;
      margin-bottom: 1rem;

      .registrar {
        background: #2699fb 0% 0% no-repeat padding-box;
        // width: 45%;
        width: 45%;
        // height: 136px;
        border: none;
        height: 2.5rem;
      }

      .ingresar {
        background: #1a2050 0% 0% no-repeat padding-box;
        // width: 45%;
        width: 45%;
        // height: 136px;
        border: none;
        height: 2.5rem;
      }

      .txt1 {
        color: white;
        margin: 0rem;
        font: normal normal normal 50% Roboto;
      }

      .txt2 {
        color: white;
        margin: 0rem;
        // font-size: 2rem;
        font: italic normal 900 70% Roboto;
        // font-weight: bold;
      }
    }

    .ofertas-destacadas {
      width: 100%;
      min-height: 281px;
      background: #304580 0% 0% no-repeat padding-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .div-titulo {
        width: 75%;
        padding-bottom: 0.5rem;

        .titulo {
          text-align: left;
          font: normal normal normal 17px/23px Roboto;
          letter-spacing: 0px;
          color: #ffffff;
        }
      }

      .ofertas {
        flex-wrap: wrap;
        justify-content: space-evenly;

        p {
          margin: 0;
        }

        .oferta {
          width: 184px;
          min-height: 153px;
          background: #f8f8f8 0% 0% no-repeat padding-box;
          display: flex;
          flex-direction: column;
          padding: 1rem;
          justify-content: space-between;
          margin-bottom: 1rem;

          .oferta-arriba {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .info {
              display: flex;
              flex-direction: column;

              .negrita {
                text-align: left;
                font: normal normal bold 12px/17px Roboto;
                letter-spacing: 0px;
                color: #645d5d;
              }
            }

            .logo-oferta {
              width: 50px;
              height: 50px;
            }
          }

          .sin-negrita {
            text-align: left;
            font: normal normal normal 12px/17px Roboto;
            letter-spacing: 0px;
            color: #645d5d;
          }

          .button-ver {
            width: 64px;
            height: 23px;
            background: #2699fb 0% 0% no-repeat padding-box;
            text-align: center;
            font: normal normal normal 11px/12px Roboto;
            letter-spacing: 0px;
            color: #ffffff;
            border: none;
            align-self: flex-end;
            margin-top: 1rem;
          }
        }
      }
    }

    .buscar-ofertas {
      display: flex;
      flex-direction: column;
      width: 95%;

      .texto-imagen {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 90%;

        .texto-explora {
          width: 315px;
          font-style: italic;
          font-weight: 900;
          font-size: small;
          font-family: Roboto;
          // font: italic normal 900 36px/43px Roboto;
          letter-spacing: 0px;
          color: #1a9fef;
        }

        .img {
          width: 55%;
        }
      }

      .inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        .input {
          width: 48%;

          .inputCiudades {
            background: #f5f5f5 0% 0% no-repeat padding-box;
            border: none;
            width: 100%;
            height: 48px;
            padding-left: 10px;
            font-size: small;
          }
        }
      }

      .boton-buscar {
        width: 95px;
        height: 24px;
        background: #151d5c 0% 0% no-repeat padding-box;
        color: white;
        border: none;
        font-family: Roboto;
        font-size: 15px;
      }
    }

    .titulo2 {
      font: normal normal 300 130% Roboto;
      letter-spacing: 0px;
      color: #1a9fef;
    }

    .imagenes {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 65%;

      .img1 {
        width: 35%;
        height: auto;
      }

      .img2 {
        width: 35%;
        height: auto;
      }

      .img4 {
        width: 35%;
        height: auto;
      }
    }

    .haz-clic {
      background: #2699fb 0% 0% no-repeat padding-box;
      width: 100%;
      border: none;
      color: white;
      font-size: 100%;
      font-family: 'Roboto';
      font-style: italic;
      height: 3rem;
    }

    .mensajes-diagonales {
      display: flex;
      flex-direction: row;
      justify-content: center;
      height: 2rem;
      margin-top: 1rem;
      width: 100%;
      background: #1a2050 0% 0% no-repeat padding-box;

      .diag1 {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        // background: #1a2050 0% 0% no-repeat padding-box;
        // background: linear-gradient(-85deg, #1a2050 0%,#1a2050 50%, transparent 50%),
        // background: linear-gradient(-85deg, black 0%, black 50%, transparent 50%),
      }

      .diag24 {
        width: 25%;
        background: #2699fb 0% 0% no-repeat padding-box;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 50%;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        transform: skew(-20deg);
        // background: linear-gradient(-85deg, #2699fb 0%,#2699fb 50%, transparent 50%),

        .txtdiag {
          -webkit-transform: skew(20deg);
          -moz-transform: skew(20deg);
          -ms-transform: skew(20deg);
          -o-transform: skew(20deg);
          transform: skew(20deg);
          font-size: 100%;
        }
      }

      .diag3 {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 50%;
      }
    }

    .imagenes-final {
      position: relative;
      width: 100%;
      display: inline-flex;
      // height: 128px;

      .imgfooter {
        // height: 128px;
        width: 100%;
        // position: absolute;
      }

      .opacity {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 0;
        // height: 128px;
        width: 100%;
        background: #1a9fef 0% 0% no-repeat padding-box;
        opacity: 0.84;
        // font: normal normal medium 46px/49px Roboto;
        font-size: 46px;
        font-family: Roboto;
        color: white;

        .eresEmpresa {
          font-size: 14px;
        }
      }
    }

    .haz-clic2 {
      background: #2699fb 0% 0% no-repeat padding-box;
      width: 100%;
      border: none;
      color: white;
      font-size: 100%;
      font-family: 'Roboto';
      font-style: italic;
      height: 3rem;
    }
  }
  // .estilo_home {
  //   display: flex;
  //   flex-direction: column-reverse;
  //   justify-content: space-between;
  //   align-items: center;
  //   width: 100%;
  //   min-width: 100vw;
  //   min-height: 100vh;
  //   height: 100% !important;
  //   background: transparent linear-gradient(0deg, #314681 0%, #1a2050 100%) 0% 0% no-repeat padding-box;

  //   .estilo_imagen {
  //     width: 80%;
  //     right: auto;
  //     bottom: auto;
  //     padding: 0rem;
  //     position: inherit;
  //     align-self: flex-end;
  //     background: transparent 0% 0% no-repeat padding-box;
  //     mix-blend-mode: lighten;
  //   }

  //   .estilo_logo {
  //     display: initial;
  //     width: 100%;
  //     padding: 2rem 0rem;
  //   }

  //   .div_centro {
  //     display: flex;
  //     flex-direction: column;
  //     width: 70%;
  //     height: 100%;
  //     margin-left: 0rem;
  //     padding: 0rem;
  //     background: none;
  //     z-index: 1;

  //     .titulo2 {
  //       width: auto;
  //       height: auto;
  //       text-align: left;
  //       font: Bold 20px Roboto;
  //       letter-spacing: 0px;
  //       color: #ffffff;
  //       z-index: 10;
  //       background: none;
  //       opacity: 1;
  //     }

  //     .texto3 {
  //       width: auto;
  //       height: auto;
  //       text-align: left;
  //       font: 15px Roboto;
  //       letter-spacing: 0.4px;
  //       color: #ffffff;
  //       opacity: 1;
  //     }

  //     .boton-buscar-trabajo {
  //       width: 100%;
  //       height: auto;
  //       padding: 0.8rem 0rem;
  //       background: #2699fb 0% 0% no-repeat padding-box;
  //       border-radius: 24px;
  //       opacity: 1;
  //       margin-bottom: 1rem;
  //       text-align: center;
  //       font: Bold 16px/19px Arial;
  //       letter-spacing: 0px;
  //       color: #ffffff;
  //       opacity: 1;
  //     }

  //     .texto-boton-1 {
  //       text-align: center;
  //       font: Bold 16px/19px Arial;
  //       letter-spacing: 0px;
  //       color: #ffffff;
  //       opacity: 1;
  //     }

  //     .boton-ofrecer-trabajo {
  //       width: 295px;
  //       height: 48px;
  //       background: #fb8826 0% 0% no-repeat padding-box;
  //       border-radius: 24px;
  //       opacity: 1;
  //       text-align: center;
  //       font: Bold 16px/19px Arial;
  //       letter-spacing: 0px;
  //       color: #ffffff;
  //       opacity: 1;
  //     }

  //     .textoResp {
  //       display: initial;
  //       text-align: center;
  //     }

  //     .boton-ingresar {
  //       display: initial;
  //     }
  //   }
  // }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 900px) {
  // .estilo_logo {
  //   display: none;
  // }

  // .textoResp {
  //   display: none;
  // }

  // .boton-ingresar {
  //   display: none;
  // }
}
