<div class="estilo_home">
    <img class="estilo_imagen" src="../../content/images/component.png">
    <div class="div_centro">
        <p class="titulo2">Haz parte del Club en el que puedes buscar y ofrecer empleo.</p>
        <p class="texto3">Registra tu hoja de vida GRATIS y encuentra el trabajo que necesitas.</p>
        <button class="boton-buscar-trabajo" value="Buscar trabajo" style="color:white;">Buscar trabajo</button>
        <button class="boton-ofrecer-trabajo" value="Buscar trabajo" style="color:white;">Ofrecer trabajo</button>
    </div>
</div>
