<div>
    <router-outlet name="navbar-ct"></router-outlet>
</div>
<div class="estilo_home">
    <img class="estilo_imagen" src="../../content/images/component.png">
    <div class="div_centro">
        <p class="titulo2">Haz parte del Club en el que puedes buscar y ofrecer empleo.</p>
        <p class="texto3">Registra tu hoja de vida GRATIS y encuentra el trabajo que necesitas.</p>
        <button class="btn boton-buscar-trabajo shadow-none" value="Buscar trabajo" style="color:white;" (click)="abrirBuscarTrabajo()">Registrar tu hoja de vida</button>
        <button class="btn boton-ofrecer-trabajo shadow-none" value="Buscar trabajo" style="color:white;" (click)="abrirOfrecerTrabajo()">Ofrecer trabajo</button>
        <p class="texto3 textoResp">Si ya estas registrado</p>
        <button class="btn boton-buscar-trabajo boton-ingresar shadow-none" value="Ingresar" style="color:white;" (click)="ventanaInicioSesion()">Ingresar</button>
    </div>
    <img class="estilo_logo" src="../../content/images/logo_empresa.png">
</div>