<div class='container'>
    <div class="text">
    <p class="nosotros">Nosotros</p>
    <p class="parrafo_1">EL CLUB DEL TRABAJO es una plataforma digital que ofrece a nuestros socios crear un sistema de relacion directa con el empleo ideal, agilizando y facilitando los procesos de la gestión del talento humano.</p>
    <p class="parrafo_2">Tenemos a disposición diversos candidatos, en el caso de las nuevas necesidades de empleabilidad de manera permanente. Todo ello, sin necesidad de abrir nuevos y costosos procesos de selección y a la vez se reducen los tiempos de incorporación de nuestros socios a las diferentes empresas inscritas en el Club.</p>
    </div>
    <img src="../../../content/images/nosotros.png" class="img">
</div>