<div class="app-loading" *ngIf="cmNosotros === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class='contenedor' *ngIf="cmNosotros !== null">
    <div class="contenido">
        <div class="text">
        <p class="nosotros">{{Nosotros}}</p>
        <p class="parrafo_1">{{Texto_1}}</p>
        <p class="parrafo_2">{{Texto_2}}</p>
        </div>
        <img src="../../../content/images/nosotros.png" class="img">
    </div>
    <div>
        <router-outlet name="footer"></router-outlet>
    </div>
</div>