.container {
  width: 80%;
  display: flex;
  padding-top: 2rem;
  flex-direction: row;
  min-height: 80vh;
}
.text {
  display: flex;
  flex-direction: column;
  height: min-content;
  width: 55%;

  .nosotros {
    font-family: 'Roboto';
    font-size: 72px;
    color: #2699fb;
    font-weight: 400;
    letter-spacing: 0px;
    opacity: 1;
  }

  .parrafo_1 {
    color: #707070;
    font-family: 'Roboto';
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 16px;
    line-height: 30px;
  }

  .parrafo_2 {
    color: #707070;
    font-family: 'Roboto';
    font-weight: normal;
    margin-bottom: 2rem;
    font-size: 16px;
    line-height: 30px;
  }
}
.img {
  width: 45%;
  height: min-content;
  align-self: center;
}
