<div class="container" style="margin: 40px 0 40px 0">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2 text-center">
            <img class="foto-perfil" src="../../../content/images/Image 28.png">
            <img class="codigo" src="../../../content/images/frame.png">
            <button class="btn shadow-none bg-transparent boton-regresar" (click)="regresarPerfil()">
                <fa-icon icon="chevron-left"></fa-icon>
            </button>
        </div>
        <div class="col-md-5">
            <div class="informacion-hoja-vida">
                <pdf-viewer [src]="pdfHojaVida64Render" [original-size]="false"></pdf-viewer>
            </div>
            <button (click)="descargarArchivoComprimido()" class="btn ml-auto shadow-none boton-descargar">{{lblDescargar}}</button>
        </div>
    </div>
</div>
