<div class="app-loading" *ngIf="cmOfertaPublicada === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="contenedor" *ngIf="cmOfertaPublicada !== null">
    <div class="div_titulo" style="width: 90%;">
        <p class="titulo">Oferta publicada</p>
        <p class="subtitulo">Se ha descontado una (1) unidad de tu producto, te quedan cero (0)</p>
        <button class="btn boton-base">
            <fa-icon icon="eye" class="border-icon" style="
            background: #BCFAF3 0% 0% no-repeat padding-box;"></fa-icon>
            <div class="div-info-boton">
                <p class="titulo-boton" (click)="verOfertas()">Ver Ofertas</p>
            </div>
        </button>
    </div>
    <div class="div_centro">
        <div class="titulo_centro">
            <img class="foto-perfil rounded-circle" [src]="imagen?.archivo || urlImgDefault">
            <p class="titulo_nombre">Bavaria SA: </p>
            <button class="btn titulo-boton-contenedor">
                <p class="titulo-boton">Editar oferta</p>
            </button>
        </div>
        <p class="info_empresa">Busca Profesional en diseño gráfico, publicidad y/o licenciatura en artes gráficas ESPECIALISTA en diseño; experiencia de 4 años en diseño y realización de banners, splashscreens, newsletters, landingpages y usando HTML, CSS y JavaScript. Conocimientos en maquetación de HTML5, y CSS3 para proyectos web y móvil (web responsiva y aplicaciones hibridas).</p>
        <div class="row_info">
            <div class="column_info">
                <p class="titulo_info">Titulo:</p>
                <p class="descripcion_info">Profesional</p>
            </div>
            <div class="column_info">
                <p class="titulo_info">Cargo:</p>
                <p class="descripcion_info">Diseñador</p>
            </div>
        </div>
        <div class="row_info">
            <div class="column_info">
                <p class="titulo_info">Titulo:</p>
                <p class="descripcion_info">Profesional</p>
            </div>
            <div class="column_info">
                <p class="titulo_info">Cargo:</p>
                <p class="descripcion_info">Diseñador</p>
            </div>
        </div>
        <div class="row_info">
            <div class="column_info">
                <p class="titulo_info">Titulo:</p>
                <p class="descripcion_info">Profesional</p>
            </div>
            <div class="column_info">
                <p class="titulo_info">Cargo:</p>
                <p class="descripcion_info">Diseñador</p>
            </div>
        </div>
        <div class="row_info">
            <div class="column_info">
                <p class="titulo_info">Titulo:</p>
                <p class="descripcion_info">Profesional</p>
            </div>
        </div>
    </div>
</div>