<div class="contenedor">
    <div class="div-center">
        <div class="botones-arriba">
            <button class="btn boton-no-clicked" (click)="crearOferta()">
                <fa-icon [icon]="faCommentDots" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Crear oferta</p>
                </div>
            </button>
            <button class="btn boton-clicked" (click)="editarPerfil()">
                <fa-icon [icon]="faEllipsisH" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Editar perfil</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="clubEmpresas()">
                <fa-icon icon="suitcase" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Club de empresas</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="verOferta()">
                <fa-icon icon="eye" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Controla tus ofertas</p>
                </div>
            </button>
            <button class="btn boton-no-clicked" (click)="membresia()">
                <fa-icon [icon]="faStar" class="border-icon" style="
                background: #BCD4FA 0% 0% no-repeat padding-box;"></fa-icon>
                <div class="div-info-boton">
                    <p class="titulo-boton">Membresía</p>
                </div>
            </button>
        </div>
        <div class="div-infos">
            <form [formGroup]="formEmpresa" (ngSubmit)="onSubmit()">
            <p class="estilo_titulo">Razón social: {{formEmpresa.get('razonSocial')?.value}}</p>
            <div class="row" style="margin-bottom: 2rem">
                <a class="image" (click)="subirdocu.click()">
                    <div *ngIf="imagen?.archivo">
                        <img class="foto-perfil rounded-circle" [src]="imagen?.archivo">
                    </div>
                    <div *ngIf="!imagen?.archivo">
                        <fa-icon icon="upload" class="border-icon"></fa-icon>
                    </div>
                </a>
                <input id="file-upload" style="display: none;" #subirdocu type="file" accept=".png, .jpeg, .jpg"
                                (change)="cargarImagen($event, tipoArchivo.IMAGEN_PERFIL)" />
                <div class="info-arriba">
                    <p class="data">{{formEmpresa.get('id')?.value}}</p>
                    <p class="label">ID</p>
                    <p class="data">{{formEmpresa.get('numeroDocumento')?.value}}</p>
                    <p class="label">NIT</p>
                </div>
                <div class="info-arriba">
                    <p class="data">{{formEmpresa.get('sector')?.value}}</p>
                    <p class="label">Sector</p>
                    <p class="data">{{formEmpresa.get('subsector')?.value}}</p>
                    <p class="label">Subsector</p>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Nombre comercial de la empresa <span
                            class="estilo_campo_requerido">*</span></p>
                    <input type="text" class="estilo_inputs" formControlName="razonComercial" oninput="this.value = this.value.toUpperCase()">
                    <small *ngIf="formEmpresa.get('razonComercial')?.errors?.required"
                        class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                    <small *ngIf="formEmpresa.get('razonComercial')?.errors?.pattern"
                        class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <p class="estilo_label">Razón Social <span
                            class="estilo_campo_requerido">*</span></p>
                    <input type="text" class="estilo_inputs" formControlName="razonSocial" oninput="this.value = this.value.toUpperCase()">
                    <small *ngIf="formEmpresa.get('razonSocial')?.errors?.required"
                        class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                    <small *ngIf="formEmpresa.get('razonSocial')?.errors?.pattern"
                        class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">NIT <span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="numeroDocumento">
                        <small *ngIf="formEmpresa.get('numeroDocumento')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">Teléfono <span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="telefono">
                        <small *ngIf="formEmpresa.get('telefono')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('telefono')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">Sector empresa <span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="sector">
                        <small *ngIf="formEmpresa.get('sector')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('sector')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">Subsector empresa <span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="subsector">
                        <small *ngIf="formEmpresa.get('subsector')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('subsector')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">Página web <span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="webPage">
                        <small *ngIf="formEmpresa.get('webPage')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('webPage')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">Cantidad empleados <span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="cantidadEmpleados">
                        <small *ngIf="formEmpresa.get('cantidadEmpleados')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('cantidadEmpleados')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group-descripcion">
                    <p class="estilo_label">Descripción de la empresa <span class="estilo_campo_requerido">
                            *</span></p>
                    <textarea formControlName="descripcion" class="form-control text-area" rows="4"></textarea>
                    <small *ngIf="formEmpresa.get('descripcion')?.errors?.required"
                        class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                    <small *ngIf="formEmpresa.get('descripcion')?.errors?.pattern"
                        class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">Nombre del representante laboral <span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="nombreRepresentante">
                        <small *ngIf="formEmpresa.get('nombreRepresentante')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('nombreRepresentante')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">Apellidos del representante laboral <span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="apellidosRepresentante">
                        <small *ngIf="formEmpresa.get('apellidosRepresentante')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('apellidosRepresentante')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">Correo electrónico <span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="email">
                        <small *ngIf="formEmpresa.get('email')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('email')?.errors?.email"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">Teléfono representante<span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="telefonoRep">
                        <small *ngIf="formEmpresa.get('telefonoRep')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('telefonoRep')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <!-- <p class="estilo_label">Ubicación y/o sucursales <span
                        class="estilo_campo_requerido">*</span> <a (click)="addCiudad()"><fa-icon icon="upload" class="border-icon"></fa-icon></a></p>
                    <div class="form-group" >
                        <select formControlName="ciudad" class="estilo_inputs" >
                            <option [ngValue]="null" disabled>{{labels.SELECCIONE_LABEL}}</option>
                            <option
                                [ngValue]="municipio.codigo == formEmpresa.get('ciudad')!.value ? formEmpresa.get('ciudad')!.value: municipio.codigo"
                                *ngFor="let municipio of municipiosAcademica">
                                {{ municipio.nombre }}
                            </option>
                        </select>
                        <small *ngIf="formEmpresa.get('ciudad')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('ciudad')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div> -->
                    <!-- <div class="form-group">
                        <p class="estilo_label">Ubicación y/o sucursales</p>
                        <div class="file_upload_licence">
                            <mat-form-field appearance="fill" class="multiSelect">
                                <mat-select formControlName="ciudad" multiple>
                                    <mat-option *ngFor="let municipio of municipiosAcademica" 
                                    [value]="municipio.codigo === formEmpresa.get('ciudad')!.value ? formEmpresa.get('ciudad')!.value : municipio.codigo">
                                    {{ municipio.nombre }}
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <p class="estilo_label">{{labels.CIUDAD_LABEL}} <span
                                class="estilo_campo_requerido">*</span></p>
                        <select formControlName="ciudad" class="estilo_inputs">
                        <option [ngValue]="null" disabled>{{labels.SELECCIONE_LABEL}}</option>
                        <option
                        [ngValue]="municipio.codigo === formEmpresa.get('ciudad')!.value ? formEmpresa.get('ciudad')!.value : municipio.codigo"
                            *ngFor="let municipio of municipiosAcademica">
                            {{ municipio.nombre }}
                        </option>
                        </select>
                        <small *ngIf="formEmpresa.get('ciudad')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                    </div>
                </div>
                <div class="column">
                    <div class="form-group">
                        <p class="estilo_label">Dirección<span
                                class="estilo_campo_requerido">*</span></p>
                        <input type="text" class="estilo_inputs" formControlName="direccion">
                        <small *ngIf="formEmpresa.get('direccion')?.errors?.required"
                            class="form-text text-danger">{{labels.CAMPO_OBLIGATORIO_LABEL}}</small>
                        <small *ngIf="formEmpresa.get('direccion')?.errors?.pattern"
                            class="form-text text-danger">{{labels.CARACTERES_NO_PERMITIDOS}}</small>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <button (click)="onSubmit()" class="btn boton_siguiente" [disabled]="formEmpresa.invalid">
                        {{labels.SIGUIENTE_LABEL}}
                </button>
            </div>
            </form>
        </div>
        <button class="btn boton-volver" (click)="backClicked()">
            <fa-icon icon="chevron-left" class="border-icon" ></fa-icon>
            <p class="titulo-boton">Volver</p>
        </button>
    </div>
</div>
<div class="footer">
    <a href="https://instagram.com/clubdeltrabajo?igshid=1m37k1eb9p16a" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" path="fill: currentColor !important;" src="../../../content/images/instagram.png"></a>
    <a href="https://twitter.com/ClubdelTrabajo" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" src="../../../content/images/twitter.png"></a>
    <a href="https://www.facebook.com/Club-del-Trabajo-100955765079986/" target="_blank" style="margin-right: 1.52vw;">
        <img class="icono" src="../../../content/images/facebook.png"></a>
</div>