.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .div-center {
    display: flex;
    width: 51.56vw;
    flex-direction: column;
    align-items: center;
    width: min-content;
    align-self: center;

    .botones-arriba {
      display: flex;
      flex-direction: row;
      width: 51.56vw;
      flex-wrap: wrap;

      .boton-clicked {
        @extend .boton-base;
        background: #d5d0e8 0% 0% no-repeat padding-box;
      }

      .boton-no-clicked {
        @extend .boton-base;
        background: #f7f7f7 0% 0% no-repeat padding-box;
      }

      .boton-base {
        width: 16.97vw;
        height: 2.666vw;
        border-radius: 0.845vw;
        opacity: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0rem 1.04vw;
        margin-top: 0.325vw;
        align-self: flex-start;

        .border-icon {
          margin-right: 0.325vw;
          width: 2.211vw;
          height: 2.211vw;
          opacity: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
        }

        .div-info-boton {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;

          .titulo-boton {
            font-size: 0.91vw;
            font-family: Arial, Helvetica, sans-serif;
            color: #6d7184;
            letter-spacing: 0px;
            opacity: 1;
            margin: 0rem;
            text-align: initial;
          }
        }
      }
    }

    .div-infos {
      width: 51.56vw;
      background: #edeff2 0% 0% no-repeat padding-box;
      border-radius: 1.951vw;
      opacity: 1;
      margin-top: 1.951vw;

      .estilo_titulo {
        text-align: left;
        font-size: 1.3vw;
        font-family: 'Open Sans';
        font-weight: bold;
        letter-spacing: 0px;
        color: #1b2455;
        opacity: 1;
        padding: 3.121vw 0rem 1.04vw 2.601vw;
      }

      .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin: 0rem;

        .info-arriba {
          width: 30%;
          padding-left: 2.601vw;

          .data {
            margin: 0;
            font: normal normal normal 0.91vw Arial;
          }

          .label {
            font: normal normal bold 0.91vw Arial;
          }
        }

        .image {
          width: 23%;
          margin-left: 2.081vw;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px dashed #707070;
          background-color: white;

          .foto-perfil {
            width: 100%;
          }
        }

        .column {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .form-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;

            .estilo_label {
              width: 100%;
              text-align: left;
              font-size: 0.91vw;
              font-family: Arial;
              letter-spacing: 0px;
              color: #1b2455;
              opacity: 1;
              padding-left: 1.04vw;
              margin-bottom: 0.52vw;

              .estilo_campo_requerido {
                text-align: left;
                margin-bottom: 0.52vw;
                font: 1.1vw Arial;
                letter-spacing: 0px;
                color: #fd2b4c;
                opacity: 1;
              }
            }

            .estilo_inputs {
              width: 100%;
              min-height: 3.121vw;
              font-weight: bold;
              background: #ffffff 0% 0% no-repeat padding-box;
              border-radius: 3.251vw;
              border-width: 0rem;
              opacity: 1;
              padding-right: 1.04vw;
              padding-left: 1.56vw;
              font-size: 0.91vw;
            }

            .estilo_inputs:focus {
              outline: none;
            }

            .text-danger {
              font-size: 0.715vw;
            }

            .file_upload_licence {
              width: 100%;
              min-height: 3.121vw;
              // background: linear-gradient(to right, rgba(255, 255, 255, 1) 85%, rgba(0, 0, 0, 1) 20%);
              border-radius: 3.251vw;
              border-width: 0rem;
              opacity: 1;
              display: flex;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;
              // padding-left: 1.56vw;
              font-weight: bold;

              .checkbox {
                margin-left: 1.04vw;
              }

              .multiSelect {
                width: 100%;
                height: 3.121vw;
                border-width: 0rem 0.065vw 0rem 0rem;
                border-color: lightgray;
                border-radius: 3.251vw;
              }
            }

            .file_upload {
              width: 15%;
              height: 100%;
              min-height: 3.121vw;
              background: #ffffff 0% 0% no-repeat padding-box;
              border-radius: 0rem 50rem 50rem 0rem;
              border-width: 0rem;
              opacity: 1;
              display: flex;
              align-items: center;

              .label_file {
                margin-bottom: 0rem;
                width: 1.56vw;
                height: 1.3vw;
                font-size: 1vw;
              }

              .file {
                display: none;
              }
            }

            .estilo_nit {
              width: 100%;
              height: 3.121vw;
              background: #ffffff 0% 0% no-repeat padding-box;
              border-radius: 50rem;
              border-width: 0rem;
              opacity: 1;
              font-weight: bold;
              display: flex;
              flex-direction: row;
            }
            .archivo_subido {
              margin-left: 0rem;
              right: 0;
            }
          }
        }

        .form-group-2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 95%;

          .estilo_label {
            width: 100%;
            text-align: left;
            font-size: 0.91vw;
            font-family: Arial;
            letter-spacing: 0px;
            color: #1b2455;
            opacity: 1;
            padding-left: 1.04vw;
            margin-bottom: 0.52vw;
          }

          .estilo_inputs {
            min-height: 3.121vw;
            padding-right: 1.04vw;
            padding-left: 1.56vw;
            font-size: 0.91vw;
            width: 100%;
            border: none;
            border-radius: 1.495vw;
          }
        }

        .form-group-descripcion {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 90%;
          margin-bottom: 1.04vw;

          .estilo_label {
            width: 100%;
            text-align: left;
            font-size: 0.91vw;
            font-family: Arial;
            letter-spacing: 0px;
            color: #1b2455;
            opacity: 1;
            padding-left: 1.04vw;
            margin-bottom: 0.52vw;
          }
        }
      }
    }

    .boton_siguiente {
      // width: 295px;
      // height: 48px;
      // background: #f54b1d 0% 0% no-repeat padding-box;
      background: #2699fb 0% 0% no-repeat padding-box;
      // border-radius: 13px;
      opacity: 1;
      margin-top: 1.56vw;
      width: 8.583vw;
      height: 2.016vw;
      border-radius: 1.56vw;
      text-align: center;
      font: normal normal normal 0.65vw Roboto;
      letter-spacing: 0px;
      padding: 0px;
      color: #ffffff;
    }
  }

  .form-control {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.375vw 0.75vw;
    font-size: 0.9vw;
    font-weight: 400;
    line-height: 1.5;
    color: #7b8a8b;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25vw;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #9ba0af;
  height: 7.672vw;
  width: 100%;

  .icono {
    width: 1.248vw;
    height: 1.248vw;
  }
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-wrapper {
  padding-bottom: 0rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: white !important;
  height: 3.121vw;
  padding: 0 0.78vw 0 0.78vw !important;
  border-radius: 50rem !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(0%) !important;
}
@media only screen and (min-width: 900px) {
  .row {
    min-height: 6.502vw;
    .info-arriba {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
@media only screen and (max-width: 900px) {
  .contenedor {
    .div-center {
      width: 100%;
      .botones-arriba {
        width: 100%;
        justify-content: center;
        margin-bottom: 1rem;
        flex-direction: row;
        flex-wrap: wrap;

        .boton-base {
          width: 261px;
          height: 41px;
          border-radius: 13px;
          padding: 0rem 1rem;
          margin-top: 5px;

          .border-icon {
            margin-right: 0.3rem;
            width: 34px;
            height: 34px;
            border-radius: 50%;
          }

          .div-info-boton {
            height: 100%;

            .titulo-boton {
              font-size: 14px;
            }
          }
        }
      }
      .boton_siguiente {
        opacity: 1;
        margin-top: 1.5rem;
        width: 132px;
        height: 31px;
        border-radius: 24px;
        text-align: center;
        font: normal normal normal 10px/12px Roboto;
        letter-spacing: 0px;
        color: #ffffff;
      }
      .div-infos {
        width: 100%;

        .estilo_titulo {
          font-size: 20px;
          padding: 3rem 0rem 1rem 2.5rem;
        }

        .row {
          flex-direction: column;
          align-items: center;

          .info-arriba {
            width: 100%;
            padding-left: 2rem;

            .data {
              font: normal normal normal 14px/16px Arial;
            }

            .label {
              font: normal normal bold 14px/16px Arial;
            }
          }

          .image {
            width: 23%;
            margin-left: 2rem;

            .foto-perfil {
              width: 100%;
            }
          }

          .column {
            width: 100%;

            .form-group {
              width: 90%;

              .estilo_label {
                font-size: 0.875rem;
                padding-left: 1rem;
                margin-bottom: 0.5rem;

                .estilo_campo_requerido {
                  text-align: left;
                  margin-bottom: 0.5rem;
                  font: 1.1rem Arial;
                }
              }

              .estilo_inputs {
                min-height: 3rem;
                padding-right: 1rem;
                padding-left: 1.5rem;
                font-size: 0.875rem;
                width: 100%;
                border: none;
                border-radius: 23px;
              }

              .text-danger {
                font-size: 10px;
              }

              .file_upload_licence {
                width: 100%;
                min-height: 3rem;
                border-radius: 50rem;
                border-width: 0rem;

                .checkbox {
                  margin-left: 1rem;
                }

                .multiSelect {
                  width: 100%;
                  height: 3rem;
                  border-width: 0rem 1px 0rem 0rem;
                  border-radius: 50rem;
                }
              }

              .estilo_nit {
                width: 100%;
                height: 3rem;
                background: #ffffff 0% 0% no-repeat padding-box;
                border-radius: 50rem;
                border-width: 0rem;
                // padding-left: 1.5rem;
                opacity: 1;
                font-weight: bold;
                display: flex;
                flex-direction: row;
              }

              .file_upload {
                width: 15%;
                height: 100%;
                min-height: 3rem;
                background: #ffffff 0% 0% no-repeat padding-box;
                border-radius: 0rem 50rem 50rem 0rem;
                border-width: 0rem;
                opacity: 1;
                display: flex;
                align-items: center;

                .label_file {
                  margin-bottom: 0rem;
                  width: 1.5rem;
                  height: 1.3rem;
                  font-size: 1rem;
                }

                .file {
                  display: none;
                }
              }
            }
          }

          .form-group-2 {
            margin-bottom: 1rem;
            .estilo_label {
              font-size: 0.875rem;
              padding-left: 1rem;
              margin-bottom: 0.5rem;
            }

            .estilo_inputs {
              min-height: 3rem;
              padding-right: 1rem;
              padding-left: 1.5rem;
              font-size: 0.875rem;
              width: 100%;
              border: none;
              border-radius: 23px;
            }
          }

          .form-group-descripcion {
            width: 90%;
            margin-bottom: 1rem;

            .estilo_label {
              font-size: 0.875rem;
              padding-left: 1rem;
              margin-bottom: 0.5rem;
            }
          }
        }
      }
    }
    .form-control {
      display: block;
      width: 100%;
      height: auto;
      padding: 0.375rem 0.75rem;
      font-size: 0.975rem;
      font-weight: 400;
      line-height: 1.5;
      color: #7b8a8b;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #9ba0af;
    height: 118px;
    width: 100%;

    .icono {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
