<div class="app-loading" *ngIf="cmInicioSesion === null">
    <div class="lds-css ng-scope">
        <div class="lds-pacman">
            <div><div></div><div></div><div></div></div>
            <div><div></div><div></div><div></div></div>
        </div>
    </div>
</div>
<div class="estilo_home" *ngIf="cmInicioSesion !== null">
    <img class="logo" src="../../../content/images/logo_cdt_fondo2.png">
    <div class="div_centro">
        <h3 class="titulo1">{{Mensaje_Bienvenido}}</h3>
        <p class="text">{{Inicio_Registrado}}</p>
        <input class="input_inicio_sesion" maxlength="50" type="text" name="username" [(ngModel)]="login.username"
            placeholder="Correo" [ngModelOptions]="{standalone: true}" (blur)="deleteSpace('username')">
        <small class="form-text text-danger" style="margin-top: 0px;" *ngIf="usernameInvalid">
            {{Danger_Campo}}
        </small>
        <br>
        <div class="row_documento" style="margin-top: 0.520vw;">
            <input class="input-answer" maxlength="30" [type]="inputPrimero" name="password" [(ngModel)]="login.password"
            placeholder="Contraseña" [ngModelOptions]="{standalone: true}" (keyup.enter)="ventanaPerfil()">
            <button class="button-resolver" (click)="clicPrimerInput()">
                <img class="icono" [src]="eyePrimero">
            </button>
        </div>
        <small class="form-text text-danger" style="margin-top: 0px;" *ngIf="passwordInvalid">
            {{Danger_Campo}}
        </small>
        <br>
        <button class="button_iniciar_sesion" (click)="ventanaPerfil()">{{Inicio_Sesion}}</button>
        <a class="recoverPassword" (click)="ventanaRecuperar()">{{Olvidaste_Contra}}</a>
        <p class="goRegister">{{No_Registrado}} <a (click)="ventanaRegistrar()">{{Hazlo_Aqui}}</a></p>
    </div>
</div>
