<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="institucion">
            <h2><span jhiTranslate="ctProjectApp.institucion.detail.title">Institucion</span> {{ institucion.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="ctProjectApp.institucion.institucion">Institucion</span></dt>
                <dd>
                    <span>{{ institucion.institucion }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/institucion', institucion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
